[2011-06-15 02:48] SpaceManiac opened #4 "Item pickup entities"
These act as I'm sure you expect they would. At present blocks go directly to inventory - pickup entities will be needed to make Glowstone closer to normal Minecraft.

[2014-02-18 08:35] SpaceManiac opened #90 "Extra configuration"
CraftBukkit offers advanced configuration through `permissions.yml`, `help.yml`, and most recently `commands.yml` (where aliases have been moved). Support for these configuration files (possibly with customizable paths) should be added.

* [x] http://wiki.bukkit.org/Permissions.yml
* [ ] http://wiki.bukkit.org/Help.yml
* [x] http://wiki.bukkit.org/Commands.yml

Permissions and help customization s

[2014-06-07 04:40] dequis opened #104 "Error while serializing NBT after /give player AIR"
[code]

The stone (or any of the items given later) didn't appear in the player inventory in the minecraft UI, but the error didn't appear until I disconnected it

[2014-09-04 20:56] dumptruckman opened #155 "Make bows shoot arrows, but...."
Consider making it so they don't consume arrows with itemmeta somehow.  I suppose sometimes you want them to be able to so maybe new, specific, itemmeta needs to be added for arrows.

[2014-09-05 16:34] grzegorz2047 opened #157 "Shutdown bug"
Server doesn't shutdown properly when I use stop command. I have some plugins which work flawless on Bukkit but here bugs.
Here is stackprint when server is shutting down:
http://wklej.to/h9inV
Also one of my primary plugins had problem with PlayerLoginEvent.
http://wklej.to/eOzom
and java class where stacktrace reference is here:
https://github.com/Xephi/AuthMeReloaded/blob/master/src/main/java/f

[2014-09-07 18:23] turt2live opened #205 "Pick block not working for all blocks"
Known cases:

- Lit redstone ore (you can pick the non-lit version, but step on it and pick it causes issues)

[2014-09-12 02:25] dequis opened #261 "ClearLagg's area command needs GlowEntity.getNearbyEntities()"
It complains about `Thats not an integer`, but the exact same command in craftbukkit works.

Oddly, `/lagg tpchunk <x> <z> <world>` works.

Yes I know it's a command about entities and there are none to clear

[2014-09-21 11:34] Tonodus opened #330 "BlockPlacementHandler ignores Flint&Steel clicking TNT"
It seems like this line causes problems:
https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/net/handler/play/player/BlockPlacementHandler.java#L81

It compares the ItemStack the player has currently in hand (on the server side) and the information from the packet send from the player. If they don't match the server just does nothing.

From my testing it seems that the

[2014-10-12 17:20] turt2live opened #418 "Strange protocol problem"
I couldn't find a directly related ticket, but I did get this exception on a public-facing test server overnight.

[code]

IP is located in `Tianjin, Tianjin, China` according to Ultros on espernet.

[2014-10-12 20:31] turt2live opened #421 "Rare exception when 40+ clients disconnect in the same tick"
[code]

No other information available.

[2014-11-08 06:59] turt2live opened #523 "Whitelist issues"
Because the whitelist has so many issues, here's a list of them.

**Many of these issues may spread to other commands/features.** These are just the ones I found while testing whitelists for a PR.
- ~~Whitelist state is not correctly saved (https://github.com/GlowstoneMC/Glowstone/issues/491)~~
- Whitelisting players who have never played before show up as `null` in `/whitelist list`
- Whitelistin

[2014-11-08 21:12] turt2live opened #527 "Bad drop mappings"
This is an extension of #98 so that it doesn't get cluttered.

Known/confirmed cases. Checked means 'resolved in master'.
- _Coming Soon_

_Update: List is being generated [here](https://docs.google.com/spreadsheets/d/1Qgky1a2zsUeKfOblpNLmmVF95QmkKd_bh0tvuu143tA/edit#gid=0)_

[2014-11-09 19:31] turt2live opened #530 "Regression in invisibility"
Previously it was possible to become vanished using a plugin, now that behaviour is not fully functional.

*Pending determination of when regression occurred*

[2014-11-10 15:06] DJIronic opened #535 "Essentials chat not working"
I was testing this server with my plugins and I saw little problem. Essentials chat plugin wasn´t working.
Do you have some alternative  or it´s inbuilded in server ?

thanks

[2014-11-20 22:19] gdude2002 opened #560 "FAQ section on wiki"
I'm [compiling an FAQ page on the wiki](https://github.com/GlowstoneMC/Glowstone/wiki/Frequently-Asked-Questions) - what kind of things should we put in there?

[2014-11-26 02:35] turt2live opened #569 "Natively support proxy data from LilyPad"
Considering Glowstone now supports the proxy data from Bungee, it is only reasonably fair to support the proxy data from [LilyPad](http://www.lilypadmc.org/) as well.

_Note: LilyPad does not use plugin messages to transfer information between servers, unlike Bungee. Supporting this data is out of scope for Glowstone but is still explained at the end of this ticket._

The major difference between

[2014-11-30 00:10] LimitlessGamingmelon opened #579 "Internal Error During Authentication (unable to join own server)"
Whenever I try to join my server, it begins loading, then tells me:
"Failed to connect to the server Internal Error during authentication"
Any ideas?

[2014-12-06 19:47] turt2live opened #586 "Unintentionally broke MultiCraft (and some hosting provider) support"
Now that Glowstone has a warning for not having a console (see 23a4b8237915d49c67f259e3e33a8f3f6cee19ca) Multicraft no longer functions.

This is due to Multicraft starting the jar in a process and not as a console application. Many other hosts also provide a similar starting system and therefore do not have console access.

Ideally, commit 23a4b8237915d49c67f259e3e33a8f3f6cee19ca would have been

[2014-12-12 16:17] turt2live opened #588 "Potion code incomplete / inoperable"
Looks like the potion code in master is not complete.

**Root cause:**
Plugin induced failure (Essentials) relating to potion effects. Valid issue for Glowstone to resolve.

**General Information:**

Error appears several thousand times in the log (L629) (see additional information) after a plugin-added potion effect is added to the player.

**Applicable Log Segment:**
[code]

**Additional Informa

[2015-01-04 03:00] Whurauk opened #598 "Dropping and achievements problems"
Hello. I found a bug in your new API. It turns out that I can't drop any block on the ground. If I break a block, it will end up directly in my inventory. I removed all my plugins in hopes of finding the one that is lacking but unfortunately none of my plugins is responsible of this bug. I also found another bug that makes appear the same achievements every time I enter the server. For example, I

[2015-01-04 03:12] greatman commented on #598
It is because dropping is still a WIP feature and I beleive there's a PR for it.

For the achivements i'm not sure. I'd have to see the code.

[2015-01-04 03:20] gdude2002 commented on #598
Item drops are definitely simply not done yet - as for achievements, I believe those are also WIP and I'd really be surprised if anyone's thought of looking at them yet, given their relative unimportance to the other stuff that needs doing right now.

[2015-01-04 03:20] #598 closed

[2015-01-05 13:15] gdude2002 commented on #579
The person that submitted this ticket hasn't responded in almost a month (with the last official response almost two weeks ago).

If you haven't solved your problem, @LimitlessGamingmelon, please feel free to comment on this ticket or post a topic on [the forums](https://forums.glowstone.net).

[2015-01-05 13:15] #579 closed

[2015-01-05 21:18] #4 closed

[2015-01-06 00:06] SpaceManiac opened #601 "Nether Portals"
While the nether world is partially supported, nether portals do not function at all:
* [ ] Placing portal blocks when a portal is lit on fire
* [ ] Destroying portal blocks when a portal is broken
* [ ] Delay between entering a portal and activation
* [ ] Targeting existing portals when available
* [ ] Creating new portals when needed

[2015-01-06 00:07] SpaceManiac opened #602 "Blin"
When the weather changes from sunny to rainy or vice versa, there is a brief blink of the target weather before the transition period begins. It's likely the state updates need to be tweaked slightly.

[2015-01-07 19:44] SpaceManiac opened #603 "Achievements and Statistics"
While some achievement support exists, persistence support and the conditions for obtaining achievements ought to be implemented. Similarly, persistence for statistics (stored in the same place) and conditions for incrementing them should be added.

[2015-01-09 10:05] DefinitlyEvil opened #604 "PermissionEx Faild to Load"
It seems to be some 3rd-party library missing.

Details:
[code]

[2015-01-09 10:18] gdude2002 commented on #604
As the [plugin compatibility list](https://github.com/GlowstoneMC/Glowstone/wiki/Plugin-Compatibility) states, you must use version 1.22.6 or lower - 1.23 isn't supported.

[2015-01-09 15:53] DefinitlyEvil commented on #604
Sorry about this, but why isn't it supported?

[2015-01-09 15:57] kamcio96 commented on #604
guava version

[2015-01-09 15:59] DefinitlyEvil commented on #604
@kamcio96 Oh, I see.

[2015-01-09 16:09] gdude2002 commented on #604
Basically, Spigot uses a later version of Google's Guava than base Bukkit/Craftbukkit does - since we're a Bukkit replacement rather than a Spigot replacement, we use the older version, but PEx has been updated for spigot's newer version.

Did downgrading fix your problem?

[2015-01-09 16:10] DefinitlyEvil commented on #604
Yes, I guess. Thanks a lot! :)

[2015-01-09 16:45] #604 closed

[2015-01-10 21:23] PeaceDealer opened #605 "High render-distance issues"
Having a high render distance appears to create issues with the server...
I was monitoring the server and my pc very detailed when doing this, and there was no preformance issues on either.
These where my settings when the issue started to occur
http://prntscr.com/5qwhsj

![2015-01-11_00 20 49](https://cloud.githubusercontent.com/assets/996389/5693304/e3e2004c-9927-11e4-9cae-d1183a2c52c5.png)
![20

[2015-01-10 22:37] TekkitCommando commented on #605
Sometimes it can be your computer or client as well we cant really be sure that it is glowstone, do you have an old computer or use optifine?

[2015-01-10 23:09] gdude2002 commented on #605
I would suggest testing this with the vanilla server and see if the same thing happens.

[2015-01-10 23:10] PaulBGD commented on #605
Can confirm that artifacts like these show up with high render distances + moving fast

[2015-01-10 23:59] gdude2002 commented on #605
Paging @SpaceManiac

[2015-01-11 00:50] turt2live commented on #605
This is an issue also on vanilla. It is due to the server having a lower render distance setting than the client and the client is trying to interpret world data that does not exist.

[2015-01-11 00:56] turt2live commented on #605
I'm actually going to close this because it is a client-side issue.

In short, and I think there is a Mojang ticket for it, the render distance on the client is larger than the render distance on the server. The server refuses to send more than it's configured maximum, but the client doesn't care and tries to render data out of range, which "gracefully" fails into the weird mess of chunks you see.

[2015-01-11 00:56] #605 closed

[2015-01-11 15:16] DefinitlyEvil opened #606 "Sponge API Implementation?"
Is it possibl for you to implement Sponge API and support Sponge plugins(not mods)?
People are switching to Sponge API now.

[2015-01-11 15:58] gdude2002 commented on #606
We aren't at that stage yet.

There's some very not-serious testing stuff done by @SpaceManiac [here](https://github.com/GlowstoneMC/ShinySponge), but it just.. loads plugins and.. that's about it.

[2015-01-11 16:13] gdude2002 commented on #606
There's some discussion on this [on the forum](https://forums.glowstone.net/t/what-does-glowstone-plan-on-doing-after-implementing-bukkit/58/2) as well.

[2015-01-11 18:19] SpaceManiac commented on #606
See #498, the linked repository, and the forum thread.

[2015-01-11 18:19] #606 closed

[2015-01-11 23:03] DefinitlyEvil commented on #606
I got it, thanks.

[2015-01-13 06:13] SpaceManiac commented on #270
Keeping height maps in a1a7fc7a3f9fffe62f54a205f0cf851a7111bed8 improved world save times by a decent amount. From investigation, using `DEFLATER.BEST_SPEED` for compression improves world save times even further, but I need to check more real-world use cases to make sure this doesn't have implications for world size. Switching the entire RegionFile/NBT stack to use Java NIO yielded essentially no

[2015-01-13 06:16] SpaceManiac commented on #261
Commit 474be7da implements `getNearbyEntities()`. Could someone check things are fixed in ClearLagg?

[2015-01-13 06:18] SpaceManiac commented on #205
The pick block functionality is entirely client-side, so there's nothing we can do except investigate individual broken cases. If such a case arises (a block is pickable in vanilla SP/MP but not in Glowstone), it can be investigated then.

[2015-01-13 06:18] #205 closed

[2015-01-13 08:59] SpaceManiac commented on #560
Since the FAQ page exists and seems fairly stable, I think this can be considered closed.

[2015-01-13 08:59] #560 closed

[2015-01-14 00:13] #90 closed

[2015-01-14 00:13] #588 closed

[2015-01-14 03:41] SpaceManiac opened #609 "Player max health is not updated"
Setting the max health of a player through `setMaxHealth` does not update the player's view of their max health as it should, leading to odd scaling for players with modified max health.

It might be that the max health must be conveyed through entity attributes (play outbound 0x20), which Glowstone does not yet support.

[2015-01-14 08:48] #261 closed

[2015-01-14 08:59] SpaceManiac commented on #586
I'm tempted to just abandon the console check since it seems like there's no reasonable way to show the warning message in the desired situation without having *some* false positives. I suppose more conditions could be added, like "only on Windows" or "no command-line arguments specified", but this just seems hacky, and for relatively little benefit (a one-time benefit to users who don't read the

[2015-01-14 09:03] bendem commented on #586
Agreed

[2015-01-14 12:10] DefinitlyEvil opened #610 "Crafting Issue"
[rejected] WindowClickMessage(id=0, slot=0, button=
0, transaction=27, mode=0, item=ItemStack{WORKBENCH x 1})
It happens when player pick up the crafted item(output), recipes won't be removed and things may double.

[2015-01-14 13:21] gdude2002 commented on #610
Yes, this isn't done yet.

[2015-01-14 13:21] #610 closed

[2015-01-14 14:36] DefinitlyEvil commented on #610
@gdude2002 I've checked the wiki and it says crafting is done. I guess that is a mistake? xD

[2015-01-14 15:57] dequis commented on #586
Maybe just improve the "failed to bind" message to include a few lines of instructions telling users what happened and how to fix it? Because that's the main problem, really.

And maybe, MAYBE, something that looks less like a stack trace (which is commonly associated with bugs)

[2015-01-14 16:19] gdude2002 commented on #610
#1 is _generally_ the go-to ticket for stuff like this.

[2015-01-15 02:23] #586 closed

[2015-01-15 03:44] turt2live commented on #565
Paging @SpaceManiac for comment on whether this is valid as a ticket

[2015-01-15 03:46] turt2live commented on #523
Finally updated the description. Completely forgot to do so.

[2015-01-15 03:52] turt2live commented on #535
Closing due to inactivity. @DJIronic if you still have the issue, please comment here or create a post on our [forums](https://forums.glowstone.net/). Thanks!

[2015-01-15 03:52] #535 closed

[2015-01-15 03:56] turt2live commented on #157
Seeing as this has become a support ticket and has been inactive for several months now, I'm closing this. @grzegorz2047 if you still have issues, please create a post on our [forums](https://forums.glowstone.net/)

[2015-01-15 03:56] #157 closed

[2015-01-15 03:58] turt2live commented on #144
Another page for @aadnk (this is getting pretty annoying)

Personally I feel as though if ProtocolLib and similar plugins wish to support Glowstone, they can. If they don't for whatever reason, they don't have to.

[2015-01-15 04:00] turt2live commented on #104
Just noting what I noted on the pull request associated with this ticket: I can no longer reproduce any issues relating to adding air to my inventory on the current master branch. @dequis please confirm you have no issues alongside the already mentioned people on the pull request. Thanks!

[2015-01-15 04:04] turt2live commented on #422
Closing this due to implementations to notify authors that stuff is broken (with improved systems coming "soon"). As for pull requests that should be resurrected, please contact me on IRC if you have suggestions and we'll go from there.

[2015-01-15 04:11] turt2live commented on #347
Closing because the SportBukkit changes are more strongly tied to the API side with the implementation being a side effect. See GlowstoneMC/Glowkit#21

[2015-01-15 04:13] turt2live commented on #330
This is no longer valid due to somewhat recent commits on master relating to explosions. If I'm wrong, please comment back as soon as possible with detailed information regarding how wrong I am. Thanks!

[2015-01-15 04:13] #330 closed

[2015-01-15 04:16] turt2live commented on #307
Linking into #325 and #116 instead of leaving this open. Thanks for the report though!

[2015-01-15 04:19] turt2live commented on #209
Just stopping by to link this to #1. I'm leaving this ticket open because it is too large to add to a checklist, but relevant enough to be linked to the parent ticket.

[2015-01-15 04:21] turt2live commented on #482
I'm closing this in favour of #544 which has a more broad scope.

[2015-01-15 04:24] DefinitlyEvil commented on #610
@gdude2002 Okay, thanks. ;)

[2015-01-15 05:02] turt2live commented on #104
Confirmed by other parties that this is no longer an issue. If the issue persists, please comment here or open a new ticket, thanks!

[2015-01-15 05:02] #104 closed

[2015-01-15 05:42] SpaceManiac commented on #565
The issue is minor, but I'd say it stands. Really it's just `GameModeCommand` that needs to get updated. Probably a case for "spectator" should be added to the command as well.

[2015-01-15 05:53] turt2live commented on #565
If that's the case, then I suggest [this](https://github.com/Turt2Live-DEV/Bukkit/commit/e467a733b15b16050fbb52516de6cab49d9ef264) as a proposed solution. The error message differs, but I don't feel as though we need to be as explicit with this particular command.

( ref: e467a733b15b16050fbb52516de6cab49d9ef264 )

[2015-01-15 13:48] dequis commented on #307
Also the relevant PR is #444 now

[2015-01-15 13:54] turt2live commented on #325
Jukeboxes and note blocks: #444

[2015-01-16 02:28] Pwsmooth opened #611 "Wood blocks breaking problem"
Whenever a wood block is placed on its side and broken it shows up a pink and black block as shown in the picture. But wood blocks that are placed upward and broken work just right.
![image](https://cloud.githubusercontent.com/assets/10405609/5770726/de83d7b2-9cf4-11e4-8ec5-473f96948e3f.png)

[2015-01-16 03:06] dequis commented on #611
See #527

[2015-01-16 03:42] turt2live commented on #611
I think this is a new issue, but it would be solved by #527. Closing as a duplicate

[2015-01-16 03:42] #611 closed

[2015-01-17 06:30] SpaceManiac opened #612 "Destroying fire does not work"
To remove fire, you start digging a block adjacent to it. Right now this instead destroys the dug block, and visually destroys the fire clientside without actually removing it.

DiggingHandler should be updated to detect the case where the dug block neighbors fire on the dug face and handle it by removing the fire and cancelling the dig.

Any fix should be tested in both survival and creative mode

[2015-01-17 23:20] Tonodus commented on #330
@turt2live
All commits handling TNT were contributed by me, without resolving this issue (see https://github.com/GlowstoneMC/Glowstone/pull/284#issuecomment-62254043 and https://github.com/GlowstoneMC/Glowstone/pull/284#issuecomment-62264339).
In fact, this issue is still as valid as it was when I opened it.

[2015-01-17 23:53] turt2live commented on #330
As stated, detailed information then? I spent about an hour testing this with no issues.

[2015-01-18 05:01] blakegall24 opened #614 "PlotMe Plugin not working (at least for me)"
I have multiverse-core installed, plus PlotMe-Core, PlotMe-DefaultGenerator, and DynapPlotMe installed. I used the command while on a client device : <blockquote>/mv create plotworld normal -g PlotMe</blockquote> and it gave me a normal world. Can someone please resolve this as I would love to test out the rest of this plugin. I saw on the list of plugins that someone had no issues using the PlotM

[2015-01-18 06:42] turt2live opened #615 "Weather cannot be changed for non-default worlds"
Steps:
1) Create a new world (using MultiVerse or something)
2) Note the rain in that world
3) `/weather clear`
4) Nothing changes

[2015-01-18 06:48] turt2live commented on #614
I tested this with the following plugin versions and Glowstone build number as follows:

- PlotMe 0.15.2
- PlotMe-DefaultGenerator 0.15.2
- Multiverse-Core 2.5-b678
- Glowstone `1.8.162-g6c39649-b119`

I noticed that the command supplied failed to execute (unknown generator), but I used this command to create a plot world:

`/mv create plotworld normal -g PlotMe-DefaultGenerator`

The world genera

[2015-01-18 09:32] GRezende01 opened #616 "enable bone enable auto trees"
must enable the mobs and bone meal , and enable self cresimento trees

[2015-01-18 09:38] turt2live commented on #616
Closing as a duplicate of the following:

- #40 for what I think you mean by "self *cresimento* trees"
- #139 for mobs
- #325 for bone meal

[2015-01-18 09:38] #616 closed

[2015-01-18 10:22] Tonodus commented on #615
This is caused due to the (false?) implementation of the bukkit wheather command I think. see [Bukkit/Bukkit WeatherCommand.java#L39](https://github.com/Bukkit/Bukkit/blob/master/src/main/java/org/bukkit/command/defaults/WeatherCommand.java#L39)

[2015-01-18 10:23] turt2live commented on #615
I have no idea. This is one of my many "unexpected behavior without research" tickets.

[2015-01-18 10:25] Tonodus commented on #330
@turt2live Well, have you tried igniting TNT by right-clicking it with flint and steel in survival mode? On a clean, uppdated master the TNT disappears for me without any explosion. This is caused by this bug: Glowstone ignores the right-click action (as stated earlier), so no explosion occurs. The disappeared TNT is just a client glitch, it's still there on server side.

[2015-01-18 13:45] blakegall24 commented on #614
Thank you for the support, I'll look into the forums for future support

[2015-01-18 15:24] gdude2002 commented on #614
Has your issue been solved?

[2015-01-18 20:13] PeaceDealer opened #617 "Rejected using minecraft ingame-shortcuts"
Hello

Just trying build 119 and went survival. Fetched some wood, put it in my crafting square, held shift and clicked.

It started to bug out really badly, duplicating the planks ect..

This is the error from the log:
[rejected] WindowClickMessage(id=0, slot=44, button=0, transaction=6, mode=0, item=ItemStack{WOOD x 16})

Glowstone Build: 119
OS: Debian
Java: 1.8.0_25

[2015-01-18 20:14] gdude2002 commented on #617
This isn't implemented properly yet, sorry. See #1.

[2015-01-18 20:14] #617 closed

[2015-01-19 04:08] SpaceManiac commented on #614
Forum thread: [here](https://forums.glowstone.net/t/plotme-support-returns-plotme-after-every-command/120).
Should be fixed in 3848233dee8b7d7d02fcd91e08b9b8b769573065.

[2015-01-19 04:08] #614 closed

[2015-01-20 09:05] jimmikaelkael commented on #605
@turt2live On a side note, it can be diminished by verifying the player can really see the chunk just before to fill the chunks map to send to the client in GlowPlayer.
That's what I am doing in #572.

With this change it stops to happen altought you're moving fast.

[2015-01-20 10:34] SuperSpyTX commented on #144
https://github.com/aadnk/ProtocolLib/blob/master/Readme.md

It appears @dmulloy2 is the current maintainer of ProtocolLib now.

[2015-01-20 10:37] jimmikaelkael commented on #144
It is mentionned it requires Spigot API ? Is it new ?

[2015-01-20 10:40] gdude2002 commented on #144
Well, if they managed to get it working with Spigot-specific stuff, then they should be able to get it working with Glowstone-specific stuff, right?

It's kind of an important plugin to have working - I hope @dmulloy2 will be happy to port it..

[2015-01-20 12:19] Johni0702 commented on #144
`Well, if they managed to get it working with Spigot-specific stuff, then they should be able to get it working with Glowstone-specific stuff, right?`
@gdude2002 not entirely.
A large part of the ProtocolLib API is heavily based on the field order/types in the PacketXY classes. As Spigot uses decompiled minecraft source code (just as CB did), there were only small changes in the packets themselves

[2015-01-20 13:53] gdude2002 commented on #144
You're probably right, but well, with the way the Sponge project is going.. eh.. it would probably be faster to port this.

Still, not up to us! I would like a decent API that isn't bukkit-based, rather than hacky library porting, too.

[2015-01-20 13:58] turt2live commented on #144
Networking infrastructure doesn't generally belong on a server-side API anyways. What if we swap out Netty for raw sockets? Suddenly our networking infrastructure is vastly different and we can't maintain our "old" API calls. The server-side API would heavily rely on the implementation details, making it badly designed.

A third party resource (such as ProtocolLib) or an otherwise external resourc

[2015-01-27 05:59] SpaceManiac commented on #530
Any word on whether this is actually still an issue?

[2015-01-27 06:06] dequis commented on #530
Fairly sure it was never an issue, just VNP's handling of permissions and OPs resulting in other OPs being visible

[2015-01-27 06:35] SpaceManiac commented on #530
Closed until otherwise shown, then.

[2015-01-27 06:35] #530 closed

[2015-01-29 03:42] m3rcuriel commented on #612
Should this still throw a ```BlockDamageEvent``` or ```BlockBreakEvent```?

[2015-01-29 06:17] SpaceManiac commented on #612
Tested on CB 1.7.10: no break event. Damage against the underlying block, but only in survival mode.

[2015-01-29 06:18] m3rcuriel commented on #612
Alright, makes sense.

[2015-01-29 23:41] #612 closed

[2015-01-30 03:25] SpaceManiac commented on #615
Fixed as of https://github.com/GlowstoneMC/Glowkit/commit/5290c315f7f2fd8a8c789831855f64305c1f2362.

[2015-01-30 03:25] #615 closed

[2015-01-30 17:51] Tonodus opened #620 "Wrong implementation of GlowBlock#getDrops() and #breakNaturally()"
In Glowstone's current implementation the methods mentioned above act like a player breaking the block with his hand. This causes all blocks needing a special tool to mine to drop nothing.

This causes some blocks to drop nothing when destroyed by an explosion.

Broken by an explosion...
- stone should drop cobblestone
- iron/gold ore should drop their items
- diamond/restone ore should drop diamo

[2015-02-01 19:36] Tonodus opened #622 "Player data not saved on server shutdown"
**Bug description:**
Currently when the server is stopped no player data is saved (f.e. inventory contents).

**How to reproduce:**
Give yourself an item into your inventory.
Type `/stop` without disconnection! Let the server kick you.
Restart server and join.
=> your previously given item is lost

**Cause:**
Bukkit's stop command calls Bukkit.shutdown() => [GlowServer#shutdown()](https://github.c

[2015-02-02 13:58] PaulBGD opened #625 "GlowBlock requires world to not be null"
Glowstone in itself is a great server software, however it contains utils that can be used in other ways. I've been experimenting with using it to load chunks from a world, without loading the actual world. For instance, the following script can be run to print out all the types of a block in the spawn chunk of a world:
[code]
Which produces for me:
[code]
However if I wanted to set a block's type

[2015-02-03 01:01] turt2live commented on #625
This sounds like you aren't trying to improve the server beyond personal purposes. Is there a reason why you can't write your own library for whatever you're trying to do?

[2015-02-03 01:18] PaulBGD commented on #625
@turt2live I made a PR due to the fact that I had already coded it, and assumed someone else may also want to use it in the future. If you don't think that will happen, I'll close these.

[2015-02-03 01:44] turt2live commented on #625
I honestly don't know how @SpaceManiac feels about it (it's his project), but personally I don't see a benefit in it if it doesn't improve the server operation in some way. As far as I can tell, the enhancement would be used by things that aren't servers or by plugins which shouldn't be seeing it anyways.

[2015-02-05 02:22] SpaceManiac commented on #625
While I don't see any pressing need to perform this particular change, it would certainly be beneficial in the long run to reduce the coupling between the world I/O code and the live world code (which would make things like this possible).

If you hadn't been willing to patch GlowBlock, you could have worked around this by using the methods on GlowChunk directly.

[2015-02-05 02:56] PaulBGD commented on #625
I realized this, however I thought it'd be a simple enough change. I'll close this and the PR, I suppose it's not needed in Glowstone (especially at this stage).

[2015-02-05 02:56] #625 closed

[2015-02-08 00:24] OxoniumX opened #626 "Scoreboard command [bug]"
01:18:14 [INFO] OxoniumX issued command: /scoreboard teams
01:18:14 [SEVERE] Exception while executing command: /scoreboard teams
org.bukkit.command.CommandException: Unhandled exception executing 'scoreboard t
eams' in org.bukkit.command.defaults.ScoreboardCommand(scoreboard)
        at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:18
4)
        at net.glowstone.GlowServer.di

[2015-02-08 01:00] PaulBGD commented on #626
Scoreboards are not implemented.

[2015-02-08 01:47] turt2live commented on #626
Closing as a duplicate of #81 (currently implementation is #459)

[2015-02-08 01:47] #626 closed

[2015-02-20 16:05] Maxiebyte opened #628 "Bonemeal on sapling does not work."
![2015-02-20_16 49 08](https://cloud.githubusercontent.com/assets/7554210/6289436/7ed1d2a4-b920-11e4-9de7-b9d189fb1433.png)

I was trying to do some things on the Glowstone public test server and I noticed that using bonemeal on saplings does not work.
I tried to grow a big jungle tree (four saplings in a square + bonemeal) but that didn't work
I couldn't find code in the Glowstone repository <htt

[2015-02-20 16:30] jimmikaelkael commented on #628
Automatic growth would mean block ticking is implemented. This isn't the case actually.

[2015-02-20 18:09] dequis commented on #628
Dupe of #325 for bonemeal interaction, dunno what issue for block ticking

[2015-02-20 18:29] Maxiebyte commented on #628
I didn't notice #325.

[2015-02-20 21:40] CrabeMan opened #629 "DiggingMessage.FINISH_DIGGING not call"
Hello, ```DiggingHandler.handle``` don't call ```DiggingMessage.FINISH_DIGGING``` if the speed to break block is ~<0.05, based in [this table](http://minecraft.gamepedia.com/Breaking#Blocks_by_hardness)

CrabeMan.

[2015-02-20 21:46] gdude2002 commented on #629
What are the implications of this?

[2015-02-20 21:51] CrabeMan commented on #629
Absolutely not. Maybe the time between each pull event.

CrabeMan.

[2015-02-21 00:52] turt2live commented on #629
What am I looking at in that table? All I see is numbers.

[2015-02-21 09:59] bendem commented on #629
@turt2live looks like if you read the titles of the columns, you get a good idea of what these numbers are...

[2015-02-21 21:04] turt2live commented on #629
but the numbers vary well between 0 and, in some cases, 6. What does 0.05 have anything to do with this?

[2015-02-26 09:40] Ribesg opened #630 "Add ability to specify World Generator (and settings) for every stock world"
The ``world`` section of ``glowstone.yml`` would then look like this, for example:
[code]

[2015-02-26 13:59] turt2live commented on #628
Closing as duplicate. #431 handles block ticking, ticket #40.

[2015-02-26 13:59] #628 closed

[2015-03-16 18:55] ensirius opened #633 "Small code duplicate"
http://git.io/hIBv
http://git.io/hIBu

[2015-03-16 19:30] Ribesg commented on #633
Honestly, a method call cost would be non-negligible compared to the actual work done by those 2 identical lines. You often create a method when the work done is bigger than that (at least 2 lines, I would say 3+) and/or if it's used more than twice.

[2015-03-16 23:54] turt2live commented on #633
This really isn't duplication. They are two checks in different places. If the range changes and only one is changed, the issue will become apparent.

Closing as a non-issue.

[2015-03-16 23:54] #633 closed

[2015-03-16 23:55] ensirius commented on #633
second check is never called other places dude

[2015-03-16 23:56] turt2live commented on #633
I don't understand what you're trying to say. It sounds like your saying that the "second" check is not referenced.

[2015-03-16 23:59] ensirius commented on #633
In whole code ``` setRawHeldItemSlot(int slot)``` called only from 1 place, where this check already done...

[2015-03-17 00:02] turt2live commented on #633
The two layers need the check. Reducing both statements increases complexity elsewhere. Not to mention the two points mentioned face different sides of the server: one towards plugins, one towards networking.

[2015-03-31 09:27] DefinitlyEvil opened #634 "Project paused?"
Is the project paused developing?

[2015-03-31 09:55] gdude2002 commented on #634
Someone [asked this on the forum earlier](https://forums.glowstone.net/t/is-the-project-development-frozen/166/2), please use the forum as a forum instead of the GitHub issue tracker.

[2015-03-31 09:55] #634 closed

[2015-03-31 10:39] DefinitlyEvil commented on #634
xD Okay, sorry.

[2015-04-01 23:43] SamNosliw opened #635 "[IMPROPER PULL REQUEST] Water Code"
Hey man, I have great respect for what your doing with Project Glowstone, and I've had a look at the project, modifier it a bit and such, and I've managed to get water/lava working pretty well, I believe the same as vanilla Minecraft. I don't know what your plans are, but I would just like to offer this to you.

I also added a couple requestPulse functions into the world, these allow water to upda

[2015-04-02 02:25] turt2live commented on #635
This would be better suited as a pull request so it can be more easily reviewed. From your description, you've identified a possible problem with Glowstone which may be valid, but the lengthy amount of code presented is simply unreviewable because it would be too time consuming.

If possible, please link/create a ticket for the issue and open a pull request with these changes. Thanks!

[2015-04-02 02:25] #635 closed

[2015-04-02 15:08] TekkitCommando commented on #635
Yes, seems like a waste of all that work to put it into a non-met gable issue lol

[2015-04-02 15:09] TekkitCommando commented on #635
Non mergable issue

[2015-04-04 23:46] SamNosliw commented on #635
Ok, I didn't really understand how GitHub worked with this, but now I've looked into it a little more. Although I still don't understand I made a pull request (I hope)..

https://github.com/GlowstoneMC/Glowstone/pull/636

[2015-04-06 02:57] deathcap opened #2 "Bonemeal on grass no longer works as of #16"
https://circleci.com/gh/deathcap/GlowstonePlusPlus/16

https://github.com/deathcap/GlowstonePlusPlus/commit/990a916c88760a3d86b673f6a382cdf7dd78e2eb

[2015-04-06 03:00] #2 closed, assigned to nobody

[2015-04-06 07:18] deathcap opened #3 "CircleCI build artifacts not available without logging in?"
Configured https://circleci.com/gh/deathcap/GlowstonePlusPlus to copy the server jar out of the target directory after each build as described on http://blog.circleci.com/build-artifacts/, making it available for download, but I'm not seeing the "artifacts" tab without logging in. May have to switch somewhere else for hosting builds.

[2015-04-07 03:23] #3 closed, assigned to nobody

[2015-04-07 06:02] deathcap opened #5 "Investigate supporting Spigot API additions (Bukkit-Patches)"
Glowstone++ integrates the updates to the [Bukkit API](https://github.com/Bukkit/Bukkit) from the Spigot team (i.e., from https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse/README.md) but they also have an additional set of patches on top of the Bukkit API:

https://hub.spigotmc.org/stash/projects/SPIGOT/repos/spigot/browse/Bukkit-Patches

might be worth also supporting some of the

[2015-04-07 12:47] mastercoms opened #6 "Merge open Glowstone Pull Requests"
- [x] [#189](https://github.com/GlowstoneMC/Glowstone/pull/189) Switch to Netty ReadTimeoutHandler
- [x] [#358](https://github.com/GlowstoneMC/Glowstone/pull/358) Double chests
- [x] [#431](https://github.com/GlowstoneMC/Glowstone/pull/431) Random blocks tick
- [x] [#432](https://github.com/GlowstoneMC/Glowstone/pull/432) Bonemeal
- [x] [#444](https://github.com/GlowstoneMC/Glowstone/pull/444) Not

[2015-04-08 07:22] deathcap opened #8 "Creative inventory actions broken in build 45"
`/gamemode 1`, open inventory, click an item to pick it up then drop in the player inventory, close inventory = item disappears. Same results if shift-click to pickup a stack. At least shift-clicking between inventories now works =). Creative inventory worked in builds before 45. Fallout from:

https://circleci.com/gh/deathcap/GlowstonePlusPlus/45
merge commit: https://github.com/deathcap/Glowston

[2015-04-08 15:34] #8 closed, assigned to nobody

[2015-04-08 15:45] jimmikaelkael opened #10 "No structures will spawn"
Just quickly have checked how my PRs gets merged and I noticed (but didn't tested anything) the structures can't spawn as the code has diverged at some point.

You clearly don't longer need the SurfaceGenerator (superseded by OverworldGenerator) and to see the structures spawn you need to instantiate the StructurePopulator in the OverworldGenerator constructor.

[2015-04-08 16:31] mastercoms opened #11 "Parallel world loading/saving"
Would it be possible for us to create a WorldLoad and WorldSave thread for each world when they need to be saved/loaded?

I'll make a relevant PR soon.

[2015-04-09 23:41] deathcap opened #13 "Add missing Minecraft commands"
Bukkit added server commands up to 1.7, but Spigot's Bukkit update for 1.8 removed all commands from the API because they instead pass through to the official Minecraft server. Glowstone can't do this obviously, so it relies on the commands in the API project, but they aren't updated for any new 1.8 features. Glowkit may have already added some; need to check. Full command list:

http://minecraft.

[2015-04-10 00:12] mastercoms opened #14 "Sunflower"
So there was a discussion on how to implement new APIs with Glowstone. I suggested having Glowstone being able to load multiple APIs and translate these methods to an internal API, but the collaborators of Glowstone decided that they were going to only use Bukkit until Glowstone was stable, so I decided to work on a new implementation which I never got around to.

[Sunflower](https://github.com/Su

[2015-04-10 01:41] #10 closed, assigned to nobody

[2015-04-10 05:32] mastercoms opened #15 "By default, rain is on"
Every world's downfall is true when it is created. This causes for rain to always be enabled by default.

[2015-04-10 09:33] jimmikaelkael opened #16 "The Nether is flat"
The Nether look is quite boring...
If you agree I should be able to make a relevant PR soon.

[2015-04-12 05:08] #15 closed, assigned to nobody

[2015-04-12 14:47] jimmikaelkael opened #18 "Some structures are spawning in ocean biomes."
I noticed that, just found a beautiful MushroomIsland biome but close to it there was a Jungle Temple in ocean.

[2015-04-12 16:59] #18 closed, assigned to nobody

[2015-04-12 19:26] #11 closed, assigned to nobody

[2015-04-12 20:08] mastercoms opened #21 "Liquid physics are not perfectly vanilla-like"
https://github.com/deathcap/GlowstonePlusPlus/pull/20#issuecomment-92104993

[2015-04-12 21:24] #16 closed, assigned to nobody

[2015-04-13 03:49] mastercoms opened #25 "Populate chunks during initial spawn preload"
If persist-spawn in serverconfig is true, instead of just loading and anchoring spawn chunks, chunks should also be populated. This reduces join wait time for players, at the sacrifice of increased server load time, which I think is a reasonable trade off, as server load time is not very important, since admins can and will wait, while players may not want to wait.

[2015-04-13 03:54] mastercoms opened #26 "Liquid sets double plants to a single plant"
When liquid flows, it sets the adjacent block if applicable. However, there is not a handler for double plants for this physics action, and the double plant sets itself to a single plant, but over the water because the breaking was performed on the bottom block in the double plant block group.

Double plants should be set to air completely on a physics interaction by a liquid.

![single plant abov

[2015-04-13 07:16] jimmikaelkael opened #27 "Lava and Water is not flowing automatically."
I noticed lava is not flowing automatically in the nether: trigerring manually an adjacent block update updates physics but I forgot to ask for physic updates in the LavaDecorator class.

The same goes for overworld: needs to fix FlowingLiquidsDecorator class.

Will try to do a related PR soon.

[2015-04-13 09:52] jimmikaelkael opened #28 "Biome is not set properly for Nether and TheEnd"
As @mastercoms stated earlier in my Nether generator PR, the biome isn't set properly for both Nether and TheEnd.
Will do a relevant PR.

[2015-04-13 11:55] #26 closed, assigned to nobody

[2015-04-13 13:01] #28 closed, assigned to nobody

[2015-04-13 18:51] deathcap opened #32 "Review Pore's patches to Bukkit API"
The Pore project (an implementation of Spigot's 1.8.3 update to the Bukkit API) has a handful of its own patches to the API, some might make sense to pull into Glowstone++'s:

https://github.com/LapisBlue/Pore/tree/master/patches
- [x] 0001-Disable-Spigot-version-check.patch
- [ ] 0002-Remove-final-from-event-getters.patch
- [ ] 0003-Add-HandlerList-adapters.patch
- [ ] 0004-Make-events-properly-i

[2015-04-13 19:16] #27 closed, assigned to nobody

[2015-04-13 19:35] deathcap commented on #498
Just a point on this:

class GlowWorld implements org.bukkit.World, org.spongepowered.api.world.World {
    List<org.bukkit.entity.Entity> getEntities() {...}
    Collection<org.spongepowered.api.entity.Entity> getEntities() {...}
    //...
}
[code]

[2015-04-13 19:40] gdude2002 commented on #498
I think there's definitely going to be huge considerations, naming/typing conflicts aside, since Glowstone is very much designed around the Bukkit API and the way the Bukkit API does things. I'm not really sure how different Sponge is from Bukkit implementation-wise, but maybe a way to do this is to have base Glowstone classes, and then specific subclasses or wrapper classes for each type of plugi

[2015-04-13 19:58] ZephireNZ commented on #498
As far as I know, this would be very difficult to use. It uses LaunchWrapper to initate and perform the Mixins. We might be able to emulate the starting of LaunchWrapper, but we won't just be able to use the library off the bat.

[2015-04-14 05:40] kamcio96 commented on #498
Wrapping classes is good option, but what about events? What about their classes? SpongeAPI has interfaces, should we implement they in Glowkit? And what about custom events between Bukkit and SpongeAPI?

[2015-04-14 09:09] jimmikaelkael opened #34 "Some subclasses of BlockType still instanciate a random object."
This is now no longer necessary as BlockType instantiate a protected random object.

[2015-04-14 11:03] #34 closed, assigned to nobody

[2015-04-14 12:42] jimmikaelkael opened #36 "Player placed leaves should not be decayable"
Currently, the leaves placed by playes are decayable, this shouldn't be the case:
http://minecraft.gamepedia.com/Leaves

This currently have no real incidence, but I'm planning leaf decay so this will need to be fixed.

[2015-04-14 13:09] #36 closed, assigned to nobody

[2015-04-15 06:46] deathcap opened #39 "Test server(s) for Glowstone++ server"
Would be cool to have a test server (or more than one) for helping develop and test Glowstone++. Some discussion about this in https://github.com/deathcap/GlowstonePlusPlus/issues/8 with @TekkitCommando  and @mastercoms. My thoughts, more servers the better, but some ideas:
- Bleeding-edge server automatically updated with the latest builds from CI (could add a post-build action to circle.yml to c

[2015-04-15 16:09] jimmikaelkael opened #40 "Mycelium block should spread."
The mycel block should receive random block ticking, then fade or spread accounting light level.
BlockFadeEvent and BlockSpreadEvent should be called accordingly.

References:
http://minecraft.gamepedia.com/Mycelium
http://minecraft.gamepedia.com/Tick

Will file a PR soon.

[2015-04-15 16:44] Tonodus commented on #498
Thats true, however it's kind of hacky and should be avoided if possible IMO, all the nice things like overriding interface's methods can't be done then...

I'm sure List and Collection wouldn't impair each other, however there moght be cases where the same method name needs to return the same object (f.e.  two times List<?> which would be seen as java/util/List both times). Imagine sponge change

[2015-04-15 20:46] kamcio96 commented on #498
@Tonodus, your last sentence means SpongeAPI should be main implementation and then wrap it into bukkit?

[2015-04-15 20:47] gdude2002 commented on #498
@kamcio96 Pretty much, although that was more of an open-ended opinion, I think :P

[2015-04-15 23:20] ZephireNZ commented on #498
I know that it's still quite new, but what about converting Glowstone to a full Sponge implementation, and then rely on a project such as [Pore](http://github.com/LapisBlue/Pore)?

That abstracts out the Bukkit compatibility to them, while we focus on converting to Sponge.

[2015-04-15 23:29] PaulBGD commented on #498
@ZephireNZ Glowstone at the moment doesn't exactly have a ton of active development.. completely switching what we're doing would take a lot of time, and development.

[2015-04-16 08:22] kamcio96 commented on #498
@PaulBGD so when we should change api to SpongeAPI? Now we have a lot of code to rewrite, but in future we will have it more

[2015-04-16 08:34] gdude2002 commented on #498
Glowstone was always intended and designed to be a Bukkit replacement. I doubt @SpaceManiac is going to want to switch tack all that suddenly.

[2015-04-16 12:09] Tonodus commented on #498
@kamcio96

Glowstone will have an API it is designed for and which it supports 100% without hacky things, wrapper classes, etc. pp. Currently it's bukkit, I just said it is technically possible to change this.

[2015-04-16 15:08] Ribesg commented on #498
It is technically possible to change everything. That's not the question.

[2015-04-17 02:47] mastercoms opened #43 "Cannot Remove Items from Inventory in Creative Mode"
You can't remove items from your inventory. The previous item will come back when you close the inventory.

I think we should add that client side line back in when we did the creative mode inventory pull, but still also keep the server side line.

[2015-04-17 03:02] mastercoms opened #44 "Drops Fall Slowly and Have No Forward Velocity"
Drops from the player fall slowly, and jagged. They should also go forward, while right now they drop below the player.

[2015-04-18 05:49] deathcap opened #45 "SpongeAPI event implementations"
API: https://github.com/SpongePowered/SpongeAPI

Useful references:
Forge implementation: https://github.com/SpongePowered/Sponge
Vanilla Minecraft implementation: https://github.com/SpongePowered/SpongeVanilla
Shared code: https://github.com/SpongePowered/SpongeCommon
Discussion on multi-API coexistence (Bukkit+Sponge):  https://github.com/GlowstoneMC/Glowstone/issues/498
- [ ] org.spongepowered.

[2015-04-18 08:54] kamcio96 commented on #498
So when we can start changing it? :smile:

[2015-04-18 19:31] turt2live commented on #498
I still don't think it's fair to say that we need to "switch" or turn our direction towards another goal. Instead, we should be working on a continuous path of implementing missing features (as well as resolving bugs) with a secondary path of working towards a secondary goal, such as investigating how the Sponge API could be implemented.

This kind of workflow means that we don't have to throw eve

[2015-04-19 17:58] #43 closed, assigned to nobody

[2015-04-20 04:38] deathcap commented on #498
Of interest, just posted this: https://forums.spongepowered.org/t/bukkit2sponge-an-implementation-of-spongeapi-for-bukkit-servers/6747/3 - a Bukkit plugin to load SpongeAPI plugins, based on an updated version of @SpaceManiac's https://github.com/GlowstoneMC/ShinySponge. Very barebones at the moment, but it does work with Glowstone.

The strategy of bridging Bukkit to Sponge is looking to be more

[2015-04-20 21:42] Mstrodl opened #46 "CanaryMod API"
I'm sorry if this is a stupid question but would it be possible to add support for the CanaryMod API? I'm not sure if there would be much purpose to it though but then again you're trying to add support for things right?

[2015-04-22 20:09] deathcap opened #47 "SpongeAPI implementation in Glowstone++ vs Bukkit2Sponge?"
Both https://github.com/deathcap/GlowstonePlusPlus (in net.glowstone.shiny based on https://github.com/GlowstoneMC/ShinySponge) and https://github.com/deathcap/Bukkit2Sponge (based on Glowstone++) implement SpongeAPI, what to do about this duplication?

The downside of this duplication is of course extra work in maintaining two separate copies (https://github.com/deathcap/GlowstonePlusPlus/issues/

[2015-04-23 19:37] #40 closed, assigned to nobody

[2015-04-25 05:23] #47 closed, assigned to nobody

[2015-04-25 18:44] #45 closed, assigned to nobody

[2015-05-01 03:11] ethsmith opened #50 "Question about the future of Glowstone++"
So is there plans for Glowstone++ to be a major thing or is this only for fun because I really want to help out if you have plans to make Glowstone++ a big thing. Things that could help with the success
Of Glowstone++ could be a website, irc chat, official test servers, Github organization so that who's on the Glowstone++ team will be easily defined and you can do a lot more with permissions on re

[2015-05-01 07:16] mastercoms opened #51 "TrueCraft"
TrueCraft is a complete open source implementation of 1.7.3 beta.
http://truecraft.io/

It could help us in determining how to implement certain Minecraft features properly, such as fluids.

[2015-05-01 17:29] #50 closed, assigned to nobody

[2015-05-01 17:40] ethsmith opened #52 "IRC for Glowstone++"
I made an IRC channel for Glowstone++ on EsperNet to test it out. We can use this or Gitter.im its up to you guys but until we decide we can temporarily use EsperNet :smile:

Link: https://webchat.esper.net/?channels=Glowstone++

[2015-05-02 04:41] #52 closed, assigned to nobody

[2015-05-04 15:42] ethsmith opened #53 "Glowstone++ Official Servers"
I can start working on the official Glowstone++ servers with my hosting company, and I will just post when they are ready, I can then send owner login info to @deathcap and another login to @mastercoms (deathcap can choose what level of access he wants mastercoms to have to the servers). I will post progress on the servers as well. Deathcap and Mastercoms can comment features they would like to ha

[2015-05-07 15:09] DefinitlyEvil opened #639 "Crafting is buggy"
Sometimes the output item will disappear on PC client. I don't think it is Dragonet's problem.
Are you having this issue too?
Thanks so much for helping. After fixing this bug, Glowstone can be used in production servers so does Dragonet.

[2015-05-07 16:03] Johni0702 commented on #639
This is known but hasn't been fully fixed by anyone yet. If you're interested in fixing it have a look there: #209

[2015-05-08 01:48] TekkitCommando commented on #639
I don't think he's java programmer

[2015-05-08 02:27] dequis commented on #639
@TekkitCommando He's the main developer of dragonet, another fork of glowstone. I sure hope he knows java.

[2015-05-08 12:40] turt2live commented on #639
Closing as a duplicate of #1

[2015-05-08 12:40] #639 closed

[2015-05-08 13:56] TekkitCommando commented on #639
Oh ok than I just didn't see any repositories haha

[2015-05-09 02:56] DefinitlyEvil commented on #639
@turt2live I sorry this is duplicated. But how and why this happening? I mean the glitchy crafting.

[2015-05-09 02:58] turt2live commented on #639
@DefinitlyEvil Because it's broken/not implemented.

[2015-05-09 23:15] deathcap opened #55 "Merge closed Glowstone pull requests"
split off from https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/issues/6:
- Already added [#191](https://github.com/GlowstoneMC/Glowstone/pull/191) Difficulty setting in glowstone.yml
- Already added by entities-ecs, to be merged [#196](https://github.com/GlowstoneMC/Glowstone/pull/196) Gravity for entities
- [ ] [#211](https://github.com/GlowstoneMC/Glowstone/pull/211) Chest sounds and anim

[2015-05-09 23:19] #6 closed, assigned to nobody

[2015-05-10 13:47] Ribesg commented on #630
I found that, as the behaviour of things seems to have been copy-pasted from Bukkit basically, you can define generators the same way you do in Bukkit:
[code]

It works, but maybe it's a bit weird.

[2015-05-10 17:12] #39 closed, assigned to nobody

[2015-05-10 17:13] #53 closed, assigned to nobody

[2015-05-10 17:14] #51 closed, assigned to nobody

[2015-05-10 17:14] #46 closed, assigned to nobody

[2015-05-10 17:14] #14 closed, assigned to nobody

[2015-05-10 17:17] mastercoms opened #56 "Glowstone++ API Implementations"
Discussion about APIs, continued mainly from https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/issues/14

Also,
https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/issues/46
https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/issues/47

[2015-05-12 19:53] ethsmith opened #58 "Updated our Wiki"
:+1:

[2015-05-12 19:54] #58 closed, assigned to nobody

[2015-05-13 11:34] turt2live commented on #630
Extension of #76.

[2015-05-16 13:55] mastercoms opened #59 "Apply for Intellij IDEA Open Source License"
@deathcap, could you sign us up for a free Intellij IDEA Ultimate Open Source license?

https://www.jetbrains.com/shop/eform/opensource?product=II

[2015-05-17 14:44] SamNosliw opened #60 "Implement tile tick format"
At the moment, pulse requests are stored within the GlowWorld, and if the server shuts down while something is waiting for an update, then it will forget this. So if water is spreading or the pulse request is used for something else later (e.g. redstone) then if the server shuts down or the world unloads, when it reloads it will freeze in place and wont update until a player manually updates it.

[2015-05-18 11:15] #59 closed, assigned to nobody

[2015-05-18 11:16] mastercoms opened #61 "Achievements do not persist and no friendly names"
Achievements do not persist from multiple sessions, and the friendly name is not given.

[2015-05-18 11:19] mastercoms opened #62 "Decorator forces liquid pulse"
The liquid decorator forces a liquid pulse instead of requesting one from the world.

[2015-05-18 12:59] mastercoms opened #65 "PlayerDataFetcher should be disabled in offline mode?"
https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/blob/0538fe37681a1fc680b539f286f4975ed84b28d8/src/main/java/net/glowstone/entity/meta/profile/PlayerDataFetcher.java

It is kind of useless for offline mode, so should we disable it?

[2015-05-20 01:56] mastercoms opened #67 "Attachable Blocks are weird with tall grass"
![redstone torch on redstone torch](http://i.imgur.com/kJpGMO2.png)

I managed to get this beauty by placing one torch on tall grass, while pointing to tall grass behind it, and it replaced the tall grass like you would expect, but then it went on the tall grass behind it. So then, I replaced the tall grass with another torch placement and it placed itself on the face of the redstone torch that wa

[2015-05-20 16:10] mastercoms opened #68 "Gson or JSON Simple?"
I'm looking to clean up the Glowstone++ code. What library should I use for JSON, gson or json simple?

[2015-05-21 22:18] kamcio96 opened #70 "Question about branch nobukkit"
what will it contain? only SpongeAPI and implementation?

[2015-05-22 00:48] #68 closed, assigned to nobody

[2015-05-24 18:53] #70 closed, assigned to nobody

[2015-05-27 01:05] MCFinestPro opened #641 "Group Manager Not Working in Glowstone Servers"
If someone could please help me with Group manager that would be awesome! When ever i try to use it on my server it wont let me do /help
i also found this Error log i can show you if it helps
2015-05-26 19-36
=============================== GM ERROR LOG ===============================
= ERROR REPORT START - 2.1.31 (Phoenix) =

java.lang.NullPointerException
at org.anjocaido.groupmanager.dataholder

[2015-05-27 04:50] turt2live commented on #641
GroupManager has a [known compatibility problem](https://docs.google.com/spreadsheets/d/1_dvf1v7OjmP0RcL2gTWOdnBYbYut5cHYKMUpRWlUrx8/edit#gid=0). Please refer to the [plugin compatibility list](https://docs.google.com/spreadsheets/d/1_dvf1v7OjmP0RcL2gTWOdnBYbYut5cHYKMUpRWlUrx8/edit#gid=0) for more information.

If you continue to have an issue, please let us know.

[2015-05-31 16:34] mastercoms opened #71 "Huge memory leaks"
There are two huge memory leaks in Glowstone++ right now.

I don't know what causes them yet, but the objects/classes created are:
- io.netty.util.Recycler$WeakOrderQueue
- io.netty.util.Recycler$WeakOrderQueue$Link
- java.lang.ref.Finalizer

Glowstone does have the java.lang.ref.Finalizer leak. I should mention that this leak does not grow nearly as fast as the netty leak.

[Information](https://

[2015-06-01 01:04] turt2live commented on #641
@MCFinestPro Have you managed to resolve your issue?

[2015-06-01 10:13] Ribesg commented on #76
Hey. Wanted to give some pointers to available **Vanilla** world generators.

The first one is [VanillaGenerator](https://github.com/coelho/VanillaGenerator) by @coelho. It requires [VanillaNMS](https://github.com/coelho/VanillaNMS) and that you own the Vanilla Server jar you want to use (Official links [here](https://mcversions.net/), unofficial repositories available [here](http://files.ribesg.f

[2015-06-01 11:14] gdude2002 commented on #76
Well, this certainly is a pleasant surprise. I'd like to know of any others as well, this is great news!

[2015-06-01 12:10] Ribesg commented on #76
Remaining problems are the handling of structures that have to be saved for reasons, like Villages. No idea if it's the World Generator's problem to save them in a Villages.dat file.

I don't have the knowledge about Villages and other structures to know why exactly you need to save them, and I don't know if not having that is a huge issue or not. See https://github.com/Ribesg/Pure/issues/1.

[2015-06-01 12:37] mastercoms commented on #76
Do plugins have to specifically use VanillaNMS or can all plugins that use NMS use it?

[2015-06-02 06:14] Ribesg commented on #76
@mastercoms I don't understand you're question. VanillaNMS and "plugins that use NMS" are unrelated.

[2015-06-02 06:18] mastercoms commented on #76
I was asking if VanillaNMS added the net.minecraft.server package to the server so that all plugins could use it.

[2015-06-02 07:36] Ribesg commented on #76
Well.

First, it doesn't add a ``net.minecraft.server`` package but something more like ``r1_8.net.minecraft.server``. It's required: imagine if you want an Alpha map and an 1.8 map. You need to load both jars, and classes will overlap if you don't relocate.

Next, this has **absolutly nothing** to do with CraftBukkit's NMS. CraftBukkit's NMS is a **heavily modified** version of Vanilla NMS, which

[2015-06-02 17:12] mastercoms commented on #76
So it provides Mojang's nms. And nms it isn't implemented in Glowstone so the server couldn't understand if plugins used it. VanillaGenerator just uses it to get a value, in this case the map.

Did I understand correctly?

[2015-06-02 17:18] Ribesg commented on #76
To make it clear, in CraftBukkit the classes in NMS are what is actually used to run the server. In Glowstone, there's no NMS, and there never will. Both plugins cited "just" use NMS to "get a value", yes, even if it's much more complex than that. But you can think about it as calling a method in NMS to generate chunks if you want. All the context of a real running server is missing and has to be

[2015-06-02 17:21] mastercoms commented on #76
Yes, I understand that CraftBukkit wraps nms. And Glowstone is a project to "rewrite nms" in a clean room fashion.

Thanks for helping me understand VanillaNMS!

[2015-06-07 01:08] turt2live commented on #641
Closing this as inactive. @MCFinestPro if you continue to have issues please consult our [forums](http://forums.glowstone.net).

[2015-06-07 01:08] #641 closed

[2015-06-07 04:31] SamNosliw commented on #116
Hey, I just wanted to say that I added partial redstone support for 'GlowstonePlusPlus', its not pretty and does need some tidying up, but if you were interested I could transfer it over (hopefully tidier too) to this project. Link: https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/pull/64

[2015-06-07 06:07] turt2live commented on #116
@SamNosliw Please make a pull request on our side for review. Thanks!

[2015-06-10 05:06] ender4021 commented on #629
I believe I have witnessed what this causes on the client side:

Say you are breaking some LONG_GRASS and that only takes you 1 "hit" to break it. DiggingHandler only ever sees the "START_DIGGING" message and never the "FINISH_DIGGING" message for the LONG_GRASS block. This leads to things like item drops and other "block has been broken" actions from taking place.

This also appears to be reprodu

[2015-06-10 18:44] PaulBGD commented on #629
@ender4021 Feel free to make a PR, fix looks good.

[2015-06-11 17:42] Tonodus commented on #629
This is a duplicate of #384

[2015-06-11 18:47] ender4021 commented on #629
@Tonodus Yes, it is. We should get #541 moving again.

@turt2live Perhaps this would be a good opportunity to close #642 and #629 in favor of #541 and #384. I think #541 is a more robust solution.

[2015-06-12 04:40] turt2live commented on #629
Closing this as a duplicate of #384, #384 will be updated with some of the information presented here for reference.

@ender4021 Both #642 and #541 will be reviewed independently and only then should they be compared.

[2015-06-12 04:40] #629 closed

[2015-06-14 18:56] xvento opened #643 "Disconnected from game?"
Hello, I need some help..
The server is up and running but everytime i try entering it the code:
![image](https://cloud.githubusercontent.com/assets/12885315/8149967/c4216926-12d7-11e5-831d-59c4516865ec.png)
 What can I do? I'm not that hightech, please help me. :)

[2015-06-14 18:58] greatman commented on #643
Is there any issues (stacktraces) on the server side?

[2015-06-14 19:01] xvento commented on #643
No, not what I know of... There are three people who can't get in and get this exact message, we live in the same claimed chunk :/ ...
There are 10 others online and they don't have the problem..

[2015-06-14 20:20] gdude2002 commented on #643
When do you get this error? On join? On going to a certain part of the map?

[2015-06-14 21:12] xvento commented on #643
On a certaint point of a map :)
No I'm not using offline :)

This error comes on when I join the server

[2015-06-15 11:54] coelho commented on #643
@xvento Please paste the console output.

[2015-06-22 03:17] mastercoms opened #72 "Server transfer"
So, I'm going to be moving the test server from the dedicated server to a new VPS server. Performance may go down by a tiny bit, and there will be some downtime. This transfer will occur Friday, 1PM EDT.

[2015-06-24 03:16] mastercoms opened #74 "Add drone.io again"
Drone.io provided downloads without logging in, and we removed it because we shaded sponge, which made glowstone++.jar go over the 10MB limit for drone.io.

Now, we have decided to include plugin suppport in plugins instead of the actual server, so the jar size is less than 10MB again.

[2015-06-24 04:30] #67 closed, assigned to nobody

[2015-06-24 04:47] #62 closed, assigned to nobody

[2015-06-24 20:53] #25 closed, assigned to nobody

[2015-06-27 15:24] #74 closed, assigned to nobody

[2015-06-27 15:25] #72 closed, assigned to mastercoms

[2015-06-29 16:04] mastercoms opened #75 "repo.glowstone.net is down"
This prevents people from downloading libraries necessary for plugin compatibility.

I'll set up a new repo.

[2015-07-01 19:35] #75 closed, assigned to mastercoms

[2015-07-13 09:39] DefinitlyEvil opened #76 "Crafting is weird"
Hi there, this is a cool fork of Glowstone and our code switched to your code and we gave you credits in our read me.
I found out some problems:
- Crafting is weird(just like original Glowstone xD)
- Item dumplication when crafting(this is kinda serious)

I really hope you can fix those problems, I tried my best but I can't find where the problem is. Thanks so much. ;D

[2015-07-13 18:40] #76 closed, assigned to mastercoms

[2015-07-15 21:39] #65 closed, assigned to nobody

[2015-07-15 21:39] #56 closed, assigned to nobody

[2015-07-15 21:42] #61 closed, assigned to nobody

[2015-07-16 04:51] ethsmith opened #78 "Minecraft 1.9"
You think it's a gonna be a lot of trouble on our part when 1.9 is released? It should change a lot shouldn't it?

[2015-07-16 18:14] #78 closed, assigned to nobody

[2015-07-16 18:15] #44 closed, assigned to nobody

[2015-07-16 18:16] #71 closed, assigned to nobody

[2015-07-16 18:53] mastercoms opened #79 "Glowstone++ versioned release"
I was thinking to mark progress and stability, we should feature a build by versioning it.

This will be great to server owners because they don't know which build is good for their server, and instead have to risk stability and the server being in flux by updating every dev build.

Dev builds will not be versioned. Versioning will just be a way of featuring/marking a build as recommended.

For ou

[2015-07-17 07:01] #79 closed, assigned to nobody

[2015-07-18 20:03] ethsmith opened #80 "Added an Account to the Hosting"
I added an account to the hosting for Glowstone++ I made the email for the account your public email on github, idk if thatts the email you wanted but if you get a random email its PROBABLY from me :)

Just confirm thats the email you want or tell me the new email you would like and i will give you the login details :)

[2015-07-18 20:24] #80 closed, assigned to nobody

[2015-07-25 20:30] ghost opened #84 "Grass decays in all Biomes except Ocean"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24948805-grass-decays-in-all-biomes-except-ocean?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=g

[2015-07-31 05:34] ethsmith opened #85 "Glowstone's Inactivity"
Glowstone hasn't has any sort of updates at all in at least 6 months, you think they are gonna remain inactive?

[2015-07-31 22:45] #85 closed, assigned to nobody

[2015-08-10 00:38] ctg21 opened #644 "Wont Update Config Settings"
My server won't update player limit or motd

[2015-08-10 04:46] turt2live commented on #644
Please visit the [support section](https://forums.glowstone.net/c/support) of our forums. You are more likely to get an informed response there. Thanks!

[2015-08-10 04:46] #644 closed

[2015-08-12 15:24] Postremus opened #86 "NPE when trying to load EntityHorse"
Hey,

we started today to play around with g++. We imported our old survival world. Got this exception on startup. Could it be that Entitys are not fully implemented yet? What is the current state of them?

[code]

Greetings
Postremus

[2015-08-12 17:45] r0b0tbuilder opened #645 "Add fire spreading feature"
Currently, fire does not spread from one block to another (such as wood), instead it burns a single block infinitely.  Perhaps this feature could be implemented with different fire tick times for different types of blocks (e.g. wood will burn slower than planks).

[2015-08-12 17:54] gdude2002 commented on #645
Related to #509 (closed), #325 and perhaps #28 - Also possibly PR #249

This feature simply isn't done yet - If you'd like to contribute a pull request, feel free, but until then, I'm going to close this ticket.

[2015-08-12 17:54] #645 closed

[2015-08-12 20:13] #86 closed, assigned to nobody

[2015-08-13 12:29] themineraria opened #646 "Block in armor slot"
I do the duplicat glitch and when i take my item, i can place then in any slot i want.
![2015-08-13_14 25 35](https://cloud.githubusercontent.com/assets/13781558/9249685/a37f7ffe-41c7-11e5-9184-7a513218fa81.png)

[2015-08-13 12:30] gdude2002 commented on #646
I don't understand; what duplicate glitch?

[2015-08-13 12:31] themineraria commented on #646
this one : https://github.com/GlowstoneMC/Glowstone/issues/209

[2015-08-13 12:32] gdude2002 commented on #646
Well, if this is caused by the duplicate glitch then fixing that glitch (The fact that crafting is buggy, among other things that we already know about) will fix it.

[2015-08-13 12:32] #646 closed

[2015-08-13 21:26] r0b0tbuilder commented on #603
How are achievements and statistics currently implemented?

[2015-08-13 21:40] gdude2002 commented on #603
Have you [tried a search](https://github.com/GlowstoneMC/Glowstone/search?utf8=%E2%9C%93&q=Achievement)?

[2015-08-23 16:40] mastercoms opened #89 "Use Guava Compat 10"
This upgrades Guava to v19, while still retaining compatibility with Guava 10 plugins, which were made for Bukkit 1.7 and lesser.

https://github.com/socram8888/GuavaCompat10

[2015-09-04 09:56] MrSnowGlobe opened #93 "Chunk Generation Errors"
Getting Chunk generations when starting the server.

Using Glowstone++ Build #401

java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

Logs - http://pastebin.com/fqEju2zQ

I couldn't post the full log because it exceeds the file size limit of pastebins free offering. I included the start and end of the logs w

[2015-09-04 11:04] #93 closed, assigned to nobody

[2015-09-11 18:24] Pocketkid2 opened #94 "Crashes on my server that previously ran Spigot 1.8.8"
I have a server where I play with some plugins, including WorldEdit, WorldGuard, and Movecraft. I wanted to see if replacing the Spigot with GlowstonePlusPlus would have a performance enhancement.

It appears to work pretty fast! Although there are a lot of issues, and I will list the ones I noticed.
- Pasting in WE schematics was terrible (signs had no data, and later on a bigger schematics, all

[2015-09-20 14:52] nerlu opened #95 "Error if i try to set an redstonetorch into grass"
[code]

[2015-09-20 17:21] #95 closed, assigned to nobody

[2015-09-20 17:49] nerlu opened #96 "error when tnt explodes"
this exception is spamed multiple times after one tnt is exploded.
The exploding tnt sound is also hearable multiple times

[code]

[2015-09-20 18:02] #96 closed, assigned to nobody

[2015-09-20 18:13] nerlu opened #97 "tnt knocks you way to much back (100+ blocks)"
when standing close to an exploding tnt, you will get fling in the air towards north west, around 100 blocks high

[2015-09-20 18:18] #97 closed, assigned to nobody

[2015-09-20 18:25] nerlu opened #98 "TNT does not detect entities after a world save"
now you will get no tnt knockback at all.
see #97

[2015-09-22 01:54] Varlanou commented on #359
Sorry for the way late reply. If I remember correctly I closed this due to finding that the server program I was using (Not Craftbukkit cause at the time it was being messed with) was not fully created and lacked certain features, such as person user skins.

[2015-09-22 13:10] gdude2002 commented on #359
Sure, but if there wasn't a ticket for it, it can only help to have one.

Did you have any more detail on this? Any exceptions, anything like that? Does [Glowstone++](https://github.com/GlowstonePlusPlus/GlowstonePlusPlus) have the same problem?

[2015-10-07 18:09] ethsmith opened #99 "Glowstone++ and Dragonet Sponsorship"
I am MC Server Bank's COO as I have told you before probably that's how I gave @mastercoms and @DragonetMC a sponsorship for Minecraft Server's, but I am creating a software/game development LLC and so I will have less time to look after the sponsored accounts, you should be good but if you have any trouble you guys can always comment here or email me at tekkitcommando@gmail.com

[2015-10-11 17:45] ghost opened #100 "Console filled with '>'"
I am running Glowstone++ 1.8.8-SNAPSHOT and everytime something is printed to the console hundreds of `>` signs follow. How can I fix this? Is it a server misconfiguration?

[2015-10-12 01:11] ghost opened #101 "Stacktrace on survival, adventure, spectator inventory close"
Java version: 8
OS: Ubuntu 15.04
Glowstone++ version: 1.8.8-SNAPSHOT

**EDIT**: It seems that this only occurs when closing the survival inventory
**EDIT**: Now it occurs on survival, adventure and spectator

When I close my survival inventory the console shows this stack trace (I tried my best to capture it):

[code]

[2015-10-12 01:14] ghost opened #102 "Water doesn't go away after removing it"
When you place water normally in Minecraft when the main source block is removed the water slowly flows away. In Glowstone, more source blocks are made which cannot be picked up by a bucket therefore creating water that can't ever be removed.

[2015-10-14 01:00] ethsmith opened #105 "Sorta off topic but..."
How long have you been designing websites @mastercoms and did you make Circuitsoft one? and is that a registered non profit or business I think I saw it somewhere but im not 100% sure. I feel like I did.

[2015-10-14 01:43] #105 closed, assigned to nobody

[2015-10-27 03:30] #99 closed, assigned to nobody

[2015-11-27 06:25] ghost opened #107 "What can I do to help?"
I used the first glowstone version for a little bit and was very interested in this new server software. Now I've got a little more experience in java (Still I'm only about half experienced in it) and I want to find a way to help glowstone++. Do you guys have any ideas?

[2015-11-28 05:49] ghost opened #108 "Crash when trying to start Glowstone++ for the first time"
I don't exactly know what happened... Running on Lubuntu 14.04(I think)

[code]

[2015-11-28 06:02] #108 closed, assigned to nobody

[2015-11-28 18:56] HyperPlay opened #109 "Spigot-inspired /timings doesn't work."
<code>18:53:00 [SEVERE] Exception while executing command: /timings report
org.bukkit.command.CommandException: Unhandled exception executing 'timings report' in org.bukkit.command.defaults.TimingsCommand(timings)
    at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:191)
    at net.glowstone.GlowServer.dispatchCommand(GlowServer.java:1147)
    at net.glowstone.entity.GlowPlaye

[2015-12-02 17:05] DefinitlyEvil opened #110 "Switching lever on and off caused this"
[code]

[2015-12-02 17:10] DefinitlyEvil opened #111 "UUID lookups do not thread"
Is it possible to fetch player's UUID in another thread? It hangs the server when typing in a random username.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28789196-uuid-lookups-do-not-thread?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2015-12-05 02:45] ghost opened #112 "Is there a list of supported plugins for G++?"
Well, the title pretty much says everything.

[2015-12-06 16:20] #112 closed, assigned to nobody

[2015-12-08 05:27] DefinitlyEvil opened #114 "Spamming BlockUpdateMessage when player connects"
Server spamming BlockUpdateMessage when player connects.
Tons of them never stops.

[2015-12-14 17:35] ghost opened #116 "A bunch of errors when launching eclipse"
I'm trying to help with the project and I'm trying to set up eclipse. After I import the project, I get tons of errors, mainly with org.apache.commons. This is the first time for me actually using git on my PC so I need some help.

[2015-12-15 02:25] #116 closed, assigned to nobody

[2015-12-15 02:34] ghost opened #119 "More errors in eclipse after installing maven to start developing!"
![image](https://cloud.githubusercontent.com/assets/16041839/11800412/346c4568-a2aa-11e5-9f9d-7e787c70fbf5.png)ERRORS EVERYWHERE!!!!!!!!

I've got maven installed after hours of fussing with it, and now eclipse is going crazy with a bunch of stuff that I know can't be wrong because it passes the builds on CircleCi. I did have some whitespace problems on my pull request, which it noticed and I fixe

[2015-12-15 16:50] #119 closed, assigned to nobody

[2015-12-15 16:51] #107 closed, assigned to nobody

[2015-12-16 09:52] quickplot opened #123 "Multiple Version Compatibility or compatibility with ProtocolSupport"
It would be great if multiversion compatibility could be implemented either by having this plugin work https://github.com/ProtocolSupport/ProtocolSupport or making a custom implementation of it.  This would allow 1.7 clients and other clients to join a Glowstone++ server.

The error you get when you try and run the latest development build of ProtocolSupport is:
2015/12/16 11:47:45 [INFO] PluginTy

[2015-12-16 11:09] jimmikaelkael opened #124 "Glowstone++ is missing a vanilla-like End generator"
Actually, we are missing a generator for TheEnd dimension.
I'll try to provide that generator asap.

[2015-12-16 13:30] aramperes opened #125 "How can we implement blocks that can/can't be pushed by pistons?"
I am currently implementing the piston function into G++, but I need an input for this. Certain solid blocks, such as anvils, barriers, bedrock and portal blocks, as well as Tile Entities (block entities) cannot be pushed by pistons in Vanilla Minecraft.

How could we implement this? Easy solutions would include a "PistonAction" enum, or a GlowBlock boolean value, or a "GlowImmovable" interface.

[2015-12-17 08:31] jimmikaelkael opened #128 "Spawn location acting oddly."
When doing my tests on TheEnd dimension generation I noticed the that the spawn location is quite strange.
The GlowWord class is calling TheEndGenerator.getFixedSpawnLocation method when the world is generated which I then logged to see that my generator was returning a valid spawn location (I mean on ground).

However when I teleport to TheEnd dimension (I use Multiverse to be able to teleport),

[2015-12-17 13:33] #124 closed, assigned to nobody

[2015-12-17 14:09] jimmikaelkael opened #129 "Glowstone++ is missing a superflat generator"
Not the most difficult to implement, but we're missing one.
I'll try to provide that superflat generator and it should be fairly easy to do that quickly :)

[2015-12-17 16:38] ghost opened #130 "Cannot create nether portals"
Right now fireNetherPortal() is called when you use flint and steel on obsidian, but that function is empty. I'm gonna start filling that function to fire the nether portal. It would be a bit more complex, at least I think, than most things in java I've done before, but I think I can do it.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2015-12-17 20:39] jimmikaelkael opened #132 "SnowPopulator is ineffective"
Despite all my efforts generating a lot of chunks, there's no snow... That's not how it should be and especially in cold biomes.
I've implemented that part and designed it to snow in cold biomes, so I left a bug somewhere :)

[2015-12-18 00:13] #129 closed, assigned to nobody

[2015-12-18 00:15] #132 closed, assigned to nobody

[2015-12-18 22:18] #128 closed, assigned to nobody

[2015-12-18 22:19] #114 closed, assigned to nobody

[2015-12-20 20:49] mastercoms opened #134 "Flow Noise"
Could we use flow noise to replace our internal noise? https://github.com/flow/noise

We already use flow networking.

[2015-12-20 23:48] #98 closed, assigned to mastercoms

[2015-12-21 17:51] #89 closed, assigned to nobody

[2015-12-28 20:25] BalloonChamp opened #137 "Crafting Bug"
When I went into the inventory 2 by 2 crafting grid to make some planks, I placed the wood and it stayed for a fraction of a second, then disappeared. I exited the inventory and the logs flew out of me and I picked them up. This bug also happens in the regular crafting table.

[2015-12-29 20:09] #110 closed, assigned to nobody

[2015-12-29 22:11] BalloonChamp opened #139 "Spawn egg bug/ block break bug."
Hi again,
So 2 simple bugs.
1. When I try to spawn an animal from an egg, it spawns a pig with no AI
1. Every time I break a block, it lags bad. And this is not the fact that the server is lagging, because I put 4 gigs of ram on it.

[2015-12-30 14:36] #101 closed, assigned to nobody

[2015-12-30 14:36] #137 closed, assigned to nobody

[2016-01-01 22:27] #21 closed, assigned to nobody

[2016-01-03 20:58] #139 closed, assigned to nobody

[2016-01-03 21:11] #123 closed, assigned to nobody

[2016-01-07 06:13] deathcap opened #144 "Update to use flow-network release once available (instead of submodule)"
Currently Glowstone++ is using a snapshot version of com.flowpowered flow-networking. Once a release is published (waiting on https://github.com/flow/network/issues/11), we should switch to the release version.

This will have several advantages (ensuring stability, avoiding the unnecessary daily update checks, easier installs, etc.), more details: http://stackoverflow.com/questions/5901378/what-e

[2016-01-07 07:28] mastercoms opened #145 "Glowstone++ no longer <3s the CPU and RAM"
CPU and RAM usage seems to have gone up a lot in the later builds. I've seen CPU usage go up to around 50% on my i7-4510U. The JVM allocates 1.5G of RAM, although Glowstone++ seems to be only using 600MB. Before, CPU usage was around 8%, and JVM allocated 500MB, with Glowstone++ using around 200MB. I think this has to do with my new liquid flow logic.

[2016-01-07 07:49] deathcap opened #146 "mineflayer client hangs Glowstone++ server"
Using the latest Glowstone++ (65111e) I can connect with the official client, but https://github.com/PrismarineJS/mineflayer (also latest dev version, c3f67f9) hangs and seems to DoS the server, but it does not crash:

[code]

The server kicks the client for timing out:

[code]

After the server gets into this state, I can no longer connect even with the official client (it, too, times out), and t

[2016-01-08 03:33] #134 closed, assigned to nobody

[2016-01-09 04:24] #146 closed, assigned to nobody

[2016-01-15 12:19] #144 closed, assigned to nobody

[2016-01-15 12:21] #145 closed, assigned to nobody

[2016-01-18 12:57] #102 closed, assigned to nobody

[2016-01-18 21:20] ghost opened #152 "Severe error after breaking any block (Only in survival mode)"
**Java version**: `build 1.8.0_66-b17`
**OS**: `Mac OSX El Capitan (10.11)`

**What I did**:
I started the most recent build of Glowstone++ and broke a sand block and recieved this stack trace. I then proceeded to break other blocks receiving the same trace. The block disappears but doesn't drop.

**Additional notes**:
When breaking cactus (a block that causes damage) the trace occurs then when I

[2016-01-19 04:14] #152 closed, assigned to nobody

[2016-01-19 04:21] #100 closed, assigned to nobody

[2016-01-19 13:19] ghost opened #156 "Entities don't despawn after killing them"
**Java version**: `build 1.8.0_66-b17`
**OS**: `Mac OSX El Capitan (10.11)`
**Glowstone ver.**: `newest (40df0c7)`

**What I did**:
I got a spawn egg from the creative menu then switched to survival and killed it with a diamond sword (I also got that from the creative menu) then after hitting it (I saw the red indicating that I hit it) then I kept hitting it and red didn't show up (I killed it) bu

[2016-01-19 13:25] ghost opened #158 "After crafting an item the items drop out of the crafting table giving me the item and items I used to craft it"
**Java version**: `build 1.8.0_66-b17`
**OS**: `Mac OSX El Capitan (10.11)`
**Glowstone ver.**: `newest (40df0c7)`

**What I did**:
I used creative mode the get 2 sticks and a diamond then I switched back and put them into a crafting table to make a diamond shovel. After I pulled out the shovel the items disappeared from the other slots (as they should) then I exited out and items that I used to c

[2016-01-19 14:57] #158 closed, assigned to nobody

[2016-01-20 06:57] #156 closed, assigned to nobody

[2016-01-23 15:48] gdude2002 opened #166 "JavaDoc build issues [$10 awarded]"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=30141859)](https://www.bountysource.com/issues/30141859-javadoc-build-issues?utm_source=30141859&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Due to doclint, the Javadocs for all repos [are not building](https://bamboo.gserv.me/download/GSPP-SRV-JOB1/build_logs/GSPP-SRV-JOB1-12.log). What should we do?
- Disable doclint
- (_Decided

[2016-01-23 17:48] #125 closed, assigned to nobody

[2016-01-24 01:00] Paulomart opened #167 "Dependency relocation?"
Hi,
just wannted to ask if you plan to do that?

[2016-01-24 01:30] #167 closed, assigned to nobody

[2016-01-24 11:32] Paulomart opened #169 "Cannot dig multiple blocks in less then one tick?"
If you spam click on two tall_grass to destroy it, you destroy both but get this exception:

[code]

[2016-01-24 11:35] Paulomart opened #170 "Entity destory packet is not send when disconnecting"
When a player gets disconnected or is kicked, the EntitiesDestoryMessage is not broadcasted to all clients. When interacting with the player the servers notices that there is no entity: `Player Paulomart tried to attack an entity that does not exist`

![2016-01-24_12 34 29](https://cloud.githubusercontent.com/assets/4148404/12535990/f985d70e-c296-11e5-9440-bcf03f96f81e.png)

[2016-01-24 11:39] Paulomart opened #171 "Cannot /stop the server"
When using the `/stop` command in console or as player you get this:

[code]

[2016-01-24 13:32] #169 closed, assigned to nobody

[2016-01-24 13:32] #171 closed, assigned to nobody

[2016-01-24 23:26] #170 closed, assigned to nobody

[2016-01-25 17:11] Paulomart opened #179 "Water broken?"
I think there is a bug with water flow in current master:
![2016-01-25_16 54 33](https://cloud.githubusercontent.com/assets/4148404/12558222/d547d826-c38e-11e5-8b43-c1942b843ed6.png)

As you can see in the picture the water flows all accross the world. I _should_ flow down, as in Spigot:
![2016-01-25_18 11 05](https://cloud.githubusercontent.com/assets/4148404/12558266/036fe7e8-c38f-11e5-9a5d-8b38

[2016-01-25 17:59] #179 closed, assigned to nobody

[2016-01-25 21:40] Paulomart opened #181 "Inventory sync issue"
Because images say more then words. I dobble click on in the inventory,
![gif](http://i.imgur.com/EkdKMbW.gif) http://i.imgur.com/EkdKMbW.gif

Console claims that it was rejected:

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30200468-inventory-sync-issue?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&u

[2016-01-29 03:54] LuxusDarkangel opened #182 "Fall damage not working properly"
You can avoid fall damage following these steps:
1.- Go somewhere high (i haven't tried this on very high places, only 5-7 blocks)
2.- Jump to fall and jump again just before reaching the ground
3.- If done properly, you'll avoid fall damage

It's really easy to reproduce once you get the trick. Anyway I can upload a video showing it if needed.
## <bountysource-plugin>

Want to back this issue? **

[2016-01-29 04:01] LuxusDarkangel opened #183 "Total client desync on death"
Once you die (keeping your inventory) you'll be able to toss your items to the ground (the action happen serverside) but you'll still see your items in the inventory.
Also, you won't be able to take fall damage after death (or you will eventually get 1- heart without animation), but it still keeps your position after disconnecting.

You can fix the desync by disconnecting and reconnecting to the s

[2016-01-29 04:05] LuxusDarkangel opened #184 "Some chunk loading issues"
You can see 3 different errors in console regarding terrain/chunk load:
http://pastebin.com/p94Wd35g

[2016-01-31 19:04] deathcap opened #186 "Legacy ping support (fe01 / fe packet)"
Glowstone++ supports supports the 'modern' status handshake ping (Netty-based protocol), but not the "legacy" (0xfe packet) ping. According to http://wiki.vg/Protocol#Legacy_Server_List_Ping:

All vanilla Minecraft servers 1.4.4+ support this ping, including 1.8.9 and 1.9 snapshots. Client software such as server status pages may still use it (being much simpler than the modern ping), so I think i

[2016-02-01 01:19] deathcap opened #187 "Query service: Error in query handling io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1"
Query client requests cause Glowstone++ to log "Error in query handling" errors

To test, edit config/glowstone.yml set query-enabled: true, query-port: 25565
Use a query tool, tried both https://github.com/xPaw/PHP-Minecraft-Query/blob/master/README.md#query and https://github.com/deathcap/node-minecraft-ping with the same error:

[code]

Tested builds 632 and 471, no difference. Not sure if this

[2016-02-05 16:07] #187 closed, assigned to nobody

[2016-02-08 14:31] Paulomart opened #190 "Remapping dependencies"
When connecting to a glowstone server via bungee this happens and you cannot connect to the server.

[code]

Related:

https://github.com/GlowstonePlusPlus/GlowstonePlusPlus/blob/master/src/main/java/net/glowstone/net/codec/handshake/HandshakeCodec.java

https://github.com/SpigotMC/BungeeCord/blob/master/proxy/src/main/java/net/md_5/bungee/ServerConnector.java#L76

https://github.com/SpigotMC/Bung

[2016-02-09 21:01] Paulomart opened #192 "InventoryCloseEvent is not fired"
Test code: https://github.com/Mystalion/GlowTest/tree/inventory-close

[2016-02-10 01:39] #192 closed, assigned to nobody

[2016-02-11 12:57] #190 closed, assigned to nobody

[2016-02-13 18:03] Paulomart opened #198 "Teleport on PlayerMoveEvent causes client desync"
When teleporting a client on PlayerMoveEvent, the player is teleported for all other players on the server, but not for himself. Cancelling the event dosent help. Only teleporting on the next tick.

Code:

[code]

[2016-02-13 18:59] Paulomart opened #199 "Chunk unknown version"
[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30825708-chunkloading-unknown-version-0?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=git

[2016-02-15 18:29] Paulomart opened #202 "Invisible blocks?"
![2016-02-15_19 28 00](https://cloud.githubusercontent.com/assets/4148404/13057122/4afbe044-d41a-11e5-9850-81cabf14f24b.png)
![2016-02-15_19 28 06](https://cloud.githubusercontent.com/assets/4148404/13057123/4b1cf7a2-d41a-11e5-8a21-0079716e3b76.png)

Running lastest Glowstone++, patched with MysticStone, but It should not make a difference. Also runnung behind bungee.
## <bountysource-plugin>

Wan

[2016-02-15 19:56] #198 closed, assigned to mastercoms

[2016-02-15 19:59] #184 closed, assigned to nobody

[2016-02-15 20:32] Paulomart opened #203 "Chunk generator problem"
[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30877360-chunk-generator-problem?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github).
<

[2016-02-15 20:48] Paulomart opened #204 "Teleportion bug"
When teleporting you fell sometimes though the floor.
Doing this on localhost requires a lot of spamming: `/glowtest`
![floor](https://cloud.githubusercontent.com/assets/4148404/13059912/e11cdf5c-d42d-11e5-8e90-c0a5ab487685.gif)

[2016-02-15 21:19] #204 closed, assigned to nobody

[2016-02-16 20:26] jimmikaelkael opened #206 "Thunder is crazy"
Has anyone noticed how much frequently the lightning bolt strikes ?

[2016-02-17 19:09] #206 closed, assigned to nobody

[2016-02-17 19:25] #183 closed, assigned to nobody

[2016-02-17 19:29] LuxusDarkangel opened #208 "Health regen and absorption bug"
Regeneration (potion effect) is really slow compared to vanilla, and absortion is not applied
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30955026-health-regen-and-absorption-bug?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2016-02-17 19:49] jimmikaelkael opened #209 "Nether hangs"
It wasn't happening until recently, but now as soon as I teleport to the nether the server hangs...
I get kicked after a while for 'time out' reason and the server is frozen.

I've noticed too that I'm often kicked for hacking reason at first connection attempt.

Sometimes I enter infinite loops where I start a server with fresh worlds, I get spawned in the air then fall and die. I'm sent back to

[2016-02-18 18:15] Heddo opened #212 "Player swinging arm is not mirrored on other clients"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30990274-player-swinging-arm-is-not-mirrored-on-other-clients?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues

[2016-02-18 18:46] jimmikaelkael opened #214 "Soul sand causing strange hiccups on player"
I noticed it when doing the nether fix, when walking on soul sand the player slightly jumps.
This is really annoying (from player point of view).

I noticed too a lot of "player moved too quickly" warnings when in the Nether.

[2016-02-18 19:15] #166 closed, assigned to nobody

[2016-02-18 19:51] Paulomart opened #215 "You moved too quickly :( (Hacking?)"
Fulllog: https://gist.github.com/Paulomart/23f64ab52576e30c4fd8
Plugin used: https://github.com/Mystalion/GlowTest/tree/teleport-on-join
Started after: 9f3dc17ae83845917bb5106b52fee775ce220200
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30993196-you-moved-too-quickly-hacking?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_m

[2016-02-19 14:37] #209 closed, assigned to nobody

[2016-02-19 17:15] #214 closed, assigned to nobody

[2016-02-20 14:43] kamcio96 opened #217 "Async events"
md_5 did simple non blocking event system:
https://github.com/SpigotMC/BungeeCord/blob/master/api/src/main/java/net/md_5/bungee/api/event/AsyncEvent.java

We can make something similar. #215 shows how it can be helpful. What do you think?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31049073-async-events?utm_campaign=plugin&ut

[2016-02-28 05:25] twizmwazin opened #221 "A few suggestions for the project"
Hi, I wasn't terribly sure where this would best fit so I figured I'd just make an issue. I haven't really contributed much to the project (although I'd like to), but I have a few suggestions/complaints about the project.
- First, I feel that setup is too complicated. I'd really like a clone-and-go setup. This in my mind would mean splitting off the two submodules and using them as maven dependenc

[2016-03-03 15:36] Jelmerro opened #225 "Unknown structure "Iglu" prevents server startup"
1 Open an existing world with Igloo's in it
2 Severe error during server startup
3 Server doesn't start and crashes

Log reports the following:

[code]

EDIT by mastercoms: changed log to multiline code formatting

[2016-03-03 16:31] #5 closed, assigned to nobody

[2016-03-03 17:54] #55 closed, assigned to nobody

[2016-03-04 21:12] glorantq opened #226 "Importing Source full of Errors"
When importing the project into eclipse, it would never compile again.
Full of errors in all packages, Chunk class has some invalid constructors

[2016-03-05 18:39] #226 closed, assigned to nobody

[2016-03-05 22:10] aramperes opened #228 "ItemSpawn entity types are no longer stored as durability."
Since 1.9, ItemSpawn (spawn eggs) have their entity type stored as the `EntityTag:id` tag, instead of the durability value.

From the Minecraft wiki: "Spawn eggs can no longer be addressed by numeric data id, like: `give @p spawn_egg 1 50`. The spawnable item from a spawn egg is now addressed by a datatag: `give @p spawn_egg 1 {EntityTag:{id:"Creeper"} }`"

This causes the ItemSpawn functionality

[2016-03-07 15:17] #228 closed, assigned to nobody

[2016-03-07 15:43] #109 closed, assigned to nobody

[2016-03-07 16:05] mastercoms commented on #208
https://github.com/GlowstoneMC/Glowstone-Legacy/issues/609

[2016-03-07 16:40] mastercoms commented on #28
Glowstone++ has added:

* BlockBurnEvent
* BlockDispenseEvent
* BlockFadeEvent
* BlockGrowEvent
* BlockIgniteEvent
* BlockSpreadEvent
* LeavesDecayEvent
* CreatureSpawnEvent
* FoodLevelChangeEvent
* CraftItemEvent
* FurnaceBurnEvent
* FurnaceExtractEvent
* FurnaceSmeltEvent
* InventoryCloseEvent
* InventoryCreativeEvent
* InventoryDragEvent
* PlayerBedEnterEvent
* PlayerBedLeaveEvent

[2016-03-07 22:47] kamcio96 commented on #217
@mastercoms that events are called from other thread (not main), and it is only used for synchronization [there](https://github.com/GlowstoneMC/GlowstonePlusPlus/blob/master/src/main/java/net/glowstone/EventFactory.java#L44)

I mean to add way to delay event, like BungeeCord has

[2016-03-09 11:12] mastercoms commented on #215
BTW, this bug does not happen, as the kick logic has been commented out. But, this issue should be kept open because a real fix needs to be added.

[2016-03-12 16:56] mastercoms commented on #225
@Jelmerro Could you provide a world with an igloo for testing?

[2016-03-12 16:58] mastercoms commented on #202
Closing this as I haven't been seeing this bug recently when I had been before. (and bug reporter seems to be inactive :frowning:)

[2016-03-12 16:58] #202 closed, assigned to mastercoms

[2016-03-12 16:58] mastercoms commented on #199
Closing this as I haven't been seeing this bug recently when I had been before. (and bug reporter seems to be inactive :frowning:)

[2016-03-12 17:01] mastercoms commented on #215
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/e33a1ae75236c5a879f0529cdfb1cf4231ef630a.

[2016-03-12 17:15] mastercoms commented on #221
Glowkit bloat is fixed. Unnecessary or redundant API features were removed or moved to the server logic.

[2016-03-12 17:18] mastercoms commented on #221
What files do you think should be deleted?

[2016-03-12 17:31] mastercoms commented on #40
Glowstone++ has added a block tick system.

[2016-03-12 17:34] mastercoms commented on #76
Glowstone++ has advanced world generation.

[2016-03-12 17:37] mastercoms commented on #99
Glowstone++ has custom block place sounds.

[2016-03-12 18:09] Jelmerro commented on #225
Our world has a few pretty close to spawn, seed for that is 954601601153891725 :)

[2016-03-12 18:37] aramperes commented on #225
@Jelmerro Could you give us the coordinates of one of the igloos? Thanks =)

[2016-03-12 18:39] Jelmerro commented on #225
You can use AmidstExporter, the 1.9 fork of Amidst, to find some but the nearest one seems to be at -360 184

[2016-03-14 14:29] mastercoms commented on #225
Glowstone++ successfully ignores unknown structures! (fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/2e1edc2b2a5ecfcbe439dec93d0ef2fca5210953)

[2016-03-14 14:29] #225 closed, assigned to nobody

[2016-03-14 14:32] mastercoms opened #239 "Unknown biome id from vanilla generated world"
[code]

This error was thrown when I was entering a vanilla generated world. I eventually spawned in an ocean near a mushroom island.

[2016-03-14 14:42] mastercoms commented on #239
Kind of fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/f7bbaae285ee6ae8483337df82b0f2dc2b1f2f4a, but we need to figure out what that biome id is.

[2016-03-15 09:01] mastercoms commented on #221
Closing as these suggestions have been considered. For further discussion, I would recommend a forum post.

[2016-03-15 09:01] #221 closed, assigned to nobody

[2016-03-17 08:04] ishitatsuyuki opened #241 "Possibly invalid(unused) method: leftClickBlock"
A line in [`BlockType.java`](https://github.com/GlowstoneMC/GlowstonePlusPlus/blob/master/src/main/java/net/glowstone/block/blocktype/BlockType.java) looks never used:

[code]

This is only called when player dig a block and the "complete dig" packet is rejected by some reason. This should be unrelated. As a reference, it is handled in [`DiggingHandler.java`](https://github.com/GlowstoneMC/Glowsto

[2016-03-23 00:53] GreenBeard commented on #13
@deathcap you should uncheck /playsound it has a major update in 1.9

[2016-03-23 11:53] aramperes commented on #241
Could this be related to item frame and noteblock interaction?

[2016-03-23 11:58] ishitatsuyuki commented on #241
Item frame is an entity.

[2016-03-23 14:01] mastercoms commented on #241
Would be useful for plugins wanting to make custom features for blocks.

[2016-03-23 14:15] ishitatsuyuki commented on #241
@mastercoms - wait: I have mentioned the code is invalid and possibly never executed. Had you reviewed the code?

[2016-03-23 14:16] ishitatsuyuki commented on #241
At least this is an invalid API - rightClickBlock for items, and left for block!?

[2016-03-24 06:04] GreenBeard opened #245 "Placing blocks over blocks"
1. When any block is placed over a `LONG_GRASS` or `DEAD_GRASS` block it doesn't update properly on the client end, only the block data updates not the block id.
2. When attempting to place a block over a `DOUBLE_PLANT` it doesn't, instead it places it adjacent.

[2016-03-24 06:10] GreenBeard opened #246 "Rose Bush Drops"
Rose bushes don't drop rose bush `DOUBLE_PLANT` when destroyed.

[2016-03-24 19:18] GreenBeard opened #247 "Can't Place Sponge or Wet Sponge"
When attempting to place Sponge it gives the following message:
[WARNING] Wrong MaterialData for SPONGE (BlockSponge): expected Sponge, got SPONGE(0)
When attempting to place Wet Sponge:
[WARNING] Wrong MaterialData for SPONGE (BlockSponge): expected Sponge, got SPONGE(1)

[2016-03-24 19:49] aramperes opened #248 "Cannot download libraries from Maven repository on startup."
The following libraries cannot be downloaded when the server starts, due to an HTTP 403 error:
- sqlite-jdbc-3.7.2.jar
- slf4j-jdk14-1.7.15.jar
- mysql-connector-java-5.1.38.jar

This is the [stacktrace](https://gist.github.com/momothereal/fe5f346d689eda8cc065) thrown by the server.

[2016-03-24 19:49] gdude2002 commented on #248
I think this is down to @greatman

[2016-03-25 00:25] aramperes commented on #247
Issue is rather related to Glowkit, see [PR](https://github.com/GlowstonePlusPlus/Glowkit/issues/16).

[2016-03-25 05:42] GreenBeard commented on #247
K next time I'll put it there. (Should I close the issue if you have a pull request?)

[2016-03-25 06:03] ghost opened #250 "Block Type Cache"
Currently the block type cache behaves rather strangely. Sometimes it does cache the type while it doesn't at other times (it isn't cleared either), when the type is set. Specifically, [this](https://github.com/GlowstoneMC/GlowstonePlusPlus/blob/master/src/main/java/net/glowstone/block/GlowBlock.java#L209) line is the troublemaker.

There are a few ways this could be fixed. First of all, that line

[2016-03-25 06:08] ishitatsuyuki commented on #241
Hey @mastercoms . Don't close issue without a proper reason. Please reopen this.

[2016-03-25 11:36] kamcio96 commented on #241
I will review code. mastercoms dosen't have time now ;)

[2016-03-25 12:05] mastercoms commented on #250
Block type is cached because water physics uses getType, and getType was using a lot of CPU time. I accidentally missed those other setType methods.

[2016-03-25 12:07] #84 closed, assigned to nobody

[2016-03-25 12:08] mastercoms commented on #247
No, issues stay open to discuss the issue, while PR discussions are there to discuss the code for that individual fix to the issue. This becomes helpful if there are multiple PRs with different ways to fix  a single issue.

[2016-03-25 12:09] mastercoms commented on #241
@ishitatsuyuki Sorry, lost track of this issue.

[2016-03-25 12:11] mastercoms commented on #247
Fixed in https://github.com/GlowstonePlusPlus/Glowkit/commit/63fbb29c40ebc7107036243b3825c25b0b2b1657.

[2016-03-25 12:11] #247 closed, assigned to nobody

[2016-03-25 12:15] mastercoms commented on #84
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/b4cccef350227fa7d334b823423c9c72520b8907.

[2016-03-25 14:53] kamcio96 commented on #250
water physic (or all physic) shouldn't call GlowBlock, or use other custom structure

I suggest use GlowBlock only for api

[2016-03-25 16:08] mastercoms commented on #250
How else would water work?

[2016-03-25 16:21] aramperes commented on #245
1. ~~I don't have any problem with `DEAD_BUSH`~~, but `LONG_GRASS` does have a strange behavior. **Can confirm for `DEAD_BUSH` too.**
2. I was not able to reproduce it, it correctly placed it on top for me.

[2016-03-25 17:41] kamcio96 commented on #250
it should faster get data from blocks array

[2016-03-25 22:13] #248 closed, assigned to nobody

[2016-03-27 03:14] aramperes opened #256 "Chunk invalid length"
An odd crash occurs at random times with chunk loading when BlockWater does it's physics. Might be related to the Anvil Chunk loader.

I am not exactly sure _when_ this happens, but it seems to occur when the server has been loaded for ~15 minutes and a player joins and moves around.

Stacktrace:

[code]

[2016-03-27 04:06] mastercoms commented on #256
Water is probably trying to modify a block in a chunk that hasn't been loaded.

[2016-03-28 22:55] Sephyroth234 opened #262 "Crash on my server"
[code]

[2016-03-28 23:01] aramperes commented on #262
Probably caused by the same bug as #256.

[2016-03-30 17:38] ghost commented on #239
This also happens sometimes when generating a new world with Glowstone itself (non-vanilla world). When using `7944974524167113781` as seed for example, the following stack trace is produced for certain chunks, when explicitly logging the stack trace:

[code]

Instead of `OverworldGenerator.generateTerrainDensity(OverworldGenerator.java:275)`, `OverworldGenerator.generateTerrainDensity(OverworldGe

[2016-04-02 07:28] jimmikaelkael commented on #239
Yeah BiomeMapLayer has been broken when migrating to 1.9, and sadly there's several classes from the biomegrid generator that has been badly altered.

Broken code from biomegrid:
- BiomeMapLayer.java
- BiomeThinEdgeMapLayer.java
- BiomeVariationMapLayer.java
- RarePlainsMapLayer.java

And more... Seriously it's a total mess.

Culprit:
https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/84572b0

[2016-04-02 11:27] #239 closed, assigned to nobody

[2016-04-02 11:28] mastercoms commented on #239
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/a58ba1f6583c19ddfd3157d4b610a15c654b2d00

[2016-04-03 16:16] #250 closed, assigned to nobody

[2016-04-04 04:28] Small-Ku opened #264 "About the files downloads"
I am hongkonger,let me sorry for the bad English first.:P
By the way,is there any lastest recommened or stable versions download in the website of Glowstone++ with each supporting Minecraft versions?

[2016-04-04 06:20] mastercoms commented on #264
For which version do you want a download? 1.9.x or 1.8.x?

These are the latest versions for 1.9 and 1.8:

1.9: https://bamboo.gserv.me/browse/GSPP-SRV/latestSuccessful/artifact/shared/Server-JAR/glowstone%2B%2B-1.9.2-SNAPSHOT.jar

1.8: https://github.com/GlowstoneMC/GlowstonePlusPlus/releases/download/v1.8.9/glowstone.-1.8.9-SNAPSHOT.jar

[2016-04-06 02:07] aramperes commented on #256
I find it odd that it does it without me/the server doing anything. In fact, it does it at completely random times, when the server and the player are idle. I wouldn't think it would update blocks when literally nothing is happening.

[2016-04-06 15:18] #264 closed, assigned to nobody

[2016-04-15 14:53] MisterCavespider opened #266 "Elytra wings don't work yet in 1.9.x"
Dear awesome developers of this awesome thing called Glowstone++,

I just started using Glowstone after years of Bukkit.
Naturally, I downloaded the the latest version, which was a 1.9.x SNAPSHOT.
I was horsing around in my new server, when I noticed that the Elytra wings don't work.
The console says:

Elytra wings probably aren't your biggest issue at the moment, but it is something you can add t

[2016-04-15 14:56] kamcio96 commented on #266
wow, mastercoms why?

[2016-04-15 14:57] mastercoms commented on #266
Exceptions are scary, so I don't think it would be the best way to log this info. The print gives us sufficient information about the missing protocol handler.

@kamcio96 I am in a public place right now and I had left my computer unattended on this page and some "comedian" came and wrote that.

[2016-04-15 17:56] aramperes commented on #266
Yes, it is currently listed in our [To-Do wiki page](https://github.com/GlowstoneMC/GlowstonePlusPlus/wiki/To-Do-List).

[2016-04-19 15:20] MisterCavespider commented on #266
Great, I'll be waiting in my room for an update.
_waiting intensifies_

[2016-04-19 15:26] MisterCavespider opened #267 "Give command tab completes raw (enum) material name"
You know, I liked the 'old' bukkit and spigot `/give` command:
The id you had to enter looked like an actual name: `minecraft:glowstone`
Now you have to type it in like an enumerator: `GLOWSTONE`

Because reasons, can you please tell me how I can change this, as Glowstone++ is open-source and I can change the code?
Or better: Is it possible to make a plugin that can replace the original altered Gl

[2016-04-19 15:32] gdude2002 commented on #267
It looks like this would be down to how [materials are registered in Glowkit](https://github.com/GlowstonePlusPlus/Glowkit/blob/30feb17215b35c70507187982c6c62d7f0f20462/src/main/java/org/bukkit/Material.java#L660), but I'm really not sure.

[2016-04-19 17:36] aramperes commented on #266
@MisterCavespider This will likely take a while, elytra is not really a priority and its physics are decently complex.

[2016-04-20 11:25] mastercoms commented on #267
We have forums: https://forums.glowstone.net/. But I would consider this a bug.

[2016-04-20 11:25] mastercoms commented on #266
I would think the movement would be handled clientside. I'm not sure though.

[2016-04-20 11:43] mastercoms commented on #267
Partially fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/540ab67c04f9a3b3440375c04d3df78b4c904956.

Also, you can type in glowstone. It just tab completes to GLOWSTONE.

[2016-04-20 22:13] aramperes commented on #266
@MisterCavespider I may have over-thought how much time it would actually take! ¯\_(ツ)_/¯ See #268

[2016-04-21 20:17] mastercoms commented on #266
@MisterCavespider You deleted your comment, but see the second section of my comment here: https://github.com/GlowstoneMC/GlowstonePlusPlus/issues/266#issuecomment-210493401

[2016-05-03 02:33] DX94 commented on #199
could you please reopen this, im having kind of the same issue
`java.io.IOException: Invalid length: 2013392284 > 4096
at net.glowstone.io.anvil.RegionFile.getChunkDataInputStream(RegionFile.java:196)
at net.glowstone.io.anvil.AnvilChunkIoService.read(AnvilChunkIoService.java:63)
at net.glowstone.ChunkManager.loadChunk(ChunkManager.java:152)
at net.glowstone.ChunkManager.populateChunk(ChunkManager

[2016-05-03 08:33] gdude2002 commented on #199
What version of Glowstone++ are you using?

[2016-05-03 11:11] Small-Ku opened #269 "Trees not generating on dynmap that on generated by worldborder"
World generated by WorldBorder and Map generated by Dynmap
![103](https://cloud.githubusercontent.com/assets/16464896/14981612/df93f96e-1162-11e6-83e1-80254d7245db.png)

[2016-05-03 11:20] gdude2002 commented on #269
Aren't these trees?

![](https://dl.dropboxusercontent.com/u/1547120/ShareX/2016/May/vivaldi_2016-05-03_12-20-28.png)

It should be generating them, so please go there and provide a screenshot.

[2016-05-03 12:30] Small-Ku commented on #269
The Trees are there but dynmap haven't show it on the map =3=

[2016-05-03 12:34] gdude2002 commented on #269
That sounds like a problem with dynmap, not Glowstone++. Raise a ticket with them.

[2016-05-03 12:34] #269 closed, assigned to nobody

[2016-05-06 18:20] alptraumhavok opened #270 "Player Teleport to Custom World Causes Strange Behaviour and Console Errors"
I'm currently developing a Bukkit plugin but have encountered some strange issues when attempting to teleport any player to a lobby map at login.  The teleport works every other login but there are always a constant stream of PlayerLookMessage errors related to the GlowWorld not matching.

**The relevant code:**

[code]

**The Errors:**

[code]

[2016-05-06 18:59] alptraumhavok commented on #270
This call fixes the problem but I'm at a loss as to why we need to pass the world object to the Location constructor and then once again explicitly using Location::setWorld(World);

**This Code Works**

[code]

**The Call:**

[code]

[2016-05-06 19:24] gdude2002 commented on #270
Can you paste a larger snippet? How exactly are you moving the player?

(By the way, you need three backticks (```) for a code block)

EDIT: I'm stupid, just saw your code in the ticket. Give me a sec.

[2016-05-06 19:32] gdude2002 commented on #270
For maintainers: Looks like we need a call to `location.setWorld(world)` on [the line before this one](https://github.com/GlowstoneMC/GlowstonePlusPlus/blob/f84d3f08644f2fd43d2828468855bedd87ac9060/src/main/java/net/glowstone/entity/GlowEntity.java#L304).

I don't have the time or software to test that at the moment, unfortunately.
@alptraumhavok Would you mind quickly writing up a PR and testing

[2016-05-06 19:41] alptraumhavok commented on #270
@gdude2002 Sure thing, I don't mind one bit.

[2016-05-06 22:04] gdude2002 commented on #199
There's been no discussion or response on this in four days, so I'm closing again. Please open another ticket if you're prepared to maintain it.

Not that this ticket had anything to do with your issue, though.

[2016-05-06 22:08] gdude2002 commented on #13
@GreenBeard This is a ticket about 1.8, though.

Speaking of which, has there been any more movement on this?

[2016-05-06 22:10] gdude2002 commented on #94
This is a fairly old ticket; can someone test this before I close it?

[2016-05-07 11:40] Paulomart commented on #270
I think it's wrong to TP on login anyways. You should use PlayerSpawnLocationEvent.

[2016-05-07 11:40] gdude2002 commented on #270
Perhaps, but this does showcase an underlying bug

[2016-05-07 11:42] Paulomart commented on #270
Ah okay then

[2016-05-08 15:45] Paulomart commented on #181
Note: I fixed this in my patch: https://github.com/Mystalion/MysticStone/blob/master/patches/0003-Fix-inventory-sync-issues.patch

[2016-05-08 16:08] mastercoms commented on #181
And all window click logic works? If you want, send it as a PR.

[2016-05-08 18:43] tamaskis99 opened #271 "Adding new portable format?"
You can upgrade fully compatible PC-PE? Adding PE support to serverfile? 0.14.2 version addon update is best upgrade in serverfile is thankful, and its me reports any bug, etc from this.

[2016-05-08 19:54] mastercoms commented on #271
We are focused on being a PC server. You can check out [Dragonet](https://github.com/DragonetMC/DragonProxy) to find a way to bridge PE clients to Glowstone++.

[2016-05-08 21:46] Paulomart commented on #181
It only calls updateInventory so I guess it should not break anything. Will PR tomorrow

[2016-05-09 03:11] tamaskis99 commented on #271
Thank you help!

[2016-05-09 03:11] #271 closed, assigned to nobody

[2016-05-09 05:10] mastercoms commented on #271
Any time!

[2016-05-09 19:10] alptraumhavok commented on #270
Sorry been out of town with the whole Mother's Day adventure.

@Paulomart, Thank you for the info.  I agree the PlayerSpawnEvent is a better place to perform the teleport but the existing issue would still remain due to the use of teleport.

@gdude2002, I will be making the Pull Request today but I wanted to look into fixing the issue in the Location object if possible and straightforward otherwis

[2016-05-09 19:45] gdude2002 commented on #270
It's not an issue with the Location object (as far as I can see), that's behaving as expected (and in accordance with the Bukkit API). It should work with just that one line change.

[2016-05-21 05:16] Small-Ku opened #274 "Is ProtocolLib v3.6.5 not compatible with Glowstone 1.8.9?"
It said that "Error loading ProtocolLib v3.6.5"is a serious error...

[code]

[2016-05-21 08:45] Paulomart commented on #274
No ProtocolLib is for spigot only.

[2016-05-21 09:28] gdude2002 commented on #274
Yup, it doesn't work with Glowstone, especially given that Glowstone doesn't support NMS plugins.

[2016-05-21 09:28] #274 closed, assigned to nobody

[2016-05-30 16:59] ghost opened #275 "Achievements are not being saved"
When you get a achievement, it's not being saved.

[code]

Notice the time difference:

[code]

And I also saved the world (player-data):

[code]

[2016-05-30 17:24] ghost opened #276 "Attempt to delete all items in inventory (Destroy items button) throws Exception"
[code]

![To see what I mean](https://cloud.githubusercontent.com/assets/17110757/15655288/0e2baa76-269c-11e6-8723-6ef043712266.gif)

[2016-05-30 23:39] gdude2002 commented on #276
This shouldn't be closed until a verified fix or solution has been found.

[2016-05-31 10:08] ghost opened #280 "Moving Arrow with effects to other slots"
Needs no explanation:
![c5e6773b10c687693ffc631a8f865f1b](https://cloud.githubusercontent.com/assets/17110757/15670971/7e3392c0-2728-11e6-82a4-f950f14155e9.gif)

[2016-05-31 12:33] ghost commented on #280
Same with potions

[2016-05-31 14:45] XakepSDK commented on #2
oops, sorry.

[2016-06-01 19:05] #181 closed, assigned to Paulomart

[2016-06-01 19:17] #276 closed, assigned to nobody

[2016-06-03 11:28] aramperes opened #282 "You can place blocks at the same location as other entities"
Self-explanatory; players can place blocks at the same location as an entity, including yourself. A fix for this issue would have to take into account the size/box of the entity.

[2016-06-04 22:18] #280 closed, assigned to nobody

[2016-06-04 22:19] mastercoms commented on #280
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/fa5f8a0966c6ab2322187eb81b949fce2abdc296

[2016-06-04 22:19] mastercoms commented on #275
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/6b93290a46ec77960eea46cf00f15526d3ea91a7

[2016-06-04 22:19] #275 closed, assigned to nobody

[2016-06-04 22:20] mastercoms commented on #266
Fixed in https://github.com/GlowstoneMC/GlowstonePlusPlus/commit/7d99696129f057d2f3ec7171e5f476d8d1fb67c2

[2016-06-04 22:20] #266 closed, assigned to nobody

[2016-06-04 22:21] mastercoms commented on #245
Could you see if the bug still happens? I believe this was fixed. Closing unless shown to still happen.

[2016-06-04 22:21] #245 closed, assigned to nobody

[2016-06-04 22:43] GreenBeard opened #283 "ChunkManager getChunk uses invalid check"
The line of code
`if (chunks.containsKey(key)) {`
will always return false because it creates a new instance and containsKey uses Equals which checks if they are the same instance (unless overridden) so it will always return false.

If you wish to verify this run http://pastebin.com/aFRJAUZt and it will always fail.

[2016-06-04 23:23] GreenBeard commented on #283
I'll work on fixing this

[2016-06-04 23:38] mastercoms commented on #283
The issue should still be open until it is fixed

[2016-06-04 23:58] GreenBeard commented on #283
I think that it works if you use `chunks.put(new Key(2, 2), new GlowChunk(null, 0, 0));` instead of `chunks.put(new Key(2, 2), null);` because it wouldn't allow a null variable to be added to an array therefore the containsKey does work but I am still trying to figure out why the memory always increases steadily as soon as any chunks are generated (as in even after the chunks have been generated).

[2016-06-05 00:46] #283 closed, assigned to nobody

[2016-06-05 00:48] GreenBeard opened #284 "GlowWorld.requestPulse is used for non-repeating update functions"
GlowWorld.requestPulse (which is repeating) is being used in instances where it could be instead a single pulse after a delay.

[2016-06-05 00:48] GreenBeard commented on #283
Actual issue turns out to be #284

[2016-06-05 05:55] GreenBeard commented on #284
Should be fixed in #285 so as soon as the is pull is accepted then this bug can be closed.

[2016-06-05 18:57] garantiertnicht opened #286 "Netty 4.1.0.Final Not Working"
I downloaded the binary and scorce code, and the versions from the last commit do not work. Instantly after connecting the client and the server shows up that I lost connection and the connection will be closed. Neither the console or the log are giving some useful information, but changing the netty version back seems to resolve the problem.

Nothing interesting, but her's the console output:
20:

[2016-06-05 21:06] GreenBeard commented on #256
This might be fixed in #285 . I'm not really sure but it does stop lots of cases of background ticking of water.

[2016-06-05 23:59] mastercoms commented on #286
I will see what netty did. Maybe I shouldn't have assumed a release version of a popular network library would be stable.

[2016-06-06 10:47] aramperes opened #287 "Mobs don't drop loot when killed."
There is currently no implementation for entity drops.

[2016-06-06 13:29] rrnewton opened #288 "Server reports "lost connection" right after the player joins"
If I run a server by typing `make` [in this directory](https://github.com/rrnewton/docker-scriptcraft/blob/6aa861ca83fc2ef7c1712f7bc211c4a641cf1518/glowstone%2B%2B_server/), it builds a docker image using this [Dockerfile](https://github.com/rrnewton/docker-scriptcraft/blob/master/glowstone%2B%2B_server/Dockerfile), including glowstone++ 1.9.2.

[code]

Each time a join attempt is made, this lost-

[2016-06-06 14:32] mastercoms commented on #286
I reverted back to CR7 for now. I will upgrade to final once I figure out the issue.

[2016-06-06 14:33] mastercoms commented on #288
Duplicate of #286. The issue should be fixed now. Please make sure that your source is up to date.

[2016-06-06 14:33] #288 closed, assigned to nobody

[2016-06-06 14:36] mastercoms commented on #262
I'm considering this a dupe of #256.

[2016-06-06 14:36] #262 closed, assigned to nobody

[2016-06-06 14:37] mastercoms commented on #94
I think we should split this issue. Everything is solved except the redstone bug.

[2016-06-06 14:37] #94 closed, assigned to nobody

[2016-06-06 14:38] mastercoms commented on #246
Fixed in the referenced PR.

[2016-06-06 14:38] #246 closed, assigned to nobody

[2016-06-07 11:41] aramperes opened #290 "Command selectors (aka Target Selectors)."
Command/Target selectors are not implemented in Glowstone. For example, the target selector `@a` will represent all players, while `@a[m=1]` will represent all players in creative.

More info here: http://minecraft.gamepedia.com/Commands#Target_selectors

[2016-06-07 11:43] aramperes commented on #290
Could an API be useful for this? Selectors + their arguments could me parsed/mapped and then used by the command.

[2016-06-07 11:49] mastercoms commented on #290
So like getNearestPlayer(Location loc)? Yeah, I think that would be a nice thing to expose instead of just hiding it in a command.

[2016-06-07 12:24] aramperes commented on #290
Yeah, but also something to parse the arguments, so that say `@a[m=1,r=10]` could be parsed into a map:

[code]

And the command can use it:

[code]

[2016-06-09 14:50] Primorior opened #291 "Update to 1.10"
The minecraft-update 1.10 is released, will Glowstone get a update for it?

[2016-06-09 15:36] aramperes commented on #291
See https://forums.glowstone.net/topic/2/updating-to-1-10;

Basically, we are more focusing on completing major features from 1.8-1.9. However, we already have an (almost) complete protocol update on my fork: https://github.com/momothereal/GlowstonePlusPlus/tree/1.10-dev

[2016-06-09 22:04] mastercoms commented on #291
Also, it is a small update that won't need much coding. The entities can be added, but they won't function, just like all other entities. The blocks don't need any work really to add.

[2016-06-10 20:31] ghost opened #292 "Rail placement not implemented"
Also, no explanation needed :smile:

https://gyazo.com/6b56105b8d0920ffd46196d9ee0eedd5.gif

[2016-06-11 21:19] aramperes commented on #291
#293

[2016-06-12 19:03] GreenBeard commented on #186
Does anyone know where the length of packets is now read? There are two functions in [GlowProtocol.java](https://github.com/GlowstoneMC/GlowstonePlusPlus/blob/f84d3f08644f2fd43d2828468855bedd87ac9060/src/main/java/net/glowstone/net/protocol/GlowProtocol.java) and I don't understand where the length of the packet is read in newReadHeader but I do understand the old readHeader. The reason I want to

[2016-06-13 16:42] BlackTrojan opened #295 "Levitating AFK players & ghost players"
I found bug on your core.

When player is afk, if a player to break blocks it will hang in the air.

Next: if a player quit the server, the player with the nickname model lt remains on the server.

![screenshot_22](https://cloud.githubusercontent.com/assets/10076100/16015588/d8f33882-31af-11e6-8f42-7fc62d0a8b1c.png)
![screenshot_23](https://cloud.githubusercontent.com/assets/10076100/16015575/c13d

[2016-06-13 16:56] gdude2002 commented on #295
What build of Glowstone++ are you using?

[2016-06-13 17:00] BlackTrojan commented on #295
I downloaded Glowstone++ from https://bamboo.gserv.me/browse/GSPP-SRV-148/artifact/shared/Server-JAR/glowstone%2B%2B-1.9.4-SNAPSHOT.jar

[2016-06-13 17:47] mastercoms commented on #295
Hm that is strange. I remember that we fixed both of these bugs before. Maybe a protocol update messed them up.

[2016-06-14 02:11] ghost opened #296 "GlowInventory.setContents() throws error"
I don't know what happened. They only thing what I have got is this:

[code]

[2016-06-14 02:23] #296 closed, assigned to nobody

[2016-06-14 02:24] ghost commented on #296
I'm sorry, it was a mistake by me :sweat_smile:

[2016-06-14 04:55] BlackTrojan opened #297 "[$15] Internationalization [$15]"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=35136041)](https://www.bountysource.com/issues/35136041-internationalization?utm_source=35136041&utm_medium=shield&utm_campaign=ISSUE_BADGE)

I wanted see customization messages, eg when the command does not exist or when the version player does not match the version of the server.

<bountysource-plugin>

---
There is a **[$15 open

[2016-06-14 09:06] mastercoms commented on #297
Glowstone uses hard coded messages all throughout the code. It would be smart to add localization files, as you propose.

[2016-06-16 19:44] vincentchu37 opened #298 "Armor issues."
Armor, goes into wrong slots and duplicates. MineCraft Version 1.9.4

http://puu.sh/pv5gh/c0221dee11.jpg

Error Message:
http://puu.sh/pv59k/104f68ea4c.png

[2016-06-19 04:19] BlackTrojan commented on #295
Bug fixed?

[2016-06-19 06:06] mastercoms commented on #295
Not yet, sorry. I'll update you when it's fixed.

[2016-06-19 06:48] BlackTrojan commented on #295
Okey. I close this issue.

[2016-06-19 09:00] Paulomart commented on #295
The bug is not fixed so

[2016-06-19 09:43] gdude2002 commented on #295
Yeah, please don't close issues (unless they're fixed and we forgot to). We need them to track what needs doing.

[2016-06-19 10:27] BlackTrojan commented on #295
Okey, i I will not close issue, forward this bug fix.

[2016-06-22 11:12] gdude2002 commented on #270
@alptraumhavok Did you end up making that PR?

[2016-06-22 11:18] gdude2002 commented on #297
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #270
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #217
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #208
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #203
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #186
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #182
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #130
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #60
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-22 11:18] gdude2002 commented on #32
This ticket needs categorization on the [waffle board](https://waffle.io/GlowstoneMC/Glowstone).

Has this ticket seen any movement or has there been any action expected since the previous comment?

[2016-06-23 08:31] gdude2002 commented on #111
#205 was merged, does that not fix this ticket?

[2016-06-23 11:57] mastercoms commented on #111
No.

[2016-06-23 20:48] GreenBeard commented on #186
@gdude2002 I had this finished for a week or so now just forgot to make the pull request. I'll do that now.

[2016-06-23 20:49] gdude2002 commented on #186
Thanks, I'd appreciate that \o/

[2016-06-24 21:02] aramperes commented on #298
Is this with a world that was ported from Vanilla/Spigot to Glowstone?

[2016-06-24 21:03] vincentchu37 commented on #298
Yea it was.

[2016-06-25 19:00] alptraumhavok commented on #270
Sorry I forgot to update this issue.  I ended up setting up a clean
environment using an aws server and I was unable to recreate the issue
using a fresh pull from the repo.

On Wed, Jun 22, 2016 at 6:18 AM, Gareth Coles notifications@github.com
wrote:

##

V/R,

Kerry L. Rodgers
https://www.linkedin.com/in/kerryrodgers

[code]

______________________o0o__ (_)___o0o__
**_¦__**_¦_____¦_____¦_____¦__

[2016-06-25 19:02] gdude2002 commented on #270
That's cool, maybe someone else fixed it and forgot to update the ticket.

In that case, I'm going to close this - Feel free to comment or open another ticket if you find it's still an issue!

[2016-06-25 19:02] #270 closed, assigned to nobody

[2016-06-27 21:07] mastercoms opened #649 "Glowstone has a new home!"
We have a [new repo](https://github.com/GlowstoneMC/Glowstone) for Glowstone!

[2016-06-27 21:43] tsengia commented on #297
I will start working on this now, idk if someone could assign me to this, but I'm working on it now.

[2016-06-28 00:13] gdude2002 commented on #297
Thanks - I've updated Waffle accordingly.

[2016-06-29 00:17] GreenBeard opened #305 "Entities aren't pushed by water"
Although the local client will show entities being pushed by water (including the player themselves) if you attempt to interact with said entity it will reveal that it actually hasn't moved at all.

E.g. Throw a dirt block in flowing water. Wait for it to move a bit. Try to pick it up at the new location and it will fail. If you go to where you threw it you can pick it up.

[2016-06-29 20:53] daboross opened #306 "Permissions in permissions.yml don't work"
The following error occurs:

[code]

with the following `permissions.yml` file:

[code]

[2016-06-29 21:15] gdude2002 commented on #306
Hmm, interesting. To clarify, this is for the Bukkit-included basic permissions system, right?

We've seen a bunch of permissions plugins used and tested on Glowstone, but never the bundled bperms. It'll be worth our time to look into this more.

[2016-06-29 21:19] gdude2002 commented on #306
Alright, the issue appears to be related to the following lines in `GlowServer.java`

[code]

Looks like the Bukkit API expects a Map to be passed in here, not a ConfigurationSection. Should be an easy fix.

[2016-06-29 21:24] gdude2002 commented on #306
Yup, [can confirm](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse/src/main/java/org/bukkit/permissions/Permission.java#228). This is probably a one-line fix, but I'll let one of the regular contributors push a PR or fix in case there's a better way to do it than I'm thinking.

[2016-06-30 03:55] daboross commented on #306
Ok, thank you for looking into this! I guess the bundled permissions aren't used much in production, but they're super useful for testing plugins in development without having any additional plugins.

[2016-06-30 04:11] daboross opened #307 "NullPointerException when setting potion data using .getData().setData(byte) without PotionMeta"
Here's the error:

[code]

This isn't logging in with a regular client, but with a java program using https://github.com/Steveice10/MCProtocolLib to test.

This may or may not be related to an earlier error, which was caused by the plugin I'm testing. Earlier error:

[code]

The line, `net.daboross.bukkitdev.skywars.world.SkyWorldHandler.onGameStart1(SkyWorldHandler.java:167)`, shouldn't be sendin

[2016-06-30 04:34] daboross commented on #307
The earlier error might want to be a separate issue, as I can confirm it occurs reproducibly with regular minecraft clients, and a non-null Location.

Here's the full error:

[code]

The debug message from my plugin is definitely the location passed. SkyWarsArenaWorld is the world which the plugin creates.

[2016-06-30 07:09] Rocologo opened #308 "Metrics fails"
Hi,

I'm trying to make my plugin MobHunting run with the Glowstone++ Server but Metrics fails in onEnable()

I don't understand why it fails, it work on both Spigot, PaperClip, CraftBukkit. What do I need to do to make it run?

[2016-06-30 09:13] gdude2002 commented on #308
This is because we bundle [our own copy of MCStats](https://github.com/GlowstoneMC/Glowstone/blob/6bbf762af2a92ce0c5f1b2b54e30bc500166c5ae/src/main/java/org/mcstats/Metrics.java). You should not need to activate it when you're loading on a Glowstone server.

By the way, metrics loading should not be a failing error in your plugin in the first place. If you do still want that, you should check whet

[2016-06-30 09:15] gdude2002 commented on #307
I'm not 100% certain that potions are implemented yet, but if they are then it looks like your problem is that you're passing in an invalid potion from your plugin. Can you check that?

[2016-06-30 10:28] kamcio96 commented on #308
@gdude2002 we can move that package to net.glowstone

[2016-06-30 11:01] Rocologo commented on #308
I agree, it should not break the plugin, but I dont know how to do it otherwise.

If you can tell me how to test if it is a Glowstone server I will add it to my onEnable() method?

[2016-06-30 11:03] kamcio96 commented on #308
[code]

[2016-06-30 11:04] Rocologo commented on #308
Thank you. :-)

[2016-06-30 11:04] #308 closed, assigned to nobody

[2016-06-30 14:38] Rocologo opened #309 "Client can't connect to server"
Hi again,

So now my plugin seems to run when I start the Glowstone Server, but my standard Minecraft client can't connect to the server???

This is the error I get in the client log. There is nothing to see in the server log.:

This is the info from the launcher:
http://pastebin.com/KpeL7gQ2

[2016-06-30 14:52] aramperes commented on #307
Seems like you are using numerical IDs (data values) to give a potion, which is not supported as of 1.9 (#281) . Please use PotionMeta if you are not already.

Edit: This could also be an incompatibility issue with inventories containing potions before 1.9.

[2016-06-30 15:01] mastercoms commented on #309
what's on the server console log?

also i can't help but notice your kernel is sort of old

[2016-06-30 15:32] Rocologo commented on #309
Nothing, I can't even see the client tries to logon.

[2016-06-30 15:36] Rocologo commented on #309
What do you mean with my kernel is old?

[2016-06-30 15:43] aramperes commented on #309
Edit: Found your problem.

Your server is starting on port `25561`, while you are connecting to port `25565`.

[2016-06-30 16:08] Rocologo commented on #309
The server is 1 out of 15 different servers I start on my labtop (Linux Mint 17.3) each time want to test my plugin against any server (Spigot, Craftbukkit, PaperClip, Glowstone, Cauldron)

And I simply forgot that I had to change the port when I was testing against Glowstone 1.8.9. This is not needed any more and this is of cause the reason for my problem. :-(

Sorry.

[2016-06-30 16:08] #309 closed, assigned to nobody

[2016-06-30 17:00] Rocologo opened #310 "Error making sticks"
So now I'm up and running with the Glowstone server and my plugin (not tested yet) while trrying to play a little I found some bugs.

When I tried to make sticks (to make torches) I was only able to make 4 at a time, and then I had to close and open the workbench again.

In the console I got this message, each time I tried to make more than 4 sticks.:

[2016-06-30 17:05] Rocologo opened #311 "Replicating pickaxe"
And then I tried to mine some cobblestone with a wooden pickaxe. And I found this error:

1) mine cobblestone until the pickaxe breaks
2) when you pick up the cobblestone you also get a pickaxe???

No errors thrown in the console

When I later cut some wood with the pickaxe I didnt see this behavior.

The same happened when I tried with a stone pickaxe

[2016-06-30 17:14] Rocologo opened #312 "Dungon generated"
Just walking around I got this error in the console:

[2016-06-30 17:21] Rocologo commented on #312
And again in another area:

[2016-06-30 18:14] gdude2002 commented on #310
I've seen this before, but I thought it was fixed previously. You're on the latest build of Glowstone, right?

[2016-06-30 18:15] gdude2002 commented on #312
Possibly a duplicate of #256

[2016-06-30 21:43] aramperes commented on #312
Not necessarily a duplicate; it does seem like the same bug, but this is not caused by water updates.

[2016-06-30 21:56] Rocologo commented on #312
Water could be involved. I walked along the coast and noticed some errors in the water. Some water  blockes was one block lower than the rest of the sea.

[2016-06-30 22:05] aramperes commented on #312
My mistake, did not read your stacktrace carefully (was on mobile). It is indeed the same stacktrace (caused by BlockWater), therefore this is a duplicate. Dungeon generation is not related (there is a 2-3 minutes interval from these two log lines).

[2016-06-30 22:16] gdude2002 commented on #312
Closed as a duplicate of #256. Feel free to give any extra info there.

[2016-06-30 22:16] #312 closed, assigned to nobody

[2016-06-30 22:22] aramperes opened #313 "Bug with inventory slots (duplication glitch)"
Version: 1.9.4 build 157

Steps to reproduce (**[video](http://momoperes.ca/bug2.mp4)**):
1. Place an item in the top-left slot. This will cause a duplicate of the item to appear in the off-hand slot
2. Shift-click on the top-left slot. This will bring the original item to the first slot, and create another copy of the item in the boots slot. It will also cause a server error (see stacktrace below

[2016-06-30 23:21] mastercoms commented on #313
does this happen before the most recent inventory pr?

[2016-07-01 00:15] aramperes commented on #313
@mastercoms Cannot confirm this bug prior to #279, seems like a problem with slot ids.

[2016-07-01 11:33] mastercoms commented on #313
I meant #272

[2016-07-01 23:00] aramperes commented on #313
Should be fixed in #293.

[2016-07-01 23:00] aramperes commented on #298
Should be fixed in #293.

[2016-07-01 23:02] gdude2002 commented on #298
Note that this will only be fixed for 1.10, not 1.9.4

[2016-07-02 14:06] tsengia commented on #297
Should the server handle different languages for each player, or should the server have one set language?

[2016-07-03 00:27] daboross commented on #307
Yeah, the plugin is using numerical IDs to set potions. The only reason currently to do it though is to restore stored items in chests, which were only stored by item data. I guess I'll just have to find a way to detect what PotionEffectType is used for the raw item data.

Thanks!

[2016-07-03 03:37] vincentchu37 commented on #298
That's fine, I just wanted to let y'all know. Thanks

[2016-07-03 04:34] daboross commented on #307
@momothereal Sorry, to be clear, what API replaces the raw data? PotionMeta seems to only support potions with getCustomPotions(), which only returns plugin-added potions, not ones that are placed on the potion by brewing.

Is there a Bukkit (or Glowkit) API which supports the current equivalent of raw item data?

If not I'd be happy to try to contribute one.

[2016-07-03 05:03] aramperes commented on #307
@daboross I am not exactly sure when this was added to Bukkit, but you can find such a method [here](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/inventory/meta/PotionMeta.html#getBasePotionData%28%29).

I think that method might have been added in the Bukkit 1.9.4 release, but I myself cannot find it in the official Bukkit 1.9.4 JAR. Anyhow, if you have a problem with finding that method,

[2016-07-03 05:16] daboross commented on #307
@momothereal Thanks, I must not have been looking at the most up to date docs. Should I close this issue now?

[2016-07-03 06:12] daboross opened #314 "IndexOutOfBoundsException sometimes when shutting down, and OP not persisting"
This error happened once when shutting down, and I haven't experienced it since. There doesn't seem to be any result of the error, it just is shown in the console. I was the only player online, and the server was in offline mode.

[code]

If it matters, there was also this earlier:

[code]

I became OP, but only until the server restarted.

On the following restart, this error occurred:

[code]

o

[2016-07-03 06:44] aramperes commented on #314
That's probably because you are on an offline/cracked server.

Edit; Whoops, didn't read the part where you mentioned it ;) - Yes it is a known issue, not sure if it's worth fixing since it's not a crash and we don't support the use of cracked servers.

[2016-07-03 06:52] daboross commented on #314
Yes, that seems likely.

By the way, thank you for the quick responses on support tickets! I've just been testing plugins with Glowstone recently, to ensure that I stay as compatible as possible.

[2016-07-03 10:17] mastercoms commented on #314
Please note that we don't support using offline servers in help threads (besides bugs like this), but we definitely support as a feature, so this should be fixed.

[2016-07-03 16:58] gdude2002 commented on #307
Is your problem solved?

[2016-07-03 21:09] tsengia commented on #311
If someone could assign this to me and update waffle accordingly. I'd like to test and squash this bug.

[2016-07-04 05:16] daboross commented on #307
I can now fix my plugin to not cause this error, but if it is desirable that Glowstone produce a more descriptive error when this happens then the issue could remain open.

If Glowstone producing an NPE for an incorrect use of the raw data API is fine, then this can be considered solved.

[2016-07-04 05:48] mastercoms commented on #307
I think @momothereal is working on supporting the legacy method as well. This issue can be a tracker for that.

[2016-07-04 19:52] gdude2002 opened #316 "Test, please ignore"

[2016-07-04 19:53] #316 closed, assigned to nobody

[2016-07-04 19:58] tsengia commented on #311
I've also noticed that if you pause after mining stone, when you pick up the cobblestone, your pickaxe resets it's durability to full durability.

[2016-07-04 20:02] tsengia opened #317 "Birch Logs not picked up when Mined with Birch Log"
Using the latest build of Glowstone, 3fae1c0.
1. Find a birch tree, mine 1 birch log.
2. Switch your hand to hold the birch log, mine another birch log and pick it up, you will still have only 1 birch log in your hand.
3. Switch out of holding the birch log and mine another birch log, and a birch log will be added to your inventory.

After look at issue #311, I think it has something to do with th

[2016-07-05 07:49] daboross commented on #307
@momothereal If it helps at all, I've now written a raw-byte-to-modern-API and vice-versa converter for my plugin. I'm sure it'd be easy to re-create, but it took me a while to read through the old Minecraft potion documentation and type everything up, so here's this if you want to grab anything from it: https://github.com/daboross/bukkit-storage-protobuf/blob/master/src/main/java/net/daboross/buk

[2016-07-05 08:24] daboross opened #318 "After death, PlayerDeathEvent isn't called, and player can't interact with other players"
When a player dies, Glowstone doesn't seem to recognize, and doesn't seem to "finish" the death action.

The PlayerDeathEvent isn't launched, and if the player who died tries to attack another player after respawning, the following message is displayed:

[code]

The player who died in the world is also invisible to all other players on the server (as far as I can tell). However, the minecraft clie

[2016-07-05 15:48] mastercoms commented on #311
The pickaxe isn't resetting the durability. The client thinks that the pickaxe's durability decreases, but when you pick up an item, it syncs its inventory state with the server, and finds that the pickaxe is at full durability. Something broke with our durability code.

[2016-07-05 16:02] tsengia commented on #311
https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/net/handler/play/player/DiggingHandler.java#L114-128
We have no checks to see if the item in hand is a tool or not, so if you're holding a birch log and you break a wood block with it, your birch log will take durability and "break"? Maybe I'm missing something, but still, there are no checks to see if the item in han

[2016-07-05 16:24] olliestanley commented on #311
Wouldn't the durability != max durability check at https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/net/handler/play/player/DiggingHandler.java#L93 cancel out non-tools?

[2016-07-05 16:34] tsengia commented on #311
@DziNeIT No, I don't think so, but I do think that `!=` is the source of the issue. That expression is meant to check if the current durability of the item in hand is over/at the max durability. However, since it is a `!=` it only works when the current durability and max durability are the _same_. I'm testing to see if replacing the `!=` with a `<` would do

[2016-07-05 16:40] olliestanley commented on #311
@ExpandingDev No, it works when the current durability and max durability are not the same (you said it works when they are the same - typo?)

[2016-07-05 16:45] tsengia commented on #311
@DziNeIT Oh, I meant by "works" as in it prevents a broken tool to be used to mine the block. So if the tool is broken because its durability is over its max, it will still register as not broken in that expression (note, just in that expression, idk where the item/tool break methods are, which is probably the next place to look)

[2016-07-05 16:50] olliestanley commented on #311
@ExpandingDev Oh I get it haha, my bad

[2016-07-05 17:19] tsengia commented on #311
https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/block/itemtype/ItemTool.java#L32-42
That looks useful, maybe instead of manually setting the item/tool durability, we could utilize this function instead.

[2016-07-05 19:09] tsengia opened #319 "Durability and Breaking Overhaul"
After looking into issue #311, it seems that the DiggingHandler class uses some spotty code, and the ItemTable is far from complete (the only tools it has registered are hoes)!
I propose creating a class for each tool type, as Flint & Steel has its own class, and so do Hoes (ItemHoe).

[2016-07-05 20:41] mastercoms commented on #319
You don't need classes for any other tool type. The other tools have no special abilities. They act as a hand, but with different damage numbers that are handled by the client. Hoe has a special function on right click to till the ground. Same with flint and steel. You right click to place fire.

[2016-07-05 21:01] mastercoms commented on #311
It cancels out non-tools. Items without durability will have a max durability and durability of 0, while stuff like tools will have a durability of 0 and a max durability of 255, for example.

[2016-07-05 21:01] tsengia commented on #319
Ok, then we don't need to make separate classes, however the ItemTable does not contain pickaxes, shovels, or swords. I think that is needed to complete it, and to help avoid bugs in the future from not having all of the items in the ItemTable.

[2016-07-05 21:33] mastercoms commented on #319
ItemTable is only there to associate classes that provide extra functionality to their relevant item type.

[2016-07-05 21:34] #311 closed, assigned to nobody

[2016-07-05 21:34] #317 closed, assigned to nobody

[2016-07-05 21:34] #319 closed, assigned to nobody

[2016-07-05 21:39] mastercoms commented on #310
Works with shift clicking, but the bug occurs with manual clicking. So shift click is a workaround until I fix it.

[2016-07-05 22:30] mastercoms commented on #308
@kamcio96 moved in 8c0e32d2fb4b8670a7947adc53762940e257bf5d.

[2016-07-13 07:49] #310 closed, assigned to mastercoms

[2016-07-13 19:35] aramperes commented on #290
-> https://github.com/GlowstoneMC/Glowkit/pull/4

[2016-07-16 18:07] VaiTon commented on #217
So the server should create a new Thread for each async event?

[2016-07-16 19:05] kamcio96 commented on #217
No.
Small example:
We have PlayerSpawnLocationEvent, it is called in main thread. Location is saved in mysql, so java will wait for that data. It cause some lags :confused:

Solution:
- event handler mark event like in BungeeCord `event.registerIntend`
- plugin will create new thread (server dosen't care about it) and get needed data
- event.setSpawnLocation(locationFromMysql);
- call `event.compl

[2016-07-19 11:29] hugo4715 opened #324 "Maven compiler option"
Hello,

I'm starting to take a look at this project, but i'm wondering if there is a reason not to add
`<useIncrementalCompilation>false</useIncrementalCompilation>`
in the Maven compiler plugin configuration. This way, maven only compile modified classes, wich is faster than recompiling the entire project.

Bye

[2016-07-19 11:43] VaiTon commented on #324
It would be useful for local development but not for continuous integration because it'll compile all classes.

[2016-07-19 11:43] gdude2002 commented on #324
Bamboo (my CI server) runs in a clean dir each time, so it wouldn't be a problem there.

[2016-07-19 12:00] hugo4715 commented on #324
I'm trying to see if there is a command line option available, i'll update you if i find results.

[2016-07-19 12:30] hugo4715 commented on #324
I found that there is a user property available wich is `maven.compiler.useIncrementalCompilation`.
We can set it in the eclipse maven properties, or (not tested) with the cl option `-Dmaven.compiler.useIncrementalCompilation=false`

Maybe i'll add this in the wiki.

[2016-07-19 12:31] #324 closed, assigned to nobody

[2016-07-22 12:50] Rocologo opened #325 "Rogue thread: Thread[Glowstone-scheduler-4,5,main]"
After updating to Glowstone Build 180, I get the error when stopping the server

[2016-07-22 12:52] gdude2002 commented on #325
Not actually a problem. See this [forum thread](https://forums.glowstone.net/topic/18/vault-essentialsx-economy-error).

[2016-07-22 12:52] #325 closed, assigned to nobody

[2016-07-24 17:58] Xatarch commented on #199
[code]

![](https://dl.dropboxusercontent.com/u/1547120/ShareX/2016/July/Discord_2016-07-24_19-30-54.png)

---

_Edited by gdude2002 for formatting and Discord messages_

[2016-07-24 18:13] gdude2002 commented on #199
This has been confirmed to still be a problem on Discord.

[2016-07-27 11:43] mastercoms commented on #314
Op not persisting was fixed in https://github.com/GlowstoneMC/Glowstone/commit/be5194e71d5d53a3589944ff600d7fd8cc726cdf.

[2016-07-27 11:47] #284 closed, assigned to nobody

[2016-07-28 01:29] #290 closed, assigned to aramperes

[2016-07-28 01:30] aramperes commented on #290
Done in https://github.com/GlowstoneMC/Glowkit/pull/6

[2016-07-30 00:46] #291 closed, assigned to aramperes

[2016-07-30 00:46] #298 closed, assigned to nobody

[2016-07-30 00:48] aramperes commented on #298
Fixed in #293

[2016-07-30 18:59] aramperes opened #327 "Complete statistics tracking"
**Task description**: Right now, the statistics system for loading/saving is complete. However, only the "time played" statistic is currently tracked. Therefore, we need to complete those statistics as well.

_Anyone can feel free to contribute on a smaller or larger portion of this task as they feel. There is no absolute need to complete all of the following in one PR. Hop on the [Discord channel

[2016-07-30 19:02] aramperes opened #328 "Destroying an inventory-holding block in creative doesn't drop contents."
When in creative mode, destroying a inventory block such as chests, hoppers, droppers and dispensers will not drop the contents of the inventory on the ground.

Note that this does not occur in survival mode (works as intended).

[2016-07-30 19:28] aramperes opened #329 "Bug with block items not being placed properly."
Some items are registered to be "ItemPlaceAs(Block)", because they can place a block when interacted with on another block. Examples of such items are: Cauldron, Doors, Skulls, Sugar Canes, etc. These items have a corresponding block with a different ID.

However, this functionality is broken at the moment. Instead of placing the correct material on the ground, the "item" itself is placed. For ins

[2016-08-06 14:58] #328 closed, assigned to aramperes

[2016-08-07 02:46] aramperes commented on #318
Appears to be fixed in #333

[2016-08-08 03:19] #318 closed, assigned to aramperes

[2016-08-10 03:22] #329 closed, assigned to aramperes

[2016-08-13 18:16] aramperes opened #337 "Altitude level above y=256 wraps around, inverting physics."
When you reach a level above y=256, physics are inverted; gravity goes upwards, so you float to a certain point. That point is actually defined by the inverse of the ground level.

I took the example of having the highest ground level of **70**.  If you teleport from the same position to the block limit, **256**, using `/tp ~ 256 ~`, you will not fall. Instead, you will "fall" upwards to level **3

[2016-08-14 12:37] mastercoms commented on #337
Thanks for this analysis! I wasn't able to figure out what caused this bug, but now it makes a lot more sense!

Maybe this can be a feature :stuck_out_tongue: like skylands or something.

[2016-08-16 01:04] mastercoms commented on #286
The problem is not the switch to PooledByteBufAllocator.

Also, it seems like the connection is randomly dropping. Sometimes the client can send some packets before disconnecting, and very rarely can connect.

[2016-08-16 01:26] mastercoms commented on #282
Partially fixed in https://github.com/GlowstoneMC/Glowstone/commit/5104c727e93bc6a40df690e655581736ce139783. Still needs to account for bounding box.

[2016-08-16 02:55] aramperes commented on #337
Update:

I've done some more debugging on this issue. It seems that the but is related to the `world.getBlockAt(x,y,z)` method, which resets to 0 after passing the 256 mark. Take a look at this debug log, where "On type: Y" is the `block.getBlockY()` result, and "eye: Y" is the `getEyeLocation().getBlockY()`:

[code]

I'll look into what might be happening, but it's probably related to this (GlowW

[2016-08-16 03:05] aramperes commented on #337
Fixed in ac8b563.

[2016-08-16 03:05] #337 closed, assigned to nobody

[2016-08-16 04:48] #313 closed, assigned to nobody

[2016-08-16 04:48] mastercoms commented on #313
confirmed fixed.

[2016-08-16 04:52] #186 closed, assigned to aramperes

[2016-08-16 05:04] aramperes opened #338 "Command blocks"
I am currently working on Command Blocks (with >1.8 functionality). This is to track the progress of these branches: [API](https://github.com/GlowstoneMC/Glowkit/tree/command-blocks-api) & [Server implementation](https://github.com/GlowstoneMC/Glowstone/tree/command-blocks).

**To-Do**:
- [ ] Update the Command block API for the new functions
- [ ] Place the new command blocks
- [ ] Save TileEntit

[2016-08-16 22:40] aramperes commented on #338
A demo of the current available mechanic: http://momoperes.ca/videos/commandblocks.mp4

[2016-08-17 01:26] mastercoms commented on #314
Other issue fixed https://github.com/GlowstoneMC/Glowstone/commit/2c19d3b1300a0484a77ea0d439043d9e368645ab. It was because player data was not saved before worlds were unloaded, due to thread timing issues. Now that async has been disabled for shutdown, there will be no issues with this.

[2016-08-17 01:26] #314 closed, assigned to mastercoms

[2016-08-17 01:42] mastercoms commented on #292
Rails should be able to connect as well.

[2016-08-21 04:06] aramperes commented on #256
I am considering closing this; I haven't encountered this for a while. Seems to have been fixed by #293 ([this line](https://github.com/GlowstoneMC/Glowstone/pull/293/files#diff-70c1e490963d7fe75aa5d2e185842bf2R152))

[2016-08-22 06:49] FastFelix771 opened #340 "No enum constant "Team.OptionStatus.always", every second."
Hello,
im getting the following error, every second, on all worlds i loaded from my Spigot (Paper) Server:

[code]

Im using Glowstone build #220 from the CI Server.

[2016-08-22 06:59] FastFelix771 opened #341 "Unknown tile entities: EnchantTable & Beacon"
When loading a Spigot world with Enchantment Tables or Beacons inside, this warning will arise:
`2016/08/22 08:43:03 [WARNING] Unknown tile entity at spigotworld,53,72,337: EnchantTable`
`2016/08/22 08:43:06 [WARNING] Unknown tile entity at spigotworld,-1266,9,-1030: Beacon`

Using Glowstone #220 from CI Server.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://

[2016-08-22 07:07] FastFelix771 opened #342 "Error loading entity: EntityHorse"
The following error appears for ALL Horses, Mules or Donkeys that are getting loaded:

[code]

As you can see, im using Multiverse-Core, but i guess its an error of Glowstone because creating new worlds with Multiverse works fine on GSPP.

I also tried to start the server with monsters / npcs / animals disabled, same errors appear.

Could you maybe add an config setting like "remove-erroring-entit

[2016-08-22 07:16] FastFelix771 opened #343 "Iglus are not getting loaded"
When i load my spigot world, im getting the following warning about 20 times:
`2016/08/22 08:43:02 [SEVERE] Unknown structure piece type to load: "Iglu"`

Using Glowstone `#220` from CI Server.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37154330-iglus-are-not-getting-loaded?utm_campaign=plugin&utm_content=tracker%2F14691067&utm

[2016-08-22 07:18] FastFelix771 opened #344 "Skins and Skulls are not working and throwing exceptions. (NBT)"
On my imported Spigot World, i can't see my real skin (only the default Steve) and ALL skulls that are placed in the world turns into a usual player head and throws the following error:

[code]

Using Glowstone #220 from CI Server.

[2016-08-22 07:20] FastFelix771 opened #345 "Unknown Entity: MinecraftRideable"
When my imported world loads, a warning appears and all minecards are removed.
Everything works, no exceptions, but the minecarts are all gone.

`2016/08/22 08:42:54 [WARNING] Unknown entity in GlowChunk{world=spigotworld,x=81,z=114}: MinecartRideable`

Using Glowstone #220 from CI Server.

[2016-08-22 07:30] FastFelix771 opened #346 "Add color code parsing to the MOTD config option"
Currently, color codes like &4 doesn't work on this config option.
I didn't tested the unicode values yet, but you should add color code parsing anyways, for its ease of use and readability.

[2016-08-22 16:00] #340 closed, assigned to nobody

[2016-08-22 16:06] mastercoms commented on #343
Igloos were being worked on by @momothereal in https://github.com/GlowstoneMC/Glowstone/pull/265#issuecomment-212942421 but I don't know what happened.

[2016-08-22 17:03] mastercoms commented on #344
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/442bc567fcfa2c180aac634b0630098ed3ca982d

[2016-08-22 17:03] #344 closed, assigned to nobody

[2016-08-22 17:08] #342 closed, assigned to nobody

[2016-08-22 20:00] FastFelix771 opened #347 "Error loading entity: Sheep, Cow (NBT)"
Glowstone build #223 from CI.

[code]

[2016-08-22 20:02] FastFelix771 commented on #347
This probably appears to more, if not all (?) mobs.

[2016-08-22 20:13] mastercoms commented on #347
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/38645f64716c2a3e9807e88f457e9779424fd345

[2016-08-22 20:13] #347 closed, assigned to nobody

[2016-08-22 20:55] FastFelix771 opened #348 "Skulls are still broken, other NBT tag this time."
[code]

Glowstone build #225 from CI.

[2016-08-22 20:56] FastFelix771 commented on #348
Sorry for the messed up formatting :octopus:

[2016-08-22 20:57] FastFelix771 opened #349 "Unknown Statistics on join"
Getting this message in the console, when i join:

[code]

Glowstone #225 from CI.

[2016-08-22 20:59] FastFelix771 opened #350 "ItemFrames throws errors on chunk saves"
Until a chunks try to save and unload and contains itemframes, this error will arise:

[code]

[2016-08-22 21:03] FastFelix771 opened #351 "Chunk unknown compression method"
3 different exceptions are getting thrown (for different chunks, too!) after the server loads chunks, that have been saved with errors before: (maybe happens to sucessful saved chunks, too? not 100% sure)

[code]

[2016-08-23 17:04] MisterCavespider commented on #346
I haven'the tried it myself, but you could take a look at this:
http://www.minecraftforum.net/forums/support/server-support/tutorials-and-faqs/1940468-how-to-add-colour-to-your-server-motd

It tells about a Unicode char.
You could copy paste this char and see if that works.
Even if it works, it's still a nasty work-around

[2016-08-23 18:08] FastFelix771 commented on #346
It probably works, the Minecraft client parses that - maybe even § instead of & will work.
But all users used to use the Bukkit color codes (&) - its known and nice, why not adapt it?
Super easy to integrate, one line of code.

[2016-08-23 18:18] DeprecatedLuke commented on #346
+1 on adding native '&' support for motd - this would make some motd plugins redundant

[2016-08-23 18:58] FastFelix771 commented on #346
it makes such plugins useless.
Unless they want a reloadable MOTD or any kind of animations (if thats still possible) or per-player views

[2016-08-23 19:44] FastFelix771 commented on #351
It also seem to affect successfully saved chunks:

[code]

What is this unknown version thingy? Is there a way to fix, or ignore this?
The map has been built in 1.7, 1.8 and 1.10.2 - that could explain, why the version errors differ (24, 34, etc.)

[2016-08-23 19:52] FastFelix771 opened #353 "Shields don't load their colorings and colored shields are not craftable"
My Shield item had much colors on Spigot, on Glowstone it loads as a blank one.

If i try to craft it with a simple banner, i get this message in the console:

[code]

The items i used to craft are also bugged away.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37214626-shields-don-t-load-their-colorings-and-colored-shields-are-no

[2016-08-23 19:59] FastFelix771 opened #354 "MC|ItemName is an unknown channel. (Related to Anvils)"
When i click with an item into a Anvil, the following message appears in the console: (removed log level etc.)
`FastFelix771 used unknown Minecraft channel: MC|ItemName`

The minecraft client probably sends some packet(s) that acts with anvils?

EDIT:
This happens on EVERY action in the anvil.
Even if i wanna change the item name, on every letter i enter, the message appears.

<bountysource-plugin

[2016-08-23 20:01] FastFelix771 commented on #354
If i repair a enchanted diamond pickaxe, this thing appears in the console:
`[rejected] WindowClickMessage(id=11, slot=2, button=0, transaction=21, mode=0, item=ItemStack{DIAMOND_PICKAXE x 1, UNSPECIFIC_META:{meta-type=UNSPECIFIC, enchants={DURABILITY=3, LOOT_BONUS_BLOCKS=2, DIG_SPEED=4}}})`

Also, i get the repaired item, and the broken one.
Items duplicate.

And randomly, it also deletes, the br

[2016-08-23 20:04] FastFelix771 opened #355 "Tripwires and Tripwire hooks are not working at all."
I can't place ANY tripwire, and if i place a hook, its facing switches to the wrong side.
No console errors or messages.

I guess this feature is just not yet implemented?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37215009-tripwires-and-tripwire-hooks-are-not-working-at-all?utm_campaign=plugin&utm_content=tracker%2F14691067&ut

[2016-08-23 20:07] FastFelix771 opened #356 "SignChangeEvent doesn't seem to fire and Sign MaterialData may not be existent on Sign blocks."
I've found out, that Essentials' teleport signs are not working (Used [Warp], works on Spigot).
As it uses only bukkits events and a instanceof Sign check, it cannot be an error of Essentials.

You should check, if SignChangeEvents etc. are firing properly.

[2016-08-23 20:09] FastFelix771 opened #357 "Projectiles are not implemented"
Well, title says everything.
The bow animation works, but theres no arrow plopping out on fire.

[2016-08-23 20:45] aramperes commented on #356
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/4037430ef2c0a4e8d58b1e7b3c26b27482557689

Make sure you have `enabledSigns.warp` un-commented in Essential's config.yml:

[code]

[2016-08-23 20:45] #356 closed, assigned to nobody

[2016-08-23 20:47] FastFelix771 commented on #356
Ehm, i copied Essentials and all configs 1:1 from Paper to Glowstone.
It worked before, but good to know it works for you, maybe my version is out of date.

You have tried to place and use that signs, right?

EDIT: ahh, just realised that the hint was optional xD

[2016-08-23 20:48] aramperes commented on #356
@FastFelix771 It didn't work in glowstone because SignChangeEvent wasn't getting fired, that was added in that commit. Try with that commit and check if it works (build [here](https://bamboo.gserv.me/browse/GSPP-SRV-226))

[2016-08-24 01:06] #350 closed, assigned to nobody

[2016-08-24 01:32] aramperes commented on #354
Partially fixed in https://github.com/GlowstoneMC/Glowstone/commit/2aad4f0b13696df766a646adde3bace385492ada

[2016-08-24 05:51] FastFelix771 commented on #350
`Error loading entity in GlowChunk{world=spigotworld,x=-7,z=13}: ItemFrame
java.lang.IllegalArgumentException: Compound does not contain IntTag "Facing"
    at net.glowstone.util.nbt.CompoundTag.getTag(CompoundTag.java:272)
    at net.glowstone.util.nbt.CompoundTag.get(CompoundTag.java:266)
    at net.glowstone.util.nbt.CompoundTag.getInt(CompoundTag.java:83)
    at net.glowstone.io.entity.ItemFra

[2016-08-24 14:42] aramperes commented on #350
@FastFelix771

That's an issue with the item frame in question, not with Glowstone. The facing tag is required, and it cannot be optional (it directs the face of the item frame).

It's possible that you imported the world containing the item frame, loaded it with an earlier version of Glowstone (before that commit), and the data was lost when saving the world. You should re-import the world from P

[2016-08-24 16:59] #349 closed, assigned to nobody

[2016-08-24 22:50] aramperes commented on #350
@FastFelix771 https://github.com/GlowstoneMC/Glowstone/commit/3996cd3d20846a7ebed1674d72c6185afbc03f6a should fix your issues, let me know if more problems arise.

[2016-08-25 07:55] cabidop commented on #130
Hi, everyone! After several months I re-discovered the Glowstone project again, and now that I've some spare time I'll try to do my bit working on this feature. So far I've managed to implement a very basic logic to find an arbitrary big obsidian "frame", but I can't fill it with nether portal blocks. I tried other blocks with no problems (even the ender portal block, which surprisingly creates a

[2016-08-25 12:26] DeprecatedLuke commented on #130
Looking through spigot it seems that portals store special data

[2016-08-25 12:29] FastFelix771 commented on #130
Most servers provides warps and prohibit own portals anyways, so this is a minor problem imo.
But at some day, it would be quite useful if that starts working, too.

The ender portal works? :o it also teleports you?

[2016-08-25 12:41] cabidop commented on #130
@DeprecatedLuke Thanks for the info! I'll dig around a little bit more to see if I can find something useful.

@FastFelix771 I know it's a minor thing, that's why I've chosen it to get more familiar with the code. And yep, an obsidian frame filled with ender portal blocks actually warps you to The End! Didn't try to build a normal ender portal though, but I guess it should work the same.

[2016-08-25 12:41] DeprecatedLuke commented on #130
setblock triggers psychics event btw
edit: my guess psychics still run even if you set it to false

[2016-08-25 15:57] mastercoms commented on #130
http://minecraft.gamepedia.com/Nether_Portal_(block)

Perhaps the client refuses to display the portal block because it is not part of a nether portal structure.

Also do we have a block state for Nether portals? http://minecraft.gamepedia.com/Nether_Portal_(block)#Data_values

[2016-08-25 16:13] cabidop commented on #130
@mastercoms I finally got it working, the problem was in the direction of what @DeprecatedLuke said: I was missing the portal orientation info. As there is no block state for Nether portals, I guess it's a good idea to create a _GlowPortal_ class to manage this and possibly other related features (teleport, find/generate active portals in Nether).

[2016-08-29 23:44] valleydev commented on #167
Can someone please help me setting up eclipse as debug project?
There are many references missing ...

[2016-08-29 23:58] PaulBGD commented on #167
@valleydev before building this project you should probably read the main file to find that this project is dead.

[2016-08-30 00:07] momothereal commented on #167
@valleydev @PaulBGD ... and that the project has moved to a [new repository](https://github.com/GlowstoneMC/Glowstone).

[2016-08-30 11:09] mastercoms opened #358 "Project Documentation"
List of things for documentation of Glowstone as a project.

Encouraging contributions:
- [x] Friendly "How to help" page: Code, documentation, wiki, testing
- [x] CONTRIBUTING.md file
- [x] Code style and PR handling wiki pages
- [x] Complete todo list
- [x] Update PR handling wiki page

Administrative stuff
- [x] New logo that isn't Mojang assets
- [x] A decent roadmap, covering which issues are

[2016-08-30 11:10] mastercoms opened #359 "Code Documentation (JavaDocs)"
Glowstone is sorely lacking in the documentation department. Improvements to in-code JavaDocs and comments are possible, and it might be worth writing up some separate code documentation or user guides on the [GitHub wiki](https://github.com/GlowstoneMC/Glowstone/wiki).

Methods which override or implement Bukkit interfaces do not need separate documentation unless there is an important note or ex

[2016-08-30 14:52] valleydev opened #360 "Manual for IDE Setup / References"
I can't get eclipse neon running as many references are missing and not part of the repository.
I would really like to contribute (cows, chickens and animals), so a manual helping me to set up the debug environment would be helpful for me to get involved.

Any help will be highly appreciated.

[2016-08-30 14:58] gdude2002 commented on #360
Setting up Eclipse for Glowstone should be as simple as setting up any Maven project with it.

I don't personally use Eclipse, but I know there are a few developers here that do - have you worked with a Maven project before?

[2016-08-30 15:04] valleydev commented on #360
Thanks for your fast response.
I am used to work with .net Framework and visual studio (no experience with maven). Is there a better alternative to eclipse?

[2016-08-30 15:11] gdude2002 commented on #360
I personally use Intellij IDEA, but it really comes down to what you're used to.

I've mentioned the channel on Discord, so someone more knowledgeable with Eclipse should be along at some point, if you still want to go down that route.

[2016-08-30 15:17] valleydev commented on #360
Thanks for your recommendation: As i am new to eclipse anyway, i will take a look at Intellij IDEA.

[2016-08-30 15:47] mastercoms commented on #360
https://github.com/GlowstoneMC/Glowstone/wiki/Setting-Up-Tips

Make sure you get a Lombok plugin. That's probably why there are missing references. Also, make sure that your IDE is downloading the required dependencies specified in the Maven 3 pom.xml.

[2016-08-30 17:12] valleydev commented on #360
Finally got it working. I like the IDE.

Currently debugging and trying to fix some errors like
[WARNUNG] USR moved too quickly!
on inital join causing players death...

[2016-08-30 17:58] mastercoms commented on #360
It has something to do with the spawn point that the server finds being not safe so the client is moved to a safe spot, which makes it move too quickly.

If there is not already an issue created for this bug, please create one.

Closing this as the issue with your IDE was fixed.

[2016-08-30 17:58] #360 closed, assigned to nobody

[2016-08-30 18:17] MisterCavespider opened #361 "Sending message through CommandSender.sendMessage(String) doesn't parse colours."
Exactly as the title states.

sender.sendMessage("&6TEXT"); wont parse the colour.

[2016-08-30 18:36] picknchew commented on #361
The ampersand, `&` is not the color character for Minecraft. It is actually the section sign, `§`.

[2016-08-30 22:02] mastercoms commented on #361
You have to do `sender.sendMessage(ChatColor.GOLD + "TEXT")`. & and section signs will not work as they are not parsed by Bukkit by default. EssentialsChat will add this functionality.

[2016-08-30 22:15] aramperes commented on #361
Alternatively to what @mastercoms said, you can use `ChatColor.translateAlternateColorCodes('&', "&6TEXT");` ([javadoc](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/ChatColor.html#translateAlternateColorCodes%28char,%20java.lang.String%29))

[2016-08-31 08:43] gdude2002 commented on #361
Yup, out of experience with Bukkit, I can agree with everyone else here. sendMessage does not parse the colour, and that is expected behavior. There are plugins which change that, but you shouldn't rely on their presence.

[2016-08-31 08:43] #361 closed, assigned to nobody

[2016-08-31 13:15] valleydev opened #362 "General concept for Animals?"
I am not sure if animals are currently implemented.
Currently they are not spawning on my test server.

**This is the class hierarchy of the wolf which i found in source code**

GlowEntity (Entity)
GlowLivingEntity
GlowCreature
GlowAgeable
net.glowstone.entity.passive.GlowAnimal
net.glowstone.entity.passive.GlowTameable
net.glowstone.entity.passive.GlowWolf

**How can i spawn an entity?**

Please

[2016-08-31 13:48] mastercoms commented on #362
AI/movement design has not been decided on yet so there is no class or place yet but pulse seems like the best idea.

Mobs don't automatically spawn. You can use a spawn egg or the `spawnEntity()` method in `GlowWorld`.

[2016-08-31 14:57] valleydev commented on #362
Thanks for your response. I will have a look at the GlowWorld.spawnEntity function and the Pulse quene.

Further questions:
Is there dangermap (dangerous areas = high value) or A\* pathfinding implemented?

[2016-08-31 15:16] aramperes commented on #362
There is no AI per say in Glowstone, and mob spawning is not implemented in world generation. I have an A\* pathfinding library repo on my account, but it would need some tweaking for 3D environments.

[2016-08-31 15:59] mastercoms commented on #362
The closest to a dangermap is `canSpawn()` in the generator classes ([`GlowChunkGenerator`](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/generator/GlowChunkGenerator.java#L57), [`NetherGenerator`](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/generator/NetherGenerator.java#L52), [`TheEndGenerator`](https://github.com/GlowstoneM

[2016-08-31 16:24] valleydev commented on #362
Some strange behaviour:

i put

`if (true)
        return false;`

in the first line of function

`GlowCow.entityInteract`

but i am still able to milk the cow in survival mode.

Where is the milk etc. logic implemented??

[2016-08-31 16:32] valleydev commented on #362
i noticed that killing an animal (spawned by an egg) does not drop anything.

[2016-08-31 16:49] mastercoms commented on #362
Log out and back in and see if the bucket is still milk. It may be a client issue expecting to be able to milk the cow, and it then desyncs from the server, because `GlowCow.entityInteract()` is where the milking functionality is located.

There are no entity death drops implemented.

[2016-08-31 17:44] valleydev commented on #362
dropping for cow implemented.

any suggestions on how to make a pull request?
do i need to create a new branch first?

[2016-08-31 17:51] mastercoms commented on #362
Here's where you can find everything you need to know about helping with Glowstone's development:

https://github.com/GlowstoneMC/Glowstone/wiki/How-to-Help#developing. Make sure you also read the Contributing and PR Handling pages linked at the bottom of the section, please.

Also, [our Contribution policy](https://github.com/GlowstoneMC/Glowstone/blob/master/.github/CONTRIBUTING.md) explains som

[2016-08-31 18:50] aramperes commented on #362
**Also hop on our Discord if you want to chat about development!

[2016-08-31 19:01] valleydev commented on #362
i have created a pull request. (so far some animals are dropping items)
Missing: Dropping Experience
Missing: Dropping grilled Chicken flesh anfter animal has been ignited

Room for improvement.

Any idea how to move an animal from the pulse function? Just set the position?

[2016-09-01 15:42] valleydev opened #366 "Method for testing and benchmarking"
My suggestion is to implement a benchmark, with all Features. Benchmark values are relative, because they are executed on different powerful systems.

BUT: When the performance after a release decreases more than 20% on the same machine, there should be a different solution

During development this world should not change, so we can measure the performance of the code.

For example:
1. Having a fl

[2016-09-01 16:34] mastercoms commented on #366
Yeah, a standard benchmark could even be coded in.

[2016-09-05 16:39] aramperes opened #369 "Chunk compression issue (GZIP)"
Occasionally, chunks will fail to decompress when reading/populating chunks. This is one of those stacktraces:

[code]

[2016-09-05 17:07] Paulomart commented on #369
This is related to any other errors occurring during reading chunks. I think there is some unsafe hacking going on, @mastercoms may know more. It also may have to do with not resetting the stream or resetting it.

[2016-09-05 19:59] picknchew opened #370 "Signs"
Signs do not break after the supporting block is broken. This makes floating signs possible. ![qvbga7n 1](https://cloud.githubusercontent.com/assets/3619860/18256295/6a8b0924-7381-11e6-9807-c23c499bc886.png)

Placing blocks vertically without shift right clicking on the sign also works. In vanilla, right clicking the sign counts as an interact not a block place (maybe just call it a feature?).

To

[2016-09-05 20:17] picknchew commented on #369
There are also stack traces like this.
![m1yyjj4 1](https://cloud.githubusercontent.com/assets/3619860/18256501/2f8af7b4-7384-11e6-814a-7fc504560dd9.png)
They appear on startup after a forced shutdown.

[2016-09-07 01:12] picknchew opened #371 "Replaceable Blocks"
Sometimes the server does not register the placement of blocks on a replaceable block, tall grass for example. Placing a block on it changes the block to what is supposed to be there then immediately reverts as it is never recognized by the server.

[2016-09-11 17:27] aramperes commented on #60
Done in #334

[2016-09-11 17:27] #60 closed, assigned to nobody

[2016-09-16 17:01] aramperes commented on #282
Done in #373

[2016-09-16 17:01] #282 closed, assigned to mastercoms

[2016-09-16 20:57] aramperes commented on #371
Can you give examples of blocks to which this can occur? I tried with Grass and Fern and it works as expected.

[2016-09-16 21:12] picknchew commented on #371
Tall grass, specifically with rails.

[2016-09-16 23:42] aramperes commented on #371
Should be fixed by https://github.com/GlowstoneMC/Glowstone/commit/972d75ba81642915f315149d539e1acac00569ab, please let me know.

[2016-09-17 15:37] aramperes commented on #256
Has this been occurring to someone since the latest commits? Please let me know here.

[2016-09-19 17:54] mastercoms commented on #111
@gdude2002 Player lookup is still blocking.

[2016-09-29 11:51] Rocologo opened #375 "Mobs dont move"
I have tried to test my Plugin MobHunting against GlowStone 1.10.2 Build 249 but it does not work.

When I spawn mobs with essentials "/spawnmob spider" the mobs don't move and when I kill the mob nothing happens. No vanilla drops and No MobHunting drops and it looks like if "onEntityDeath" is never called???

[2016-09-29 11:55] aramperes commented on #375
Please refer to this thread: #362

This is not a bug, because mob AI and drops have not been implemented yet. It should be regarded as a missing feature, and has been reported in that thread.

[2016-09-30 11:12] Rocologo commented on #375
Ahhh... I thought you had that in place... and then it does not make sense to test my plugin :-) Except I can see that there are no errors so far. I close this issue....

[2016-09-30 11:12] #375 closed, assigned to nobody

[2016-10-02 15:44] #371 closed, assigned to aramperes

[2016-10-23 03:34] mastercoms commented on #155
We're a bit late on this issue, but a plugin can calculate which arrow will be used next and then check to see if that ammo should cause bow usage to be cancelled.

[2016-10-23 03:34] #155 closed

[2016-11-06 00:50] mastercoms commented on #369
We did a big cleanup of `RegionFile` just now (https://github.com/GlowstoneMC/Glowstone/commit/de89225bc3cb256be34e8b5a2c79fbbafceb1f0f).

Perhaps it did something to fix this bug unintentionally.

[2016-11-06 23:56] augustresende opened #380 "Multiple versions - "ProtocolSupport""
Is not hard add multiple versions with protocol hack. Pls add this!

[2016-11-07 00:05] LuminousLoreBloom commented on #380
Why don't you do it yourself if it's not 'hard'?

[2016-11-07 00:05] ethsmith commented on #380
@GabrielAugustoTI If it is not so hard, you learn Java and code the update yourself. Since it is so easy you should have no trouble coding it in a reasonable amount of time.
Glowstone is built on top of Spigot. I assume ViaVersion works to an extent but this is not even complete yet,

[2016-11-07 00:05] ethsmith commented on #380
@GabrielAugustoTI Learn to have some respect for the open source community.

[2016-11-07 00:06] ethsmith commented on #380
@GabrielAugustoTI If it were up to me you would be banned from this repo and the forums.

[2016-11-07 00:50] gdude2002 commented on #380
Guys? Why are you being so toxic? This attitude doesn't belong in an open-source project.

What are the merits of multiple protocol support? Dragonet exists just to bridge the _current_ versions of desktop MC and MCPE, and they have an _entire project_ dedicated to just that.

[2016-11-07 01:00] phase commented on #380
At least learn what project you're commenting on before you criticize people. Glowstone is _not_ built on top of Spigot.

I do think multiple versions is a cool idea, and if it isn't supported by the main server then it should be available through some plugin means.

[2016-11-07 01:28] mastercoms commented on #380
Multiple protocol support can be buggy, but we've done it before, though on the same release branch (1.9). Adding support across releases will be harder, but definitely not impossible.

And guys, don't criticize this member of our community so much. This feature request is clearly valid, and we should always appreciate new people coming into Glowstone and helping with ideas or code. All of us are

[2016-11-12 03:30] aramperes opened #381 "Setting passenger for an entity crashes the client"
When using the `GlowEntity.setPassenger(Entity)` method, the players in visible range of the concerned entities will crash. This is the crash window from when using the `setPassenger(Entity)` method:

![Crash](http://image.prntscr.com/image/8fc021e8f461403fa7bd65c8630800a1.png)

The crash is caused because the packet with id '58' (or `0x3A` in hexadecimal) was not sent with the correct information

[2016-11-12 20:41] Aslaak opened #382 "Chat Error"
Hello,
I got an issue when a player talk just in the "lag" of the connection:
http://pastebin.com/nZYtyry9

Hope you will fix it :)
Thanks !

[2016-11-12 20:58] aramperes commented on #382
I'm not sure what you mean by the 'lag' of the connection. Do you mean when the player is loading the chunks when joining?

[2016-11-13 02:22] mastercoms commented on #382
https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/entity/GlowPlayer.java#L1029

[2016-11-13 02:25] mastercoms commented on #382
`getScoreboard()` seems to not exist?

[2016-11-13 02:29] aramperes commented on #382
@mastercoms `scoreboard` field is set when the player joins (`join` method), so I would assume the chat message was sent before the PlayerLoginEvent. Pretty sure that would rely on having a bot sending the message when joining the server.

[2016-11-13 02:30] mastercoms commented on #382
We can just add a null check, no harm in doing so. Also, as the OP was saying, on laggy connections, maybe joining will take a long time.

[2016-11-13 02:31] aramperes commented on #382
Wouldn't it be better to deny the IncomingMessage handler if the player has not been assigned a profile yet?

[2016-11-13 02:31] mastercoms commented on #382
Hm, yeah that would be a better solution, but do we really need to check the scoreboard display name?

I would rather someone be able to send a message at that time rather than to just ignore it, unless that is vanilla behavior.

[2016-11-13 03:24] aramperes commented on #382
Fixed in #384.

[2016-11-13 03:24] #382 closed, assigned to nobody

[2016-11-13 03:24] aramperes commented on #381
Fixed in #383.

[2016-11-13 03:24] #381 closed, assigned to nobody

[2016-12-01 22:23] aramperes opened #386 "First item in hotbar is not saved/read in the player's inventory."
Any ItemStack in the first hotbar slot (`0`) will not be saved(/read?) by the server from it's NBT file. It may be related to this method (when reading the player's inventory): https://github.com/GlowstoneMC/Glowstone/blob/77e30f78e4e323ae61a999c7dad3075731985f77/src/main/java/net/glowstone/io/nbt/NbtSerialization.java#L89-L98, or it could be something else related to saving the player's inventory

[2016-12-03 17:57] #386 closed, assigned to nobody

[2016-12-05 15:37] Fabricio20 commented on #357
Looks like you cannot throw eggs and snowballs too.

[2016-12-06 16:48] ghost opened #390 "Frozen entity..."
![2016-12-06_14 45 15](https://cloud.githubusercontent.com/assets/9270074/20934618/ee5d714a-bbc2-11e6-9683-daa7f5fd3a65.png)
![2016-12-06_14 45 17](https://cloud.githubusercontent.com/assets/9270074/20934617/ee5d0642-bbc2-11e6-8d13-65976df0d7c4.png)
![2016-12-06_14 45 19](https://cloud.githubusercontent.com/assets/9270074/20934621/ee5f0c3a-bbc2-11e6-878b-1d2b1255d5af.png)
![2016-12-06_14 45 37](ht

[2016-12-06 16:48] ghost commented on #390
![2016-12-06_14 48 44](https://cloud.githubusercontent.com/assets/9270074/20934674/19b46ff6-bbc3-11e6-8b10-4907608f2458.png)

[2016-12-06 16:48] ghost commented on #390
As far as i know entities are WIP

[2016-12-06 16:50] ghost commented on #390
![2016-12-06_14 50 19](https://cloud.githubusercontent.com/assets/9270074/20934740/566ca332-bbc3-11e6-9279-e81711fa8642.png)

The chunk also does not load.

[2016-12-06 16:54] ghost commented on #390
Create separate issue. Saying "not loading" will not help resolve problem.

[2016-12-06 16:57] Paulomart commented on #390
Entity AI is currently not implemented. So they dont do anything.

[2016-12-06 16:59] ghost commented on #390
@paulomart More, NO mob is moving.

[2016-12-06 16:59] ghost opened #391 "Totem of Undying"
It's not working.

[2016-12-06 17:01] ghost commented on #391
http://image.prntscr.com/image/dcf2633bebeb4d3bb6727d0da54de9e1.png

[2016-12-06 17:11] ghost opened #392 "/title command throws NPE when executing invalid JSON"
[code]

[2016-12-06 17:15] ghost opened #393 "Comparators and Observers are not implemented"
Comparators, ObserverBlock, the direction you places is ignored.

Always in a fixed direction.

[2016-12-06 17:16] ghost commented on #393
Also you cannot right-click and a comparator.

[2016-12-06 17:20] ghost commented on #393
You can also stack comparator (is it possible)?

![2016-12-06_15 19 37](https://cloud.githubusercontent.com/assets/9270074/20935825/789d18b6-bbc7-11e6-849a-aac77dfa2e86.png)

[2016-12-06 17:21] Paulomart commented on #390
Moving is entity AI.

[2016-12-06 17:24] ghost opened #394 "Armor bar is not shown in HUD"
![2016-12-06_15 23 36](https://cloud.githubusercontent.com/assets/9270074/20935978/1320a524-bbc8-11e6-9f55-ed7cbc53f641.png)

Where's the HUD of armor that appears on top of the hearts?

It's a bug in the server?

[2016-12-06 17:25] DaMatrix commented on #393
I don't think comparators have truly been implemented yet (correct me if I'm wrong) and therefore don't have (m)any of the features that they need.

[2016-12-06 17:27] ghost opened #395 "Maps do not render."
![2016-12-06_15 26 34](https://cloud.githubusercontent.com/assets/9270074/20936090/6fe3aaae-bbc8-11e6-8def-7a79e063cc7a.png)

And when you put the map on the other hand, he's gone from your inventory.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40545455-maps-do-not-render?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_me

[2016-12-06 17:42] mastercoms commented on #391
Totem of Undying is not implemented yet.

[2016-12-06 17:43] mastercoms commented on #393
Yeah it is not implemented.

[2016-12-06 17:45] mastercoms commented on #395
You mean offhand? Offhand is not implemented completely and that would be a different issue.

However maps should be working, though I think they were changed in 1.11.

[2016-12-06 17:49] mastercoms commented on #203
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/1df03e072ec97b26973f53f7749a3ae8d7f8fbcc#diff-e4fce268ee45472d3f6f9d783cb96d5f.

[2016-12-06 17:49] #203 closed, assigned to mastercoms

[2016-12-06 17:53] mastercoms commented on #362
Closing in favor of #390.

[2016-12-06 17:53] #362 closed, assigned to mastercoms

[2016-12-06 17:54] mastercoms commented on #345
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/a01b1b1441754bad7f4f0b2d85cd518c1f1eaf63.

[2016-12-06 17:54] #345 closed, assigned to nobody

[2016-12-06 22:51] aramperes commented on #287
Done in #378

[2016-12-06 22:51] #287 closed, assigned to aramperes

[2016-12-06 22:52] aramperes commented on #295
Appears to be fixed in 98e7d3b31ba0be9e72a9d51aeb0a8803b9398bc0

[2016-12-06 22:52] #295 closed, assigned to aramperes

[2016-12-06 22:55] aramperes opened #396 "Completing entities in Glowstone"
Entities are an essential component of Minecraft, and their functionality is not yet complete in Glowstone. This _Story_ was created to track remaining issues and missing functionality. I rewrote it to keep it up to date considering the recent changes in entity physics. The original content of this Story can be found [here](https://pastebin.com/zHPKRTec).

Anyone can participate in the completion

[2016-12-07 02:40] aramperes opened #397 "Chunks sometimes not rendering on the client"
Sometimes, a certain group of chunks will not load for the player until they are forcefully reloaded. I encountered this when traveling long distances or when teleporting to another player in unloaded chunks. This problem can often be fixed by using the `F3+A` keybind to refresh the chunks nearby.

![Screenshot by Kurimatzu](https://cloud.githubusercontent.com/assets/9270074/20934740/566ca332-bbc3

[2016-12-07 02:41] aramperes commented on #390
Closing this in favor of the entities Story (#396). Please note that knockback, physics and AI are not implemented and as such should not be considered as _bugs_. Also created an issue, #397, regarding the chunk rendering issue.

[2016-12-07 02:41] #390 closed, assigned to aramperes

[2016-12-07 02:53] aramperes commented on #394
Correct me if I am wrong, but I think the armor bar is updated when sending the `EntityEquipmentMessage`  packet to the player about himself. I don't think that information is currently sent to the player itself.

Nop, it's set using the `generic.armor` attribute.

[2016-12-07 03:00] aramperes commented on #392
I think the current implementation of the `/title` command only supports Raw JSON components instead of plain text. This definitely needs to be reworked.

[2016-12-07 03:23] mastercoms commented on #392
No, the title command is supposed to use Raw JSON. http://minecraft.gamepedia.com/Commands#Raw_JSON_text

However, the syntax can be made better to fit with vanilla syntax.

But under no circumstance should we allow for plain text. That is a command for plugins to add.

[2016-12-07 03:26] aramperes commented on #392
Yes but it should fallback to plain text if the given string is not valid JSON, afaik.

Edit: It appears not, you were right. TIL. It should warn you though, instead of throwing an NPE.

[2016-12-07 03:28] mastercoms commented on #392
Vanilla doesn't do this, I'm pretty sure. I'm not sure if deviating from that behavior should be done.

[2016-12-07 03:43] ethsmith commented on #392
@mastercoms Is there harm in deviating from that original behavior?

[2016-12-07 03:49] mastercoms commented on #392
There might be some weird behavior if a script is expecting the command to fail because of poor syntax.

[2016-12-07 15:14] aramperes commented on #357
Closing this issue in favor of the entities Story (#396)

[2016-12-07 15:14] #357 closed, assigned to nobody

[2016-12-11 14:18] aramperes commented on #393
Observers have been implemented in 789d66f11e7e9c78f1f4fd47b6fa8ad5d1969b7b and 082a0191b64e4dc96110c15539609db0beab6b0e.

[2016-12-11 14:32] aramperes commented on #393
Comparator placing and interaction have been implemented in dd464360575ca9e8df2404c39d8648493cd06c07.

[2016-12-11 16:45] aramperes commented on #391
Implemented in 036383bb525d303a4ab6692a224d121980ef3227

[2016-12-11 16:45] #391 closed, assigned to aramperes

[2016-12-11 22:26] aramperes commented on #394
Implemented in commit 61ed27c34015cc50272484249dc98f8ae7caa22a.

[2016-12-11 22:26] #394 closed, assigned to aramperes

[2016-12-22 16:02] DenAbr opened #398 "Spawning NPCs"
BukkitAPI has unimplemented interface NPC. It would be great ability to spawn NPCs with custom skins and display names.

[2016-12-22 21:03] Aslaak opened #399 "Loading chunks"
Hello,
when I teleport myself in the last version, I often got this error:

[code]

I don't really know if it comes from glowstone or a plugin, but I think it's from glowstone because I only have a custom plugin which don't work with chunks...
I hope it will help you !

[2016-12-22 21:15] gdude2002 commented on #399
Just so you know, I edited your ticket to include the error directly. Hastebin deletes pastes quickly.

I've seen this one a lot too, even on the test server. We're aware of it, but I think only @momothereal or @mastercoms will be able to tell you what the issue actually is.

[2016-12-22 21:37] Aslaak commented on #399
oh sorry for hastebin :c

it's not very important and I don't really care about it it's not urgent :)

[2016-12-22 22:03] mastercoms commented on #399
Duplicate of #199

[2016-12-22 22:03] #399 closed, assigned to nobody

[2016-12-23 02:35] aramperes commented on #399
@Aslaak was this world ported from Vanilla/Spigot, or is it a fresh Glowstone world?

e: also level seed would be appreciated :)

[2016-12-23 12:57] Aslaak commented on #399
yes it's a fresh glowstone world, the level seed is : -1477976409506853065

[2016-12-24 12:54] Aslaak opened #401 "Light issue"
Hello !
I noticed this problem, I don't found any previous issues about it, so here it is:
https://youtu.be/fAImXL54Juk
( I'm running last build, but I already got it on build #294 )

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40370272-light-issue?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=gi