[2016-12-24 14:37] BSFishy commented on #401
Are you 100% sure that is happening with other people. To me, that looks like a client-side glitch.

[2016-12-24 14:41] gdude2002 commented on #401
This seems to be a combination of client-side and server-side issues.

That said, I have no idea what's causing them.

[2016-12-24 14:43] BSFishy commented on #401
My server is running 1.11-SNAPSHOT-"ab9e3fd"-MC1.11 (Or whatever the latest is I think), and I am having no issues. It could have something to do with texture packs, or client-side mods.

[2016-12-24 14:44] gdude2002 commented on #401
Nah, I've definitely noticed unusual lighting issues with Glowstone in the past. Let's wait for @mastercoms.

[2016-12-24 15:06] mastercoms commented on #401
I don't think server side lighting calculations have been implemented at all.

[2016-12-24 15:50] Aslaak commented on #401
For answer, I just have optifine as mods and I don't see any changement without it, and it's the same for the texture-pack, the issue is the same with default texture-pack :/
Thank you for helping :)

[2017-01-04 00:19] #306 closed, assigned to gdude2002

[2017-01-04 17:12] hugo4715 opened #407 "Plugin#saveDefaultconfig() causing IllegalArgumentException when file doesn't exist"
From the spigot doc: http://imgur.com/a/uWvW9
https://hub.spigotmc.org/javadocs/spigot/
but when it try my plugin, i got an Exception
[code]

[2017-01-04 17:15] gdude2002 commented on #407
Are you actually shading a `config.yml` into your plugin jar?

[2017-01-04 17:18] hugo4715 commented on #407
No, but in the documentation of the spigot api it says:
`Saves the raw contents of the default config.yml file to the location retrievable by getConfig(). If there is no default config.yml embedded in the plugin, an empty config.yml file is saved. This should fail silently if the config.yml already exists.`
Some plugin (not a lot) could be crashing because of that

[2017-01-04 17:19] gdude2002 commented on #407
Ah, okay, that's kind of important information, 😛

[2017-01-04 17:20] aramperes commented on #407
@hugo4715 this is intended behavior, you can trace back this error to Bukkit itself rather than Glowstone. This method will create a `config.yml` file in the plugin's folder, not in the JAR. You need to have a `config.yml` in your plugin JAR to use this method.

Source: https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse/src/main/java/org/bukkit/plugin/java/JavaPlugin.java#189,202

[2017-01-04 17:22] hugo4715 commented on #407
That's strange, so it's just a mistake in the documentation?

[2017-01-04 17:23] aramperes commented on #407
@hugo4715
I guess so. You might want to poke Spigot for this issue, they maintain Bukkit.

[2017-01-04 17:24] hugo4715 commented on #407
I may do it later, bye.

Thanks a lot :p

[2017-01-04 17:24] #407 closed, assigned to nobody

[2017-01-06 02:23] aramperes commented on #393
While comparator logic hasn't been implemented, I think this issue has been resolved.

[2017-01-06 02:23] #393 closed, assigned to aramperes

[2017-01-07 03:35] BSFishy commented on #380
This could easily be done with Bungeecord, and a plugin. Take Hypixel for example. They obviously do not use a "vanilla", if you will, server or bungeecord, but they still allow Minecraft version 1.8, 1.9, 1.10, and 1.11. I believe this is done by not allowing players to do anything with items and blocks that were implemented after 1.8, meaning that everyone would have the same features. I'm sure

[2017-01-07 03:52] BSFishy commented on #130
So I'm assuming this is no longer a problem?

[2017-01-07 03:53] BSFishy commented on #398
I would like to make an attempt to implement this feature. I think it will be fun learning how Glowstone works with sending packets, and what not.

[2017-01-07 04:58] BSFishy commented on #398
I need a little bit of help on this one :P I would expect to be able to make this possible by making an entity, but when sent to the player, it is sent as a player. It seems easy, but I cannot find anything! Can someone point me in the correct direction?

[2017-01-07 05:11] mastercoms commented on #130
This has still not been implemented.

[2017-01-07 09:01] DenAbr commented on #398
Probably you should make new class extending GlowHumanEntity (as in Citizens) and working on it.

[2017-01-07 14:13] BSFishy commented on #398
Right, but after looking at the GlowHumanEntity, I think that it will be trying to send packets to it. I can try.

[2017-01-07 15:24] aramperes commented on #398
This requires a bit more work than just exending GlowHumanEntity, since clients don't accept that as a valid entity type (note that there is no `EntityType.HUMAN_ENTITY`), nor any network ID for it. You are going to have to fake a player to the client.

[2017-01-07 15:28] BSFishy commented on #398
That's what I was thinking. I am thinking about making a GlowNPC class that extends GlowHumanEntity and all, but I am also thinking I am going to need to make some new net messages. I have not looked a huge amount into the code, and do not know **exactly** how it works, but would that be the general concept?

[2017-01-08 09:01] DenAbr commented on #398
Seems like i've managed to do it!
![Notch NPC](http://dl3.joxi.net/drive/2017/01/08/0002/2404/182628/28/c23ce3495f.png)
This requires multiple edits in glowstone code:
1) Custom class, extending GlowHumanEntity with modified createSpawnMessage(adding PlayerListItem packet)
2) Create and bind new custom class in net.glowstone.io.entity package to save and load NPC entity
3) Additional EntityType en

[2017-01-08 10:17] DenAbr commented on #398
There is another way to spawn NPCs through plugin.
https://github.com/DenAbr/GlowNPC

[2017-01-08 14:50] aramperes commented on #398
@DenAbr very nice!
Does that plugin require modifications to Glowstone to support it?
I'm suggesting to use that as the official way to spawn NPC's and documenting it.

[2017-01-08 15:08] DenAbr commented on #398
This plugin works without any Glowstone modifications.
But. There is some difficulties with saving NPCs created this way on server shut down. And that is why "native" NPCs built-in Glowstone looks better.

[2017-01-08 15:35] aramperes commented on #398
@DenAbr what kind of difficulties?
I would prefer to stick with a plugin solution, because it's more uniform with the custom entities system

[2017-01-08 17:08] DenAbr commented on #398
Plugin loads after world(can be fixed).
I understand that plugin solution looks graceful but NPCs as integrated feature is more convenient.

[2017-01-09 01:21] BSFishy commented on #398
You can make the plugin start on load, rather the default method, which i believe loads it before the world. Also, did you look at the documentation on [custom entities](https://github.com/GlowstoneMC/Glowstone/wiki/Creating-custom-entities)? If you have everything correct, it should save correctly. I have not looked at your code, but I am assuming that if it is not saving correctly, it does not h

[2017-01-09 08:24] DenAbr commented on #398
I've already fixed this.

[2017-01-09 11:32] DenAbr opened #410 "MetadataIndex.SHOW_NAME_TAG data type mismatch"
According to [this](http://wiki.vg/Entities#Entity) SHOW_NAME_TAG data type should be Boolean but in Glowstone its type is Byte. It causes client crash when I'm trying to spawn entity with custom name.

[2017-01-09 12:22] #410 closed, assigned to nobody

[2017-01-09 12:54] DenAbr commented on #410
[Should be fixed too](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/entity/GlowEntity.java#L860)

[2017-01-09 13:14] Mepth opened #411 "1.7-1.11.2 support"
Good day, how do I add the-GlowStone support 1.7-1.11.2 versions protocolsupport not working. Thanks in advance.

[2017-01-09 13:15] gdude2002 commented on #411
I don't understand, are you looking for a build that supports multiple protocols?

[2017-01-09 13:20] Mepth commented on #411
Can you make GlowStone build which support 1.7-1.11.2 version?

[2017-01-09 13:22] gdude2002 commented on #411
I'll take that to mean what I asked.

Glowstone does not (nor does it plan to) support multiple major Minecraft protocol versions in the same build. It would take too much work, and encouraging users to use older versions of Minecraft only hurts the community (both the players and the developers).

If users don't like the new combat changes, change the combat timeout gamerule and have them install

[2017-01-09 13:22] #411 closed, assigned to nobody

[2017-01-09 13:24] thelex0 commented on #411
Hi! Сan you make GlowStone for multi protocols
https://www.spigotmc.org/resources/protocolsupport.7201/

[2017-01-09 13:25] gdude2002 commented on #411
If you want to use this plugin, you need to talk to the developer of the plugin. We will not be implementing `net.minecraft.server`.

[2017-01-09 13:28] thelex0 commented on #411
something else
Сan add in GlowStone API for packet sensitivity

[2017-01-09 13:30] gdude2002 commented on #411
I believe you can currently hook into it, but we don't have explicit support for it right now.

Related: #380

[2017-01-09 13:32] thelex0 commented on #411
how to make GlowStone stable at large number of players

[2017-01-09 13:34] gdude2002 commented on #411
It should be stable. If not, make another issue about performance issues.

This issue is derailing, so I'm going to lock it. Make another if you have a different problem.

[2017-01-09 13:37] Mepth opened #412 "Error on download libs."
WTF

[code]

---

*Edited by `gdude2002` for formatting*

[2017-01-09 13:41] thelex0 commented on #412
++

[2017-01-09 13:41] gdude2002 commented on #412
This is a known issue. We're having some problems with our Maven server at the moment.

If you restart Glowstone, you should be fine. If there are plugins that require these libraries, then you can download them from Maven Central.

[2017-01-09 13:44] gdude2002 commented on #412
@thelex337 Please use the Reactions feature at the top right of the ticket instead of commenting with `++` or `+1`

[2017-01-09 13:46] thelex0 commented on #412
why when I download source code
dont compile

[2017-01-09 13:48] gdude2002 commented on #412
@thelex337 Please make a new ticket if you're having a different issue.

That said, it should compile just fine - the latest commit [builds just fine for us](http://bamboo.gserv.me/browse/GSPP-SRV/latest)

[2017-01-09 13:58] Mepth commented on #412
[code]

---

*Edited by `gdude2002` for formatting*

[2017-01-09 14:01] gdude2002 commented on #412
You should comment on #256 about that, particularly whether it actually causes you any problems.

My patience is beginning to wear a little. Please search issues for problems you have that may already be being discussed, and keep each issue separate.

[2017-01-09 14:15] Mepth opened #413 "Вы даун"
Вы даун

[2017-01-09 14:18] gdude2002 commented on #413
This roughly translates to "you down".

This isn't an issue. It's two words. Please start behaving or I will be forced to remove you from the repository.

[2017-01-09 14:18] #413 closed, assigned to nobody

[2017-01-09 17:07] gdude2002 commented on #412
@mastercoms has discovered the root problem of the library download issue. We're looking into the best way around it now.

[2017-01-09 17:58] kamcio96 commented on #412
Uhhh, guys, how old are you?

@gdude2002 what about remove ssl and use separated host for libs? ```http://libs.glowstone.net/org/xerial/sqlite-jdbc/3.15.1/sqlite-jdbc-3.15.1.jar```

[2017-01-09 18:08] mastercoms commented on #412
Fixed

[2017-01-09 18:08] #412 closed, assigned to gdude2002, mastercoms

[2017-01-09 20:46] BeYkeRYkt commented on #413
These two words are insulting associated with Down's syndrome (For those who are not versed in the modern "Russian insults") on the similarity of "you're stupid." He's just a troll.

[2017-01-09 21:21] gdude2002 commented on #413
Huh, that's good to know. Thanks.

[2017-01-09 23:11] BSFishy commented on #256
@momothereal I just got this with the latest build of Glowstone. I don't even think I have any anvils... (not sure if that has anything to do with the actual error, but just thought I'd put that out there 😛 )

[2017-01-10 07:18] Paulomart commented on #256
@LousyLynx anvil is the format the save is in.

[2017-01-10 16:20] gdude2002 commented on #380
This has been brought up with the ProtocolSupport guys at https://github.com/ProtocolSupport/ProtocolSupport/issues/354.

[2017-01-10 22:44] BSFishy commented on #256
Oh 😛

[2017-01-10 22:56] BSFishy commented on #366
What could be done is benchmark code is native in the Glowstone code, in various places, to do some of the more one time things, or the things done less often, and when the results are gotten, they are uploaded to a server, as well as the server version and build, and a little bit of information about the computer it is running on. The users would obviously be able to opt out of this system. This

[2017-01-10 23:08] BSFishy commented on #338
I would like to help but am not sure what you mean by "Add permission level to configuration". What configuration, or do you mean to use the permission methods in `GlowCommandBlock`? Also, what are those supposed to do? Are they supposed to be the permissions required to open the command block or what?

[2017-01-10 23:13] aramperes commented on #338
@LousyLynx
The "permission level" limits the things an operator can do on the server. The levels are referenced here: https://minecraft.gamepedia.com/Server.properties#Minecraft_server_properties, in the `op-permission-level` row.
A permission level of 2 is required to open command blocks. The permission level has to be sent to the client using the Entity Status packet (see http://wiki.vg/Entities

[2017-01-10 23:19] mastercoms commented on #366
We already have metrics, but I guess we can add more recorded data. http://mcstats.org/plugin/Glowstone

[2017-01-11 13:32] alula opened #414 "Custom crafting recipes aren't working"
Registering craftings using Bukkit.addRecipe() doesn't work, but works fine on Spigot.

Glowstone build: `#301`

[2017-01-11 17:17] mastercoms commented on #414
What recipe did you register?

[2017-01-11 18:51] aramperes commented on #414
@gabixdev
Please include a code snippet of your plugin in order for us to debug this issue.

[2017-01-12 00:11] picknchew commented on #414
Can reproduce. Using the addRecipe method will register the recipe, however the item that it should craft will not appear in the result slot. Shift clicking the result slot will *sometimes* craft the item. Clicking the result slot makes the server think that the client sent an incorrect packet.

Basically, the client thinks the result slot is air. The server thinks the result slot is the result.

[2017-01-12 09:16] alula commented on #414
https://gist.github.com/gabixdev/392df453bf32b8656ee6bb87ab593004

[2017-01-13 15:22] kamcio96 commented on #414
@gabixdev Did you try without config?

[2017-01-13 19:43] alula commented on #414
@kamcio96 same behavior without config, it's client <-> server problem...

[2017-01-16 15:35] #414 closed, assigned to nobody

[2017-01-19 00:52] aramperes commented on #256
@LousyLynx Do you have a stacktrace for your error?
Perhaps the exception is caused by another block than liquid.

[2017-01-24 22:57] aramperes commented on #346
This feature has been added in #415.

[2017-01-24 22:57] #346 closed, assigned to nobody

[2017-01-26 01:57] alula opened #417 "Unimplemented BossBar API"
The Bukkit Bossbar API seems to not be implemented, calling addPlayer causes NullPointerException.

Build: 314 and earlier

[code]

[2017-01-29 19:20] aramperes commented on #417
Implemented in 97ae41bf29d6f549acd0a089343da5262d3a2335.

[2017-01-29 19:20] #417 closed, assigned to aramperes

[2017-01-29 21:30] aramperes commented on #398
Closing this as this feature has been implemented.

[2017-01-29 21:30] #398 closed, assigned to nobody

[2017-02-05 12:25] jawaw opened #420 "Glowstone support Multi-threads?"
Glowstone support Multi-threads? Paper and Glowstone ,I don't know the which one is faster.

[2017-02-05 12:42] mastercoms commented on #420
Are you asking if Glowstone uses multithreading? Or are you asking if Glowstone is thread safe (can be used by plugins in threads)?

[2017-02-05 12:47] jawaw commented on #420
I mean,does glowstone support load blocks and computing entities uses multithreading?

[2017-02-05 16:23] mastercoms commented on #420
Right now we don't have entity logic, but blocks do have a threaded pulse.

[2017-02-05 17:30] jawaw commented on #420
OK, I see. If Glowstone will only support for Vanilla Minecraft in the future?

[2017-02-05 17:33] gdude2002 commented on #420
We are aiming for feature parity with vanilla, but it's a slow process and everything needs to be done by hand.

[2017-02-10 21:40] aramperes commented on #380
It has been [confirmed ](https://github.com/ProtocolSupport/ProtocolSupport/issues/354#issuecomment-278909577) by ProtocolSupport's developer that Glowstone is now fully supported.

[2017-02-10 21:42] gdude2002 commented on #411
It has been [confirmed ](https://github.com/ProtocolSupport/ProtocolSupport/issues/354#issuecomment-278909577) by ProtocolSupport's developer that Glowstone is now fully supported. You should be able to use new versions with Glowstone.

[2017-02-10 22:56] #380 closed, assigned to mastercoms

[2017-02-12 15:01] qmnl opened #422 "Wrong structure generation"
Title: Jungle temple generated wrongly

Glowstone build: 2017.1.1.8-SNAPSHOT-"cd891fc"-MC1.11.2 (Implementing API version 1.11.2-R0.1-SNAPSHOT)

Jungle temples dont have walls:

![Imgur](http://i.imgur.com/GJEPmGW.png)
![Imgur](http://i.imgur.com/gNz0sii.png)

[Imgur](http://imgur.com/a/Q6Pg1)

I tried loading up a normal minecraft world with that seed, but the world looks completly different (bec

[2017-02-16 15:23] mastercoms commented on #422
I've investigated this problem, and it's quite strange as to why it occurs. Structure generation doesn't happen due to a lot of boolean mismatches, but the fact that chests spawn even though that code doesn't run is very weird.

[2017-02-17 15:06] #422 closed, assigned to nobody

[2017-02-17 15:06] mastercoms commented on #422
Well, that was annoying but also fun to fix.

[2017-02-17 15:10] mastercoms commented on #420
Discussion seems to be over, so closing.

[2017-02-17 15:10] #420 closed, assigned to nobody

[2017-02-17 15:16] qmnl commented on #422
Thank you for the quick support!

[2017-02-17 15:36] #369 closed, assigned to nobody

[2017-02-17 15:38] mastercoms commented on #422
No problem, and thanks for bringing this bug to our attention!

[2017-02-17 16:21] mastercoms commented on #182
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/aa26e04ff6403e5f50724a6a92c265b7e4b5d6e0.

[2017-02-17 16:21] #182 closed, assigned to mastercoms

[2017-02-18 04:46] mastercoms commented on #241
definitely still called. interact is for right clicks.

[2017-02-18 04:46] #241 closed, assigned to mastercoms

[2017-02-18 05:18] #212 closed, assigned to mastercoms

[2017-02-18 05:52] #348 closed, assigned to nobody

[2017-02-18 07:35] #292 closed, assigned to mastercoms

[2017-02-18 07:39] mastercoms commented on #351
Pretty sure this shouldn't occur. Reopen or comment if it does.

[2017-02-18 07:39] #351 closed, assigned to nobody

[2017-02-18 07:40] mastercoms commented on #256
Shouldn't occur anymore, but provide logs if you encounter it.

[2017-02-18 07:40] #256 closed, assigned to mastercoms

[2017-02-18 07:41] #392 closed, assigned to mastercoms, aramperes

[2017-02-25 22:21] MrPowerGamerBR opened #423 "Placing a block throws a NullPointerException"
**Glowstone build:** I'm using a compiled from source build, I can't download the latest build right now because I'm travelling, so... ```git reset --hard b5e0a6d9b589eb93c47a165b45d0a0b5c49be8de``` (Latest commit from this repo)

Placing a block throws an NullPointerException, tested in Survival and Creative. After relogging, the block goes away.

[code]

[2017-02-26 03:03] euisuny opened #424 "Forcing server gamemode doesn't work."
I tried to launch a Glowstone server in Creative mode by setting:
[code]
in config/glowstone.yml but it launches Glowstone in Survival mode.

[2017-02-26 07:37] aramperes commented on #424
Fixed in b02bddee12367f9e4a3db2ec343c0897b3989d9c.

[2017-02-26 07:37] #424 closed, assigned to aramperes

[2017-02-26 15:30] mastercoms opened #426 "Incorrect NBT Tile Entity IDs"
[code]

[2017-02-26 15:32] aramperes commented on #426
Relevant list of the new block entity IDs: http://minecraft.gamepedia.com/Chunk_format#Block_entity_format

[2017-02-26 16:00] MrPowerGamerBR commented on #423
Also happens with spawn eggs

[2017-02-26 16:19] #423 closed, assigned to nobody

[2017-02-27 09:29] adlradlr opened #427 "Fall damage and water interactions"
Glowstone build: 359

- Jumping into water from any height gives fall damage. Jumping from a block into an adjacent water block (1 deep) at the same level on the y axis gives 1/2 heart of fall damage, the higher the fall, the more fall damage is given. (Given enough height, this is also the case when walking off, instead of jumping)

- Jumping from a block into a deeper body of water, works as exp

[2017-02-27 10:02] adlradlr commented on #427
Not sure if related or Glowstone feature, but if I don't respawn immediately I get disconnected ~20s after dying.

[2017-02-27 10:35] aramperes commented on #427
Hey, thanks for the report.

Would you mind reporting the death/respawn bug in another issue? It would make it easier to organize our workflow to fix them separately.

[2017-02-27 11:22] adlradlr opened #428 "Water and Lava Buckets behaviour / No lava damage"
Glowstone build: #359

After placing a lava bucket onto the ground, it briefly flashes in the position placed, but then disappears, however I now have an empty Bucket entity in my inventory, which can be placed again to place lava, which remains and behaves normally.
- This empty bucket entity after the first use can be thrown and a full lava bucket appears, and when picked up is also full.
- This

[2017-02-27 11:39] adlradlr opened #429 "Death screen timeout"
Glowstone build: 359

Not respawning ~20s after dying results in a timeout/disconnect.
[code]
Joining the server again brings me back to the death screen and gives an error.

![2017-02-27_11 31 33](https://cloud.githubusercontent.com/assets/26056727/23360014/f8275358-fce0-11e6-8167-37fe7f6d6ae9.png)
[code]
If I still don't respawn after ~20s of re-joining the server for the first time results in a

[2017-02-27 11:39] MrPowerGamerBR commented on #429
Can confirm this issue

[2017-02-27 12:54] adlradlr opened #430 "World Generation"
Glowstone build 359

level seed used = '-7955155822622757578'

I got this seed from a website claiming that it spawns you near a desert temple and village, however  Glowstone wasn't generating the same world using the same seed, as well as having vastly varying spawn points every time.

After generating the world a couple of times using Glowstone, I confirmed that it wasn't the same world (temple/

[2017-02-27 12:57] gdude2002 commented on #430
Our world generator doesn't match vanilla - the main reason for this is, well, it's almost impossible to do in a clean-room implementation. We can't use any Mojang code, and we can't use their source for inspiration - we do try to generate a vanilla-like world, but parity won't be possible.

[2017-02-27 12:59] aramperes commented on #430
Hey, thanks for the bug report.

Unfortunately, since Glowstone consists of a complete rewrite, it is practically impossible to follow the same Random chain. A fix is therefore highly improbable, so I am closing this issue.

[2017-02-27 12:59] #430 closed, assigned to nobody

[2017-02-27 13:45] aramperes commented on #429
I have fixed multiple issues relating to death in 0f4057bc52a9853ee7a45bbb1bc6f9300122ec04, including the error message. Unfortunately, I have not been able to reproduce the disconnection issue. Could you please test it using the latest build?

[2017-02-27 14:02] #427 closed, assigned to mastercoms

[2017-02-27 14:03] mastercoms commented on #427
I think this was fixed in https://github.com/GlowstoneMC/Glowstone/commit/8a57f8a2b63767925ccd85178cec0631c20bf607, could you test it out?

[2017-02-27 14:03] adlradlr commented on #429
Glowstone build #360

Disconnect is still present. The error message on rejoin has gone, but it no longer forces spawn like it did after the second rejoin.
[code]

[2017-02-27 14:05] mastercoms commented on #429
Maybe the vanilla client doesn't send packets when dead, so Glowstone thinks it has disconnected? Maybe we should add a isDead check in the lag disconnection loop. However, that would introduce problems when people would actually disconnect while dead.

[2017-02-27 14:15] adlradlr commented on #427
Glowstone build #361

I can no longer reproduce any of the issues now.

[2017-02-27 14:31] AuroraLS3 opened #431 "Server IP null during loading of plugins"
Title: Server IP is null while loading plugins

Glowstone build: Glowstone version 2017.2.0.20-SNAPSHOT-"8a57f8a"-MC1.11.2

I decided to test if my Bukkit plugins work on Glowstone, and it appears that IP is null during boot when plugins are loading

[code]

---
Error thrown on console
[code]
Lines 143 to 145 in Plan.java (My plugin)
[code]

[2017-02-27 14:33] gdude2002 commented on #431
I'm guessing Craftbukkit just returns the empty string here if no IP is set in the config?

[2017-02-27 14:34] AuroraLS3 commented on #431
Most likely, I've got server-ip=localhost in server.properties though

[2017-02-27 14:36] gdude2002 commented on #431
Glowstone doesn't use `server.properties`; did you mean the `.yml` file in `config/`?

[2017-02-27 14:38] AuroraLS3 commented on #431
Ah I just copied my other spigot folder and put glowstone on it, but it appears that the glowstone.yml reads:
[code]

[2017-02-27 14:41] gdude2002 commented on #431
Alright, well this is probably a quick fix, but I'm unable to do any testing right now as I'm at work, so I'm going to delegate it to @momothereal

[2017-02-27 14:55] adlradlr opened #432 "Fall Damage Calculations"
Glowstone build 361

Fall damage taken differs from vanilla under the same conditions.

![untitled](https://cloud.githubusercontent.com/assets/26056727/23365857/8ee5a676-fcfc-11e6-828c-5dc977237c71.png)

After doing some testing it seems that only fallen damage taken when jumping differs from vanilla. I only went up to y+10 as it became linear at that point and should be easy to extrapolate.

[2017-02-27 14:58] mastercoms commented on #431
Yes, Glowstone migrates settings from `bukkit.yml` and `server.properties`.

I'll make a test plugin to see CraftBukkit behavior on this.

[2017-02-27 14:58] AuroraLS3 opened #433 "tellraw failed to parse JSON"
Glowstone build: 8a57f8a or 2017.2.0.20-SNAPSHOT-"8a57f8a"-MC1.11.2

JSON:
[code]
Valid according to https://jsonformatter.curiousconcept.com/
In one line:
`["",{"text":"Click Me","underlined":true,"clickEvent":{"action":"open_url","value":"http://localhost:8804/bAkEd/player/Rsl1122"}}]`

I was testing whether or not my plugins work on glowstone, and few commands are using tellraw to give clickabl

[2017-02-27 15:00] gdude2002 commented on #433
Might be related to #406

[2017-02-27 15:00] mastercoms commented on #432
Thank you for this well formatted issue! I love the table!

About this difference, vanilla does not measure displacement but total distance traveled in the air (so entities that fly up and down on a leash will have massive fall damage). But I think that it ignores player jumping going up. I'll see what I can do.

[2017-02-27 16:06] adlradlr opened #434 "Crafting table/Hot bar"
Glowstone build 361

The right-most slot on the hot bar turns items invisible when looking at the Crafting Table UI. It only seems to be this slot as well as only on the crafting table, other blocks with UIs seem to be fine.

![2017-02-27_15 57 22](https://cloud.githubusercontent.com/assets/26056727/23368560/2bb2b7ba-fd06-11e6-92f6-dc007e5f4faa.png)

![2017-02-27_15 57 29](https://cloud.githubuser

[2017-02-27 16:15] AuroraLS3 opened #435 "Fire is not affected by rain"
Title: Fire is not affected by rain

Glowstone build: 8a57f8a

After setting Grass and Tallgrass on fire they stayed lit (while tunderstorm was raging).
http://puu.sh/umjzl/732b4553b8.png

Might be related to #130

[2017-02-27 16:57] adlradlr opened #436 "Cave Generation"
Glowstone build: 8a57f8a *

![2017-02-27_18 03 00](https://cloud.githubusercontent.com/assets/26056727/23370787/bd1fd8ac-fd0d-11e6-8400-623ee59dc649.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42494998-lack-of-cave-generation?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept

[2017-02-27 16:59] AuroraLS3 commented on #436
Glowstone build: 8a57f8a

[2017-02-27 17:03] adlradlr opened #437 "Potion effects not applied"
Glowstone build 361

No effects are applied after the potion consume animation.

![2017-02-27_17 01 14](https://cloud.githubusercontent.com/assets/26056727/23371030/929c0cf8-fd0e-11e6-8d5d-0f99219f38ac.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42495215-potion-effects-not-applied?utm_campaign=plugin&utm_content=tracker%2F1

[2017-02-27 17:08] adlradlr commented on #370
Glowstone build #361

Also possible to stack pressure plates and remove the blocks beneath them without breaking the pressure plates. (Pressure plates don't click/produce output)

![2017-02-27_17 07 16](https://cloud.githubusercontent.com/assets/26056727/23371197/33ca3f00-fd0f-11e6-96e1-5d9cc379046c.png)

[2017-02-27 17:11] gdude2002 commented on #437
Pretty sure that the effects themselves aren't implemented either.

[2017-02-27 17:35] adlradlr commented on #435
Glowstone build 361

Also appears that fire spread isn't working correctly

![2017-02-27_17 32 44](https://cloud.githubusercontent.com/assets/26056727/23372331/0af000b6-fd13-11e6-996c-ba0d1bb5c902.png)

[2017-02-27 18:42] mastercoms commented on #435
Hm, fire spread should be working. Maybe some upgrades to our tick system broke it.

[2017-02-27 18:43] mastercoms commented on #434
I think this has something to do with the offhand slot.

[2017-02-28 06:18] aramperes commented on #431
This is potentially fixed in 5739b7b688de3875089331aa0e65750fa147b62c, please mind testing it and tell us the results.

[2017-02-28 07:01] AuroraLS3 commented on #431
Version 9e0e517 did not throw NPE when loading the plugin.

[2017-02-28 07:01] #431 closed, assigned to aramperes

[2017-02-28 11:11] adlradlr opened #438 "TNT Knockback"
Glowstone build 361

- TNT still knocks you back much further than vanilla. #97 #396

- TNT knockback does not affect the player if they are flying in Creative mode in vanilla, knockback still applied regardless if flying or not in Glowstone.

![2017-02-28_11 03 33](https://cloud.githubusercontent.com/assets/26056727/23403121/99126b52-fda6-11e6-82d5-6b42b2d0547f.png)

![2017-02-28_11 10 58](https:

[2017-02-28 11:50] mastercoms commented on #438
I've been wrestling with this one for a while. I'm still not sure if the explosion packet tells the client to be knocked back or not.

[2017-02-28 16:16] #438 closed, assigned to nobody

[2017-03-04 11:07] jawaw opened #440 "Furnace not work"
Glowstone's bug. Furnace not work.

[2017-03-04 15:20] mastercoms commented on #440
Hm, perhaps this has something to do with it not being updated for a newer tick system? Though last time I checked, it was working. I'll have to see what we changed that broke it.

[2017-03-06 10:52] DenAbr opened #441 "Packet API"
Are there any plans for implementing api for interacting with packet(eg. interception of packet sending/receiving)?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42722196-packet-api?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2017-03-06 10:55] gdude2002 commented on #441
This is already possible and has been done successfully by ProtocolSupport.

https://github.com/ProtocolSupport/ProtocolSupport/tree/master/src/protocolsupport/zplatform/impl/glowstone

[2017-03-06 11:01] DenAbr commented on #441
I'm interested in some built-in feature without injecting any stuff

[2017-03-06 11:05] gdude2002 commented on #441
I'm not really sure what such a feature would provide over the usual injection techniques.

Do you have some specific use-case in mind?

[2017-03-06 11:10] DenAbr commented on #441
I'm just talking about packet send/receive events([like in this branch](https://github.com/GlowstoneMC/Glowstone/tree/packets)) or ability to register (sync/async)packet listeners(like in ProtocolLib)

[2017-03-06 11:12] gdude2002 commented on #441
Alright, well I'll assign this to @mastercoms for now and he'll get back to you on it when he can, but I don't anticipate there being much extra on top of Netty.

[2017-03-06 11:51] DenAbr commented on #441
Well, I tried to implement this feature as how I imagine it

https://github.com/DenAbr/Glowstone/commit/b9dfda9e7f3692c06c978b7703e0b7ce4ad2ff02

[2017-03-06 11:59] mastercoms commented on #441
It's a great idea, but it's not good for us to just implement it right away, as that was [why](https://github.com/GlowstoneMC/Glowstone/pull/352#issuecomment-266331081) the packets branch PR was closed.

It would be better to start a discussion for designing and planning the packet API on the [forums](https://forums.glowstone.net), and continue from there.

[2017-03-06 12:22] DenAbr commented on #441
It's been a few months but there is no any progress...

[2017-03-06 13:06] mastercoms commented on #441
Yes, unfortunately, in the time that we've had, we've found other things to do that to us felt more valuable for us to do in that time than the packet API. Though, a packet API would be a very nice addition, and perhaps you could get the discussion going on our forums and if you're interested enough, present a design for a packet API and perhaps continue your fork with what you'd like to see in a

[2017-03-06 20:28] mastercoms commented on #441
@DenAbr If my comments make you think that I'm not interested in having a packet API, please understand that I am completely supportive of a packet API. But also understand we have only have 1 or 2 active devs working on this project at any given time, and it's extremely hard for me at least to do every single feature or fix that I want to do, so I have to put off some things to later. It's unfort

[2017-03-07 09:27] DenAbr commented on #441
I understand this and this is good that you support packet api. It gives me hope

[2017-03-07 09:35] DenAbr opened #442 "Unfinalizing of some classes"
I really don't understand why bunch of classes in net.glowstone.entity package are final.
I'm working on HolographicDisplays port and own NPC plugin and I really need to create classes extending EntityBoundingBox, GlowItem, etc. but these classes are final.

[2017-03-07 11:54] kamcio96 commented on #441
@DenAbr Is it good api for you? 😉
[code]
log:
[code]

[2017-03-07 13:05] DenAbr commented on #441
This is good but this API also needs async events

[2017-03-07 15:59] mastercoms commented on #442
Yeah I don't know why they're final either. I'll change them as soon as I finish up with my gpgpu work for the day.

[2017-03-07 16:05] DenAbr commented on #442
I think GlowSession should be unfinalized too

[2017-03-08 01:02] Pokechu22 opened #443 "Stairs and slabs always place on the bottom half of the block"
Title: **Stairs and slabs always place on the bottom half of the block**

Glowstone build: Manually compiled based off of 9e0e517c9051598b90de9a66ad443b759381edd7

Stairs and slabs seem to always place on the lower half of the block, even if the upper half of the block is clicked.  This looks like a recent regression, as it is clear that there _is_ code related to upside down slabs; it just never

[2017-03-08 13:37] alula commented on #441
Good API, what do you think about implementing it in official Bukkit API?

[2017-03-08 14:22] kamcio96 commented on #441
I'm planing add it in glowstone, not in bukkit/glowkit :wink:
"Unofficial packet events" :smile:

[2017-03-08 19:03] mastercoms commented on #443
Thanks for the detailed report. I'll fix this soon.

[2017-03-08 19:32] mastercoms commented on #442
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/7b708b2127d180ca18ecec0a4d041a22cf45346d

[2017-03-08 19:32] #442 closed, assigned to mastercoms

[2017-03-09 13:52] mastercoms commented on #443
Should the protocol documentation be updated, then? http://wiki.vg/Protocol#Player_Block_Placement

[2017-03-09 13:57] mastercoms commented on #443
I think it was changed the other way around: 0 - 15 to 0.0 - 1.0.

[2017-03-09 13:59] mastercoms commented on #443
Oh, I just misread everything entirely. Please shame me forever.

[2017-03-09 14:00] #443 closed, assigned to mastercoms

[2017-03-09 14:09] #432 closed, assigned to nobody

[2017-03-09 14:16] Pokechu22 commented on #443
That fixes it for slabs, but it's still present for stairs (with more or less the same code).

[2017-03-09 14:20] mastercoms commented on #443
I'm really sorry about these mistakes, I didn't sleep very well last night.

[2017-03-09 14:21] mastercoms commented on #443
Alright, should be fixed now.

[2017-03-09 15:10] mastercoms commented on #428
Figured out that problem here. The water bucket is used twice, once to place the water, and then to pick it back up. There's some duplication in method usage.

You can test this by placing the water, but rapidly looking away from it. This prevents you from picking it up again.

[2017-03-09 15:21] Pokechu22 commented on #443
No problem, and good morning!

I probably should have checked more completely before creating the issue, but it looks like there's one more block that's effected by this bug: trapdoors (which currently compare y to `7.5`).  I'm not sure if that's the right comparison height (it probably should have been `8` like the rest of the blocks before the 1.11 changes, so `.5` now), but in any case that als

[2017-03-09 15:23] mastercoms commented on #443
Already fixed that one in https://github.com/GlowstoneMC/Glowstone/commit/789da9e18e03f641c8ea8cef9bed41a50e9834a4.

And thank you. Good morning to you too!

[2017-03-09 16:32] #428 closed, assigned to nobody

[2017-03-09 19:10] mastercoms commented on #426
Apparently they're `minecraft:id`, so `minecraft:chest`, etc.

[2017-03-09 19:12] mastercoms commented on #436
The generator should carve out caves in the area using perlin worms: http://libnoise.sourceforge.net/examples/worms/index.html

[2017-03-09 19:15] #358 closed, assigned to nobody

[2017-03-09 19:20] mastercoms commented on #199
Better version handling was added in https://github.com/GlowstoneMC/Glowstone/commit/92d688e46cee120abfc45d028677a8b188767700. Perhaps this fixed the issue? I haven't seen this problem for a while.

[2017-03-10 13:06] #426 closed, assigned to aramperes

[2017-03-10 15:37] mastercoms commented on #434
Vanilla is consistent with Glowstone with filling inventory slots. It starts with the right most slot in each row, then goes to the left.

[2017-03-10 16:02] mastercoms commented on #434
Confirmed to have to do with the offhand slot. If you have an item in the offhand slot, it will appear in the right most slot in the crafting table inventory.

[2017-03-10 18:58] mastercoms commented on #434
Is there any reason for Glowstone to separate armor and offhand from the rest of the player inventory?

[2017-03-13 14:44] mastercoms commented on #434
Some progress has been made in https://github.com/GlowstoneMC/Glowstone/commit/daea24d2021e108d8656bfe719a25f6810b03d04.

[2017-03-14 14:01] #434 closed, assigned to nobody

[2017-03-15 03:16] ghost opened #447 "Entity physics overpredicts collision target"
The console seems to get spammed when the player doesn't have 5 blocks under him or when he is not standing on 5 blocks, and sometimes the player is getting kicked. For example, if the player is standing on 4 blocks (or below that), the console is getting spammed with the message "(Player) moved too quickly!" and the player is getting kicked sometimes.

This happened on Glowstone build [#398](http

[2017-03-15 15:36] mastercoms commented on #447
Does this happen on [#365](https://bamboo.gserv.me/browse/GSPP-SRV-365)? (before [entity physics](https://github.com/GlowstoneMC/Glowstone/commit/719a9396a558ab14eb2a49ae46084f5c8f1ba495#diff-1ee1f52992d31fbb1d1a66eebbf3c9cf))

[2017-03-15 15:44] ghost commented on #447
No, the console is not getting spammed at all on [#365](https://bamboo.gserv.me/browse/GSPP-SRV-365), not even when standing on one block.

[2017-03-15 15:46] mastercoms commented on #447
Does it happen on [#366](https://bamboo.gserv.me/browse/GSPP-SRV-366) (with entity physics)?

[2017-03-15 15:55] ghost commented on #447
Yes, this is happening on [#366](https://bamboo.gserv.me/browse/GSPP-SRV-366).

[2017-03-15 15:56] mastercoms commented on #447
Ok, I'll see what code path introduced in that commit caused this regression.

[2017-03-16 19:12] mastercoms commented on #447
Entity physics is the problem. I am working on the [`physics-staging`](https://github.com/GlowstoneMC/Glowstone/tree/physics-staging) branch to fix this issue and also to add more accurate physics simulation.

[2017-03-16 19:13] mastercoms commented on #440
Yep, it just doesn't register a tick rate, which is required for the new tick system. I'll fix that pretty soon.

[2017-03-20 14:58] mastercoms commented on #447
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/44ba17b6ce3f50a9f072cc038e95d4b01fa34992.

[2017-03-20 14:58] #447 closed, assigned to mastercoms

[2017-03-24 05:30] DenAbr opened #448 "Incorrect hit knockback velocity"
[Video](https://youtu.be/_J44QsmVt3c)

[2017-03-24 12:06] aramperes commented on #429
Cause appears to be that the "Keep Alive" packet is not sent by the server when the player is dead. That packet (0x1F) should be sent frequently. The client will disconnect itself if the server has not sent a K-A in 20 seconds.

[2017-03-24 22:18] gdude2002 commented on #448
Thanks for the report!

Wow, that's.. pretty wonky.

[2017-03-25 16:26] #440 closed, assigned to mastercoms

[2017-03-27 17:49] gdude2002 opened #449 "Fluid flowing issues"
Screenshots are all taken from the test server.

Water flow issues
===========

![](https://cdn.discordapp.com/attachments/295314787787603968/295973402500399104/unknown.png)
![](https://cdn.discordapp.com/attachments/295314787787603968/295975060815216640/unknown.png)

Lava spread/solidify issues
=================

![](https://cdn.discordapp.com/attachments/295314787787603968/295975484964077568/unk

[2017-03-29 22:11] BSFishy commented on #199
I just got this issue again 😝. Here are the errors(There are the two):

    17:02:33 [SEVERE] Error while loading chunk (-7,8)
    java.io.IOException: Invalid length: 136138398 > 4096
            at net.glowstone.io.anvil.RegionFile.getChunkDataInputStream(RegionFile.java:208)
            at net.glowstone.io.anvil.AnvilChunkIoService.read(AnvilChunkIoService.java:67)
            at net.glowstone.

[2017-03-30 20:04] mastercoms opened #450 "Enchantment books fail to combine on first try"
Solely trying to combine enchantment books without renaming will fail on the first try, due to client and server item slot conflict.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45108953-enchantment-books-fail-to-combine-on-first-try?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github)** We acce

[2017-03-31 00:51] mastercoms commented on #448
I haven't been able to reproduce this. @DenAbr could you confirm that the bug was fixed?

[2017-03-31 01:17] DenAbr commented on #448
Checked with the latest build. Still not fixed.

[2017-03-31 01:35] mastercoms commented on #448
Is this a player or human entity?

[2017-03-31 01:36] DenAbr commented on #448
Real player

[2017-03-31 01:38] DenAbr commented on #448
It also happens with mobs

[2017-03-31 01:41] mastercoms commented on #448
Does the direction change if you are in a different x/z sign? For example, in the video you could have been in -220x and 200z, but does the direction of knockback change if you were to go to 220x and -200z, etc?

[2017-03-31 01:59] DenAbr commented on #448
No, it doesn't. When I was checking this I've found 2 new issues: sometimes player respawn packet didn't send and head/body rotation is confused(you can see this in video)

[2017-03-31 15:15] mastercoms commented on #448
Physics/knockback issues should be fixed in https://github.com/GlowstoneMC/Glowstone/commit/03d9e543a4e7b6e13671ab77680fae106af36be5.

[2017-04-01 08:11] DenAbr commented on #448
[Still not fixed](https://youtu.be/kSxaF8pQIv4)

[2017-04-01 08:55] mastercoms commented on #448
Ok, can you test with TNT knockback? Maybe this is an issue with head rotation.

[2017-04-01 09:06] DenAbr commented on #448
TNT knockback is similar. Damage radius equals block break radius and TNT always kills player when he is inside damage area.

[2017-04-01 09:06] mastercoms commented on #448
Can you test it in creative mode so you don't die?

[2017-04-01 10:25] DenAbr commented on #448
[More interesting behaviour. ](https://youtu.be/qn5d4-WXuAE)

[2017-04-01 12:24] gdude2002 commented on #396
This story should be prioritised for April. I suggest breaking it down into smaller tasks and adding them to [the Intelligence Update board](https://github.com/GlowstoneMC/Glowstone/projects/3)

[2017-04-01 20:16] BSFishy commented on #359
There is a way to make checkstyle require most methods and classes to have a Javadoc. Of course, this is very customizable so you can set whether you want it to only happen with public methods, classes, and interfaces, etc. This would be useful if anyone wanted to take the time to add Javadocs to everything, but personally, I would not want to take on such a task 😝

[2017-04-01 20:52] BSFishy opened #451 "Custom libraries support"
So I am working on a plugin, and notice that a few libraries are added upon starting the server. Since it is obvious that you cannot contain **everything** in your own code, I think it would be a nice feature if you had the choice of putting some maven packages in your plugin.yml or some other file. The server would then download those packages, put them into the libs folder, and add the to the cl

[2017-04-01 20:54] gdude2002 commented on #451
This was actually the original intention for this feature. I'm not sure if the plans changed, though.

[2017-04-01 21:52] mastercoms commented on #451
Yeah that feature is still pending.

[2017-04-01 21:52] mastercoms commented on #359
We don't want to require Javadocs.

[2017-04-01 23:36] BSFishy commented on #359
Just throwing that out there.

[2017-04-05 02:10] aramperes commented on #441
What I would suggest is to get ProtocolLib working on Glowstone. A brand new API would be cool, but instead of "reinventing the wheel", we could port it.

Also, many plugins already use ProtocolLib, and developers have gotten used to its API. Designing a new one would be kind-of pointless in my opinion.

ProtocolLib repo: https://github.com/aadnk/ProtocolLib

[2017-04-05 05:05] DenAbr commented on #441
Working ProtocolLib would be great thing.

[2017-04-05 10:15] gdude2002 commented on #441
If we're interested in this, maybe we could contact the developer of ProtocolLib and ask if we can help them add Glowstone support?

[2017-04-05 19:37] gdude2002 commented on #441
Feel free to add reactions to https://github.com/dmulloy2/ProtocolLib/issues/308 if you like

[2017-04-13 07:37] satoshinm commented on #286
Netty has since updated to 4.1.9 (10-Mar-2017), I am using it in another project seems stable, is this still a problem with the latest version?

[2017-04-13 13:34] mastercoms commented on #286
Yes, this is still a problem with 4.1.9.Final.

[2017-04-13 15:22] mastercoms commented on #286
Closed in https://github.com/GlowstoneMC/Glowstone/commit/1999ea564596cd8c2d16ab46c21b93762541f228.

[2017-04-14 18:37] euisuny opened #452 "Players can't fly"
I've set
allow-flight: true
in glowstone.yml, but players can't fly in the Glowstone server.

[2017-04-14 18:41] aramperes commented on #452
This is expected behavior. From the Minecraft wiki:

This configuration entry will only allow modded clients to fly in survival mode (when turned off, players flying in survival will be kicked after 5 seconds). This does not affect vanilla clients.

If you want vanilla survival clients to fly, you will need to use plugins such as Essentials. (`/fly` command)

[2017-04-14 18:41] #452 closed, assigned to nobody

[2017-04-14 18:42] euisuny commented on #452
I have the server on Creative mode, are users still not allowed to fly?

[2017-04-14 18:43] mastercoms commented on #452
You don't need `allow-flight` for creative mode. How are your players trying to fly? Double tapping your jump button should work.

[2017-04-14 18:47] euisuny commented on #452
Double tapping the jump button doesn't allow flight for all of my players. Some of my players could fly while others couldn't.

[2017-04-14 18:49] mastercoms commented on #452
How did you obtain the world for your server? Was it generated by Glowstone, or imported from vanilla?

[2017-04-14 18:50] euisuny commented on #452
It was generated by Glowstone.

[2017-04-14 18:52] mastercoms commented on #452
Ok, could you import your world to Minecraft vanilla's server and see how people can fly there?

[2017-04-14 18:53] mastercoms commented on #452
Just rename the `worlds` folder to `world` and move it to the Minecraft server folder.

[2017-04-14 18:54] mastercoms commented on #452
Sorry, that's incorrect, copy the `world` folder inside the `worlds` folder to the Minecraft server folder.

[2017-04-14 19:47] euisuny commented on #452
I reset all of my configurations and restarted the server and it fixed the problem. Thanks!

[2017-04-14 19:53] mastercoms commented on #452
Glad you fixed the issue!

[2017-04-15 05:05] satoshinm opened #453 "Entity#remove removes entity on server, but does not notify client"
When an `Entity`'s `.remove()` method is called, the entity is removed from the perspective of the server, but it persists on the client as a frozen entity.

Client attempts to attack log the message "tried to attack an entity that does not exist". Relogging clears the entity from the client. My guess is there is a packet missing from Glowstone to tell the client to delete the entity.

Glowstone b

[2017-04-15 05:11] satoshinm opened #454 "Entity#setGravity(false) leaves gravity enabled"
When `.setGravity(false)` is called on an `Entity`, physics are supposed to be disabled allowing the entity to float mid-air, but instead the call appears to have no effect and entities still fall to the ground.

Looking at the code, https://github.com/GlowstoneMC/Glowstone/blob/47b0e0b699d607f9d1d196a1aa9897d055928aa9/src/main/java/net/glowstone/entity/GlowEntity.java#L1056 setGravity sets `this.

[2017-04-15 09:23] VaiTon commented on #454
Not all physics, just gravity, so that entities can be still pushed (TNT, other entities, damage, water, etc...)

[Here](http://gph.is/2oxmkTu) is an example
So we should modify only these two lines ([1](https://github.com/GlowstoneMC/Glowstone/blob/47b0e0b699d607f9d1d196a1aa9897d055928aa9/src/main/java/net/glowstone/entity/GlowEntity.java#L720) , [2](https://github.com/GlowstoneMC/Glowstone/blob/

[2017-04-15 11:42] mastercoms commented on #454
Yep, I forgot about that method.

[2017-04-15 14:04] aramperes commented on #453
Does relogging make the entity disappear for the client?

[2017-04-15 14:10] mastercoms commented on #453
From the original post:

[2017-04-15 14:11] aramperes commented on #453
Oh, whoops! 😁

[2017-04-15 16:07] aramperes commented on #453
Can you test if this still happens with 6e38964?

[2017-04-15 16:53] aramperes opened #455 "Exception when generating world, invalid data value"
Glowstone build: `#445`

When generating the world, this exception was thrown at me:

[code]

I was using the default world generator (no GPU).

[2017-04-15 16:57] mastercoms commented on #455
By the way, there is no GPU world gen. There is only an OpenCL API in Glowstone now that the server and plugins can use.

[2017-04-15 16:57] satoshinm commented on #453
Fixed with https://github.com/GlowstoneMC/Glowstone/commit/6e389649b9fc046e9f5ff18bf25afbc11471e429! (build 445 / version 2017.4.0.10) The entity is now deleted on the client. Thank you

[2017-04-15 16:57] #453 closed, assigned to nobody

[2017-04-15 16:58] mastercoms commented on #455
It seems like this issue is caused by water flowing into another chunk.

[2017-04-16 15:28] mastercoms commented on #286
Reopening because 199ea5 was reverted due to some regressions in https://github.com/GlowstoneMC/Glowstone/commit/73228f17dd79f8141ea731b5599f64d5a64cbe65.

[2017-04-17 07:36] VaiTon commented on #455
Is the pulse method called during the world generation?

[2017-04-17 15:17] mastercoms commented on #397
https://github.com/GlowstoneMC/Glowstone/commit/5ca2234d50b60b441e3882c0508247188692a07f
https://github.com/GlowstoneMC/Glowstone/commit/a65ef5d399b967ca3617f7e8fcef463196a9ead2

I've tried to induce this bug after these changes, but I could not. Perhaps it is fixed?

[2017-04-17 15:17] #397 closed, assigned to nobody

[2017-04-19 07:06] satoshinm opened #456 "EntityDeathEvent's getLastDamageCause() is null"
When an entity is killed, the `EntityDeathEvent` event fires, but `event.getLastDamageCause()` returns null (instead of the `EntityDamageEvent`), so you can't see the reason for an entity's death.

Glowstone 444

[2017-04-20 01:45] mghost99 opened #457 "Cannot exit fly and other world issues"
Hello i am having some issues already unfortunately.. I just started using this today and i cannot seem to fly without getting stuck in the air. I also have a plugin that cannot register PlayerDeathEvent (i have source to it so if i need, i'll fix it). Other than that once i'm flying, i cannot exit fly and i tend to fly up into the air? Mobs/Animals do not move but they continuously look at me.. T

[2017-04-20 01:58] mastercoms commented on #457
Try removing playerdata from the world folder to another folder fix the flying problem. If this works, it would be awesome if you could send us the playerdata so we can investigate this issue.

What is the error for registering PlayerDeathEvent? And what do you mean by registering it?

There is no mob pathfinding yet so mobs won't move. But that is being worked on this month.

What is your start s

[2017-04-20 01:58] katlyn commented on #457
~~The flying thing may be a new issue. However, mob AI is not completely implemented yet, but is in the works. See #396 for progress on this.~~ mastercoms Commented while I was writing.

[2017-04-20 01:59] mghost99 commented on #457
Ok thanks!!

[2017-04-20 03:31] mghost99 commented on #457
@mastercoms Removing playerdata works. The sluggish part i'm not sure what's causing it. Locations update just fine tho. And the plugins ProtocolLib and SilkSpawners fail to load but WorldEdit will not allow tool brushes.

And for my specs (if that's what you mean) Intel Core i7 2.4GHz, 16GB RAM, 4GB Video Memory (Intel HD 4600 + nVidia GeForce 740M) and i run at almost 300 FPS on Minecraft.

For

[2017-04-20 10:53] mastercoms commented on #457
ProtocolLib and SilkSpawners use internal Minecraft code which isn't in Glowstone, so that's why they don't work. The ProtocolLib is investigating Glowstone support, but for SilkSpawners, I would contact the developer and see if they can support Glowstone. Some WorldEdit features are not available when the server does not have internal Minecraft code. Maybe see if the WorldEdit developer can add s

[2017-04-20 12:47] ghost opened #458 "List of found bugs in system. Suvival Based."
Here is a short list of bugs I have found so far. Also technical suggestions based on YouTube Channels about oddities in Minecraft.

## Bugs
- [x] Hostile Mobs dont  move or attack
- [x] Endermen dont faze in and out from one spot to another.
- [x] endermen dont appear in the end
- [x] Hostiles dont appear at all naturally.
- [x] Creepers dont explode
- [x] Fire does not work even with permissions

[2017-04-20 12:55] gdude2002 commented on #458
Thanks for the contribution!

I've ticked off the stuff we already know about in your ticket. I'll create a set of tickets that encapsulate your other reported issues, so that we can keep track of them, and use this ticket as a story.

Please note that Glowstone aims to match the behaviour of vanilla Minecraft, and so the following suggestions don't really make sense.

[2017-04-20 12:56] gdude2002 opened #459 "[#458] Fire does not work"
This issue has been posted to separate the following ticket into smaller issues: #458

[2017-04-20 12:57] gdude2002 opened #460 "[#458] Server places you above the map when respawning"
This issue has been posted to separate the following ticket into smaller issues: #458

[2017-04-20 12:57] gdude2002 opened #461 "[#458] Skull orientation is ignored on placement"
This issue has been posted to separate the following ticket into smaller issues: #458

[2017-04-20 12:58] gdude2002 opened #462 "[#458] Dispensers don't apply armour to nearby players"
This issue has been posted to separate the following ticket into smaller issues: #458

[2017-04-20 16:45] Acyric opened #463 "Make A god apple an Material."
So, I have only a suggestion, for us developers using glowstone I was curious if you guys would be able to make a God Apple (322:1) a material so we don't have to do constant round abouts or create methods to get them, that would be awesome!

Regards,
Jacop

[2017-04-20 16:48] gdude2002 commented on #463
That isn't really feasible, we have to support the Bukkit API correctly and that change doesn't really make any sense from a technical perspective.

Surely it isn't that hard to create an ItemStack of enchanted apples?

[2017-04-20 16:48] #463 closed, assigned to nobody

[2017-04-20 16:56] MrPowerGamerBR commented on #463
[code]

Come on, it isn't "that" hard...

Also, wouldn't that be a bit impossible? Since Materials are only mapped to IDs not IDs and item durability...

[2017-04-20 19:31] ghost commented on #397
I have had the same problem and I lost an entire map because something went catastrophically wrong with any chunk that had been built on already. When we tried to reload the map there was a small island of chunks and nothing would load. Ill have the same problem with the random wild teleport plugin, Ill go far away and end up underground due to no chunks loading fast enough to catch my free fall.

[2017-04-20 19:33] ghost opened #464 "caves are either not present or very small"
I located a problem server wide that caves dont seem to be present very often.
If they are, they are an indent with nothing more than a few blocks depth.

[2017-04-20 19:39] mastercoms commented on #397
Would you happen to have a copy of that world? It would be nice to be able to see it.

[2017-04-20 19:41] mastercoms commented on #464
Duplicate of #436.

Caves are not implemented.

[2017-04-20 19:41] #464 closed, assigned to nobody

[2017-04-20 19:42] ghost commented on #397
I will check on the server computer later in the week. Its an hour from my current location. I go there once a week to do maintenance and plugins. I may have deleted the entire pile of plugins and server and redid all downloads. I thought a hacker on my server had screwed something up but the one player left on the server typed, LOL Your server is not loading at all. I then flew to him and confirm

[2017-04-20 21:43] aramperes commented on #461
I cannot reproduce this locally. Skulls face the proper direction when I place them. Am I missing something @jasonstover9?

[2017-04-20 23:29] ghost commented on #461
Because its notches head on a kit plugin I am assuming its a problem with the plugin and not glowstone.

[2017-04-20 23:38] mastercoms commented on #461
Perhaps skulls with specific data are ignored for rotation?

[2017-04-21 19:56] ghost commented on #397
I snapped one screen shot of the event when it happened.
![2017-04-11_03 22 37](https://cloud.githubusercontent.com/assets/27814186/25293955/0be83058-26ab-11e7-9108-053c331e47c4.png)

[2017-04-21 20:14] mastercoms commented on #397
Hm, then your issue is not related to this one. I'll open a new bug report.

[2017-04-21 20:17] mastercoms opened #465 "Chunk corruption"
![corrupted](https://cloud.githubusercontent.com/assets/27814186/25293955/0be83058-26ab-11e7-9108-053c331e47c4.png)

_jasonstover9 [commented](https://github.com/GlowstoneMC/Glowstone/issues/397#issuecomment-295876267) on Apr 20, 2017, 3:42 PM EDT_

[2017-04-21 20:19] gdude2002 commented on #465
Do we actually know what's causing this one? Do we need @jasonstover9 to upload their world files?

[2017-04-25 11:10] minecrafter opened #466 "NullPointerException in GlowMetaBook"
Title: NullPointerException in GlowMetaBook

Glowstone build: #468

When I tested BuycraftX on Glowstone, I came across the error below relating to `GlowMetaBook`. The [relevant code](https://github.com/BuycraftPlugin/BuycraftX/blob/master/bukkit/src/main/java/net/buycraft/plugin/bukkit/gui/CategoryViewGUI.java#L250) works fine with Spigot 1.11.2, so this appears to be an issue with Glowstone.

Ex

[2017-04-25 15:00] aramperes commented on #466
Could you test the plugin with 59b7706dbf421df70e2186ff49b172251323a4d8?

[2017-04-25 19:38] minecrafter commented on #466
This issue is now resolved, but I've now found another:

Try using `/buy` with more than one category.

Here's Glowstone (broken):

![](https://screenshot.today/04-25-2017-15-35-01.png)

Here's Spigot (working):

![](https://screenshot.today/04-25-2017-15-37-08.png)

Specifically, these items are all books, but they have different display names. [This code](https://github.com/BuycraftPlugin/Buycra

[2017-04-25 22:59] aramperes commented on #466
Ok, I will take a look at that.

[2017-04-26 19:02] mastercoms commented on #353
Hm, patterns are implemented so it will just be a matter of updating the code for banners.

[2017-04-26 19:04] mastercoms commented on #341
Enchanting tables and beacons will be implemented fully in the Mining Update in July.

[2017-04-26 19:04] mastercoms commented on #355
This will be implemented in July for the Mining Update.

[2017-04-26 19:04] mastercoms commented on #305
I'm currently working on a good physics system for entities and then liquid will be able to push entities.

[2017-04-26 19:05] mastercoms commented on #456
I'll look into this but I think it's just a matter of us not specifying the cause.

[2017-04-30 07:19] satoshinm opened #467 "Fatal error compiling: java.lang.IllegalAccessError: class lombok.javac.apt.Processor (in unnamed module @0x18c23b6)"
Trying to get setup to build Glowstone, using latest commit from git (4506e5d39af45c0579e067390f3cd9689fca2f47 Fri Apr 28 14:48:58 2017 -0400), hitting this error:

[code]

Details on my setup:

* Followed the StackOverflow instructions to fix the dependencies: http://stackoverflow.com/questions/40048767/glowstone-install-maven-peer-not-authenticated-could-not-resolve-dependencies

Made these chan

[2017-04-30 13:25] mastercoms commented on #467
Don't change the pom. We require those versions specifically (that's why those versions are in the pom), and that's why it's not compiling for you. That Stack Overflow answer is completely wrong.

You need at least Java 8 update 101 to compile Glowstone because that's when Let's Encrypt was added to the Java truststore. We use Let's Encrypt on our Maven server. So, just remove those pom changes yo

[2017-04-30 13:31] #467 closed, assigned to nobody

[2017-04-30 17:13] satoshinm commented on #467
In case anyone was having this same error, the solution is to (not apply the workarounds from StackOverflow) and just update to Maven 3.5.0 from http://maven.apache.org.

Older versions of Maven (at least 3.0.5 which I was using) do not support [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication), so cannot connect to repo.glowstone.net which [requires SNI](https://www.ssllabs.com/ssltest/a

[2017-05-01 16:50] ghost opened #468 "GlowstonePE , new project?"
Hi.

Can you start one project GlowstonePE for MCPE? 👍

[2017-05-01 17:03] gdude2002 commented on #468
To my knowledge, we're not currently planning on supporting MCPE.

Why not keep an eye on ProtocolSupport instead?

[2017-05-01 17:03] #468 closed, assigned to nobody

[2017-05-01 18:44] ghost commented on #468
@gdude2002 Because not work dude

[2017-05-01 18:45] gdude2002 commented on #468
Well, yeah, MCPE support isn't complete for it yet. It'll happen in time. That project only has one developer, after all.

[2017-05-01 18:46] ghost commented on #468
@gdude2002 Dude, is abandonated. 23 days and no commit :(

[2017-05-01 18:48] gdude2002 commented on #468
It's not abandoned. There is a stall because of a required upcoming change in MCPE so that the inventory system will work in a sane way.

Either way, this is not the ProtocolSupport issue tracker, those complaints are best leveraged there.

[2017-05-01 19:37] mastercoms commented on #468
How can we maintain yet another project when we are already having a hard time developing Glowstone?

[2017-05-02 01:36] aramperes commented on #468
https://github.com/GlowstoneMC/Glowstone/wiki/Frequently-Asked-Questions#support-for-minecraft-pocket-edition

[2017-05-02 11:20] #454 closed, assigned to nobody

[2017-05-08 10:47] Christian7573 opened #471 "Armor Stands aren't functional"
Armor stands just don't work.

As I was programming in #470, I was having extreme trouble getting armor stands to work. A thought occurred to me that perhaps armor stands were broken in general. I placed one down, grabbed a diamond helmet and a diamond chestplate, and tried to equip them to the armor stand. It didn't equip nor take it out of my inventory.

Problems:
Equipping armor stands in game

[2017-05-08 10:49] mastercoms commented on #471
Last time I checked, this worked, so there was a regression somewhere. Perhaps the inventory updates for armor and contents to be better in line with the Bukkit spec broke compatibility with armor stands.

[2017-05-09 21:16] picknchew commented on #286
Seems to be an issue with the current version.
I managed to produce a stacktrace. Unsure if related:
[code]

[2017-05-09 23:57] mastercoms commented on #286
Related. The way we were using idle detection is broken on later versions, we have to find a workaround for it.

[2017-05-12 22:04] #370 closed, assigned to nobody

[2017-05-13 01:58] Christian7573 commented on #449
Is this still a current issue? I downloaded the latest build of glowstone and after messing around was not able to reproduce any of the bugs.

[2017-05-13 03:45] mastercoms commented on #449
This only applies to world generated water.

[2017-05-13 11:27] Christian7573 commented on #449
Oh Okee

[2017-05-13 12:58] Christian7573 commented on #435
![image](https://cloud.githubusercontent.com/assets/11007603/26025653/e8aee4e8-37b1-11e7-9578-331abe280055.png)
I'm not taking damage lol

[2017-05-13 13:11] mastercoms commented on #435
That's an unrelated issue, it's just that we don't check if a player is in fire.

[2017-05-13 13:14] Christian7573 commented on #435
Oh

[2017-05-13 16:15] mastercoms commented on #32
Closing due to Pore being dead, and the patches don't seem to add much for Bukkit plugins.

[2017-05-13 16:15] #32 closed, assigned to nobody

[2017-05-13 21:08] aramperes opened #472 "Duplication glitch with crafting and dropped items"
It is possible to create multiple items based off the same materials using the 2x2 inventory crafting grid.

For example, you can take 4 wood planks and craft a Crafting table. When closing your inventory, the planks used to craft the item will be dropped and can be picked up to craft the same item again. In addition, a couple more planks are dropped instead of the 4 you'd expect.

Video demonstra

[2017-05-14 15:20] aramperes commented on #466
Could you confirm that e77de71bd49ce31d4460870b7c40e9d9bc49b012 fixes the issue with `addItem()`? I did not test it.

[2017-05-20 04:39] satoshinm opened #474 "Burning furnace block not updated"
When you smelt something in a furnace, the GUI shows the smelting progress but the block does not update from Material.FURNACE to Material.BURNING_FURNACE.

Relogging does not update the furnace state either, so it is probably not (only) a missing update packet, but I'd suspect the block is not being replaced in the world at all. It should change to BURNING_FURNACE when smelting, then back to FURN

[2017-05-25 05:06] satoshinm opened #478 "Jack-o'-lanterns always place facing north"
When a jack-o'-lantern block is placed, the face always faces north (as if the player is looking north, the face towards the opposite, southern direction). Pumpkins do not have this problem, and correctly place facing the direction the player is facing.

Glowstone 496

[2017-05-25 17:13] #478 closed, assigned to nobody

[2017-05-25 22:25] mastercoms commented on #474
Should be an easy fix, but I'm going to refrain from fixing this until 1.12 is finished and mergable.

[2017-05-25 22:25] mastercoms commented on #462
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/f171c8203586d1a6e46b2a0d63f0ad7261078f44.

[2017-05-25 22:25] #462 closed, assigned to nobody

[2017-05-25 22:32] mastercoms commented on #459
Duplicate of #435.

[2017-05-25 22:32] #459 closed, assigned to nobody

[2017-05-28 23:05] mastercoms opened #481 "Client inventory out of bounds exception"
When sending a new inventory view to the client, the client finds that the length of the inventory sent is too large:

[code]

[2017-05-28 23:08] mastercoms commented on #472
So upon crafting, the crafting inputs are not properly cleared I guess?

Anyway, when 1.12 lands, unused inputs won't drop but will be added directly to the inventory, so this bug will be easier to exploit (it's sometimes hard to pick up dropped items :) )

[2017-05-29 18:54] satoshinm opened #482 "NPE when spawning Ender Dragon in End populator"
Fresh server install of Glowstone build 520, received this error during chunk generation of the end:

[code]

From reviewing the code, it looks like clazz is null here:

[code]

First I've seen this error today, maybe introduced by https://github.com/GlowstoneMC/Glowstone/commit/4c9f326456643eb3bbcfea8cf87c2c2fa7c6dbb8 Spawn the ender dragon in the end?

[2017-05-29 19:36] aramperes commented on #482
Likely because it is attempting to spawn an EntityType that has not been implemented and registered in the [EntityRegistry](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/entity/EntityRegistry.java#L33).

[2017-05-29 21:09] mastercoms commented on #482
Ah, I assumed ender dragon was implemented. Whoops.

[2017-05-30 03:11] satoshinm opened #484 "NPE at org.bukkit.material.Sign.getFacing(Sign.java:147)"
Load the world https://github.com/satoshinm/SignTestPlugin/blob/master/data/npe-getrelative166/r.0.0.mca, install this test plugin: https://github.com/satoshinm/SignTestPlugin, then login and place and break a block at (2, 77, 0). These errors will occur:

[code]

The plugin is simply calling toString on MaterialData, and getFacing() on Sign, both hit a NullPointerException in Glowkit src/main/jav

[2017-05-30 03:13] satoshinm commented on #484
Possible fix (tested locally but I'll need to research the glowkit patching system to submit a pull request), adding a straightforward null check in Glowkit getFacing():

[code]

Another possible option could be for getAttachedFace() to not return null if getData() is invalid, but fallback to a reasonable replacement value.

[2017-05-30 16:20] mastercoms commented on #484
@satoshinm Just setup the Glowkit repo with `glowkit p`.
Then, make your changes in Glowkit-Patched and then commit them. (`cd Glowkit-Patched`, `git commit -am "Patch name"`).
Finally, create a patch file from your commit using `glowkit rb`.

[2017-06-01 07:02] satoshinm opened #486 "NPE when picking up crafting result on workbench"
Place a crafting table, right-click to open it, place items to craft something (I used 8 planks in a square to make a chest), then click on the crafting output to pick it up. Glowstone build 520 errors out:

[code]

NPE occurs in [CraftingManager removeItems](https://github.com/GlowstoneMC/Glowstone/blob/99342e54c188a933fbb4d126d92befc03ca0f9bf/src/main/java/net/glowstone/inventory/crafting/Crafti

[2017-06-01 07:15] satoshinm commented on #482
For now should https://github.com/GlowstoneMC/Glowstone/commit/4c9f326456643eb3bbcfea8cf87c2c2fa7c6dbb8 be reverted?

[2017-06-01 12:32] #486 closed, assigned to satoshinm

[2017-06-01 16:08] mastercoms commented on #482
I think it would be better for ender dragon to be added.

[2017-06-01 16:10] mastercoms commented on #472
I think this was fixed with the change of the is empty check in the crafting manager.

[2017-06-01 16:11] #484 closed, assigned to nobody

[2017-06-01 17:23] #482 closed, assigned to mastercoms

[2017-06-01 23:31] mastercoms commented on #435
Will be fixed in this month's blocks update.

[2017-06-01 23:32] mastercoms commented on #466
Closing due to probable fix and inactivity.

[2017-06-01 23:32] #466 closed, assigned to nobody

[2017-06-01 23:33] #472 closed, assigned to nobody

[2017-06-03 15:33] awsqed opened #489 "Error saving GlowEnderDragon in GlowChunk"
Glowstone build: 2017.6.0-SNAPSHOT.a50bfef-MC1.11.2

I just afk and the error occured, 3 times.

---

[code]

[2017-06-03 15:41] aramperes commented on #489
Looks like EntityStorage for `GlowEnderDragon` isn't implemented. (cc @mastercoms)

[2017-06-04 23:11] #489 closed, assigned to mastercoms

[2017-06-04 23:11] mastercoms commented on #489
Yep, `GlowEnderDragon` is a rather lazy implementation.

[2017-06-07 06:39] satoshinm opened #490 "Server fails to start after initial worldgen, NPE at net.glowstone.GlowWorld.prepareSpawn(GlowWorld.java:796)"
Since build 538 with, Glowstone server is able to generate a fresh initial world but subsequent invocations fail with a null pointer exception and stop the server. If I revert https://github.com/GlowstoneMC/Glowstone/commit/f5abedc5d720dbd4c6f3cb8e1a1a711516e0fa69 I am able to start the server successfully. Full console log:

[code]

[2017-06-07 16:13] satoshinm commented on #490
The NPE is occurring here:

[code]

but if I add a null check:

[code]

then it crashes later (the fix may be more complicated):

[code]

[2017-06-08 17:54] #490 closed, assigned to aramperes

[2017-06-08 20:25] aramperes commented on #481
I'm not sure I understand how this issue can be recreated. I tried opening containers and other inventories and it worked fine. How is this error triggered?

[2017-06-08 20:29] mastercoms commented on #481
Try using the last slot of an inventory then.

[2017-06-09 00:24] aramperes commented on #481
I have made some research on this issue to find the cause.

It looks like there is an issue when calculating the contents of an Inventory view.
When opening a chest with this setup:

![](http://i.prntscr.com/dJclASkwTTeCVx43GCkaCQ.png)

I printed the values being passed to the `SetWindowContentsCodec`, which outputs:
[code]

However, when I check the [wiki reference](http://wiki.vg/Inventory#Chest

[2017-06-10 04:31] satoshinm opened #493 "/version command shows [INFO] Unknown version, custom build?"
When I run `/version`, it logs about a custom build, even though I am using an official build from https://www.glowstone.net/#downloads:

[code]

(where is it checking the version from?)

Glowstone build 544

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46076757-version-command-shows-info-unknown-version-custom-build?utm_campaign=

[2017-06-10 04:36] mastercoms commented on #493
The version command is from PaperAPI. It needs to be overridden with a new command for Glowstone. I don't want a patch for it in Glowkit because a implementation specific command like `version` does not make sense there. We should change the version command in Glowkit to be implementation agnostic (like the original Bukkit command), and then provide our own version command in Glowstone.

[2017-06-10 04:37] satoshinm opened #494 "/tp is no longer a recognized command (missing alias?)"
Glowstone 544 (1.12), the /tp command is now unknown:

[code]

I see there is a [TeleportCommand](https://github.com/GlowstoneMC/Glowstone/blob/b01b8fe825da866f98ae3c736040f50020333faa/src/main/java/net/glowstone/command/minecraft/TeleportCommand.java) and /teleport works, so this may be a matter of aliasing commands not working correctly?

[2017-06-10 04:38] mastercoms commented on #494
No alias was registered for TeleportCommand, so it isn't a result of aliasing commands not working correctly.

[2017-06-10 04:39] aramperes commented on #494
[`/teleport`](http://minecraft.gamepedia.com/Commands#teleport) is a different command than `/tp` (they have different uses and functionality). Since 1.12, Spigot has removed all command implementations from Bukkit.

We will be adding these commands back progressively, but as of right now, `/tp` has not been implemented in Glowstone.

[2017-06-10 04:45] satoshinm opened #495 "Config file config/glowstone.yml isn't valid: metrics-uuid-do-not-touch: !!java.util.UUID 'a2dc6f12-2439- ..."
Start Glowstone build 544, stop it, then rerun it again, it will invariably report an invalid configuration file:

[code]

If I delete config/glowstone.yml, then the program is fixed for the next time Glowstone runs, but when it is stopped and started again, the problem reoccurs again.

[2017-06-10 04:52] mastercoms commented on #495
A faulty merge caused this regression. https://github.com/GlowstoneMC/Glowstone/commit/75cbccb8406aca6022936664374080b67037fc81#diff-5c884f616dd119177358e8e95a713dcc

[2017-06-10 04:53] mastercoms commented on #495
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/e23f1c963b19347eb9680872bfc5d85a1ab924b2

[2017-06-10 04:53] #495 closed, assigned to nobody

[2017-06-10 05:59] satoshinm opened #496 "Setting signs with API creates invalid block data"
Glowstone 544. When a plugin sets a sign, then reads it back, it may return invalid data: specifically, setting a block to the `WALL_SIGN` material causes `getItemType()` to instead see `SIGN_POST`, so org.bukkit.block.material.Sign getFacing() will return the wrong data, likely leading to a crash in a plugin:

[code]

https://github.com/GlowstoneMC/Glowkit/pull/12 fixed the internal NPE, which is

[2017-06-10 13:41] aramperes commented on #496
@satoshinm I have implemented a fix for this in https://github.com/GlowstoneMC/Glowstone/commit/85f3e55ce16d26d3651c41d7845cc49a8d54b1fe, could you confirm if this matches the expected behavior?

e: Looks like this commit caused a regression when placing signs manually, I'm working on that now.
e2: reverted for now, I'll have to look more into this

[2017-06-16 14:47] turt2live commented on #270
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:47] turt2live commented on #569
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:47] #569 closed

[2017-06-16 14:47] turt2live commented on #565
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:47] turt2live commented on #527
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:47] #527 closed

[2017-06-16 14:47] turt2live commented on #523
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:47] #523 closed

[2017-06-16 14:48] turt2live commented on #421
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:48] #421 closed

[2017-06-16 14:48] turt2live commented on #418
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:48] #418 closed

[2017-06-16 14:48] turt2live commented on #411
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-16 14:48] turt2live commented on #325
Closing this to clean up my issues list on Github. If this is still an issue, please port it over to https://github.com/GlowstoneMC/Glowstone

[2017-06-17 19:45] gdude2002 opened #497 "RCON fails to bind"
This prevents the server from starting.

[code]

[2017-06-17 23:03] LuminousLoreBloom opened #498 "Ability to send block changes from chunks not in view"
Currently when a `sendBlockChange` or a `send#Change` method in GlowPlayer is called, action will only occur if the chunk is visible to the client at that current time.

It would be nice if you could send a block change in a chunk the client doesn't know about, for it to optionally be stored in memory and when their known chunks update, for it to send the block change if it belongs to that chunk.

[2017-06-19 11:31] mastercoms commented on #498
So like a queue for block changes? That could be useful, but I think it should be in a new method so we don't change functionality with the current method, which may result in confusion.

@momothereal, the project lead, will probably have more to say.

[2017-06-23 04:05] aramperes opened #499 "Implementing vanilla commands"
Most vanilla commands were [removed](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/commits/a1cc4b769caf690b2f075f833c83e76d6431f9a7) from Bukkit as part of the 1.12 update. Therefore, we need to re-implement them ourselves to get them back in Glowstone.

This is a list of commands that need to be implemented:

- [x] ~~`/achievement`~~ (removed from Minecraft, not needed)
- [ ] `/adva

[2017-06-23 16:30] aramperes commented on #494
Closing in favor of #499

[2017-06-23 16:30] #494 closed, assigned to aramperes

[2017-06-23 20:10] #497 closed, assigned to nobody

[2017-06-23 23:49] aramperes commented on #396
Rewrote this issue to reflect the bounty, as well as updating what needs to be done (and removing what has already been completed).

[2017-06-24 00:46] alula opened #500 "Not using Log4j breaks plugins"
Glowstone build: every? (tested on #550 and #551)

Glowstone doesn't contain Log4j so it breaks many plugins, even mine, so i had to write an server engine detector.

[code]

Plugin src if you want: https://github.com/gabixdev/NekoooGuilds

[2017-06-24 02:26] mastercoms commented on #500
It can be added to the library manager for now?

[2017-06-24 10:06] gdude2002 opened #501 "[#396] Entities: Physics [$205]"
[![Bountysource bounty badge](https://api.bountysource.com/badge/issue?issue_id=46548044)](https://www.bountysource.com/issues/46548044-396-entities-physics)

This issue is part of [this story](https://github.com/GlowstoneMC/Glowstone/issues/396), *Completing entities in Glowstone* (#396). To make the work easier and bounties fairer, we've split it into multiple issues.

Anyone can participate in

[2017-06-24 10:06] gdude2002 opened #502 "[#396] Entities: AI [$65]"
[![Bountysource bounty](https://api.bountysource.com/badge/issue?issue_id=46548045)](https://www.bountysource.com/issues/46548045-396-entities-ai)

This issue is part of [this story](https://github.com/GlowstoneMC/Glowstone/issues/396), *Completing entities in Glowstone* (#396). To make the work easier and bounties fairer, we've split it into multiple issues.

Anyone can participate in the complet

[2017-06-24 10:06] gdude2002 opened #503 "[#396] Entities: Pathfinding [$50]"
[![Bountysource bounty](https://api.bountysource.com/badge/issue?issue_id=46548046)](https://www.bountysource.com/issues/46548046-396-entities-pathfinding)

This issue is part of [this story](https://github.com/GlowstoneMC/Glowstone/issues/396), *Completing entities in Glowstone* (#396). To make the work easier and bounties fairer, we've split it into multiple issues.

Anyone can participate in th

[2017-06-24 10:06] gdude2002 opened #504 "[#396] Entities: Implementation [$50 awarded]"
[![Bountysource bounty](https://api.bountysource.com/badge/issue?issue_id=46548049)](https://www.bountysource.com/issues/46548049-396-entities-implementation)

This issue is part of [this story](https://github.com/GlowstoneMC/Glowstone/issues/396), *Completing entities in Glowstone* (#396). To make the work easier and bounties fairer, we've split it into multiple issues.

Anyone can participate in

[2017-06-24 10:06] gdude2002 opened #505 "[#396] Entities: Projectiles [$50 awarded]"
[![Bountysource bounty](https://api.bountysource.com/badge/issue?issue_id=46548051)](https://www.bountysource.com/issues/46548051-396-entities-projectiles)

This issue is part of [this story](https://github.com/GlowstoneMC/Glowstone/issues/396), *Completing entities in Glowstone* (#396). To make the work easier and bounties fairer, we've split it into multiple issues.

Anyone can participate in th

[2017-06-24 19:48] satoshinm opened #506 "Tool should affect block mining speed"
Implement http://minecraft.gamepedia.com/Breaking#Speed, to summarize:

* Tool types: 1.5x slower if can tool can mine the block, 5x slower if cannot
* Tool materials: 2x, 4x, 6x, 8x, or 12x faster for wood, stone, iron, diamond, gold tool materials
* Special cases: shears 15x (5x on wool) and sword 1.5x (15x on cobwebs)

https://github.com/GlowstoneMC/Glowstone/pull/473 added basic block hardness

[2017-06-24 19:53] gdude2002 commented on #506
You weren't that far behind, were you? Or did you mean personal time?

[2017-06-24 20:03] satoshinm commented on #506
Ya, I just didn't have the time to put on the finishing touches, although it was very close. Could be a good start for someone to work on for a complete fix (including shears/swords and wool/cobwebs).

[2017-06-26 22:31] aramperes commented on #499
Implementation of the commands marked as 'essential' is complete, and ready for the 2017.6.1 release. Feel free to contribute to the implementation of the remaining commands!

[2017-06-27 08:41] gdude2002 commented on #396
Bountysource has helped us out by moving most of the bounties to the smaller tickets as users have been requesting. If you want to post a bounty, please post it to one of those instead.

[2017-06-27 12:35] Postremus opened #507 "Explosions destroy to much blocks"
Hello,

I tested around with tnt a bit. The destroyed blocks do not seem to match vanilla.

Steps to reproduce:
1) Create a 7x7 endstone platform
2) place a tnt in the middle
3) ignite it

In vanilla, only a 3x3 hole is created. In glowstone, the complete platform is destroyed.

![grafik](https://user-images.githubusercontent.com/1223135/27587738-c70df52e-5b45-11e7-8f36-6292aae02c0d.png)
(from van

[2017-06-27 14:01] Postremus opened #508 "ExplosionMessage is only sent to players that get damaged"
Hi,

Did some more testing. The explosion particles are not visible when you are not in the range of the explosion.
How to reproduce:
1) Place a tnt block
2) ignite it
3) Go a few block (20 or so) away

In vanilla, the explosion is visible from far away.

In glowstone, the explosion is not visible.
However, when you get damaged by the explosion, you will see the particles.

Version:
`
This server

[2017-06-27 14:21] mastercoms commented on #508
Explosion play out and damage routines should be separated. https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/Explosion.java#L234

[2017-06-27 14:27] mastercoms commented on #507
Blast resistance is not defined for end stone in https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/resources/builtin/materialValues.yml.

Could you try with cobblestone? If it is matched there, then it is just a matter of the blast resistance value not being defined, rather than an error in the actual calculations.

[2017-06-27 14:39] Postremus commented on #507
Glowstone:
![grafik](https://user-images.githubusercontent.com/1223135/27593265-ffb655ae-5b56-11e7-9793-feabd11b7ce5.png)

Vanilla:
![grafik](https://user-images.githubusercontent.com/1223135/27593308-1eef6410-5b57-11e7-81ae-228dc73a7f96.png)

[2017-06-27 17:22] #508 closed, assigned to nobody

[2017-06-27 20:15] robotman3000 commented on #13
What version of minecraft should the behavior for the remaining commands match?

[2017-06-27 20:18] mastercoms commented on #13
Glowstone targets the latest Minecraft version, so 1.12

[2017-06-27 20:19] mastercoms commented on #13
Though, this issue is better: #499

[2017-06-27 20:19] robotman3000 commented on #13
Cool, thanks.

[2017-06-27 20:20] robotman3000 commented on #13
Is there a specific reason why this issue is still open?

[2017-06-27 20:21] gdude2002 commented on #13
I was just about to close it in favour of #499 tbh

[2017-06-27 20:21] #13 closed, assigned to nobody

[2017-06-28 09:40] gdude2002 commented on #507
![](http://pix.toile-libre.org/upload/original/1498642821.png)

[2017-06-28 09:43] LuminousLoreBloom opened #510 "Chunk errors upon relog"
Hi,

When I re-logged into a Glowstone server I created yesterday I was presented with the error messages I have attached below. Unfortunately I do not have any reproduction steps as I do not know the root cause other than leaving my computer idle for 14 hours remaining logged in to the server.

My world was generated using Glowstone and not imported from any other Minecraft server impls. I also t

[2017-06-28 09:44] gdude2002 commented on #510
Hmm, that's an odd one. Have you noticed any negative effects as a result of this?

[2017-06-28 09:55] LuminousLoreBloom commented on #510
Not so far, will post back if I do.

[2017-06-28 22:27] #507 closed, assigned to nobody

[2017-06-29 05:10] Postremus opened #512 "Can't kill myself in gamemode 1"
Hey,

I can't kil myself when I am in gamemode 1.

Steps to reproduction:
1) /gamemode 1
2) /kill

In vanilla, I get killed.
In GlowStone, I get the chat message "Killed Postremus", but I'am still alive

Server version:
`
This server is running Glowstone version 2017.6.1-SNAPSHOT.a146dea-MC1.12 (Implementing API version 1.12-R0.1-SNAPSHOT)
`

regards
Postremus

[2017-06-29 05:16] mastercoms commented on #512
Kill does damage, but players can't take damage in creative mode unless the damage cause is void. The canTakeDamage method in GlowHumanEntity should be updated to allow for suicide damage as well.

[2017-06-29 16:32] Postremus commented on #460
Starting work on this

[2017-06-29 22:29] Postremus commented on #460
Most likely cause for this is a strange PlayerPositionLookMessage send from the client.
Before killing myself, I was at x=71.0, y=68.0, z=80.0.
The spawn is also at x=71.0, y=68.0, z=80.0.

`
2:32:43 [INFORMATION] Postremus issued command: /kill
22:32:50 [INFORMATION] received: PlayerPositionLookMessage(onGround=false, x=8.5, y=70.0, z=8.5, yaw=180.0, pitch=0.0)
`
This message basicly means, that

[2017-06-30 17:39] Postremus commented on #460
Did some more testing.
Apperantly, we need to send the PositionRotationMessage before we send chunk data, when:
- the player joins
- the player respawns

otherwise, the client just sends garbage for hist first position update

[2017-07-01 17:56] #512 closed, assigned to nobody

[2017-07-01 20:34] #474 closed, assigned to mastercoms

[2017-07-01 22:15] aramperes opened #514 "Investigate and Implement "Polyglot Maven""
It has been suggested that we could use the [Polyglot Maven](https://github.com/takari/polyglot-maven) extension to replace our XML pom file.

This extension adds support for different dialects (Ruby, Groovy, etc.), and some of them allow the use of inline scripts/plugins when building.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2017-07-01 22:47] #460 closed, assigned to nobody

[2017-07-02 01:29] aramperes commented on #456
Should be fixed by 120ce9a67c38e7eecf23ac6cb9f6cdd50a75fe63

[2017-07-02 01:29] #456 closed, assigned to nobody

[2017-07-02 01:35] aramperes commented on #448
Closing in favor of #501

[2017-07-02 01:35] #448 closed, assigned to nobody

[2017-07-02 02:44] mastercoms commented on #514
Would this remove the need to switch to Gradle?

Also I think we should use the Ruby or Scala languages, since they have the most features.

[2017-07-02 11:31] Postremus opened #515 "Explosions fake destroy wrong blocks"
Hello,

Explosions seem to be able to "fake" destroy blocks, like obsidian. The server sends that the block got destroyed in the ExplosionMessage. After a rejoin, the obsidian will be there again.

Hot to reproduce:
1) Build something like this:
![grafik](https://user-images.githubusercontent.com/1223135/27769485-8d205f26-5f2a-11e7-8252-950ad3bb893d.png)
2) Let it explode
3) The Obsidian blocks se

[2017-07-02 13:09] piratjsk opened #516 "Some events can't be canceled"
- `org.bukkit.event.server.ServerCommandEvent` <sup>[1](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/ConsoleManager.java#L284)</sup>
- `org.bukkit.event.server.RemoteServerCommandEvent` <sup>[1](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/net/rcon/RconHandler.java#L89)</sup>
- `org.bukkit.event.world.WorldUnloadEvent` <sup>[1

[2017-07-02 14:32] #516 closed, assigned to nobody

[2017-07-02 18:28] #515 closed, assigned to nobody

[2017-07-02 19:44] Postremus commented on #471
I will work on this

[2017-07-02 20:38] #433 closed, assigned to aramperes

[2017-07-02 23:02] #481 closed, assigned to nobody

[2017-07-03 01:15] aramperes commented on #267
Fixed in ff6912d9cf01ba1fdd147580c88744f7dfb1d48f

[2017-07-03 01:15] #267 closed, assigned to mastercoms

[2017-07-05 16:35] Postremus opened #519 "Named sound id are wrong in some cases"
Hello,

I wanted to implement equipment sounds for armor stand (see #471).
"Sound.ITEM_ARMOR_EQUIP_LEATHER" maps to id "minecraft:item.armor.equip.leather". According to http://pokechu22.github.io/Burger/1.11.html#sounds however, it should be "minecraft:item.armor.equip_leather".

The same is the case for multiple, if not all, of the armor_equip sounds.

regards
Postremus

<bountysource-plugin>

-

[2017-07-05 22:15] mastercoms commented on #519
I honestly think the sounds map is useless for 1.11+, so that should be removed as well. Instead, there should be a map of sound ID exceptions.

[2017-07-08 03:22] aramperes commented on #338
That branch is now, in my opinion, largely out of date. A complete re-do of our redstone system is needed and this would make this branch obsolete.

I will leave the `command-blocks` branch up for future reference.

[2017-07-08 06:12] #471 closed, assigned to nobody

[2017-07-08 06:28] Postremus opened #522 "Multiple passengers need to be implemented"
Currently, Glowstone only supports one passenger. Since 15w41a, multiple are possible through the `Passengers` tag in vanilla.
This tag needs to be implemented correctly, and the api implementation has to be adjusted.

See:
http://minecraft.gamepedia.com/15w41a
http://wiki.vg/Protocol#Set_Passengers
https://beta.glowstone.net/jd/glowkit/org/bukkit/entity/Entity.html#getPassengers--
https://github.

[2017-07-08 17:18] Postremus commented on #522
Will work on this.

[2017-07-08 23:43] sgdc3 commented on #514
What's the problem with maven?

[2017-07-08 23:44] sgdc3 commented on #514
Polyglot would break some integration with ci services and etc... XML is fine, what's the problem with it?

[2017-07-08 23:46] sgdc3 commented on #500
Usually plugin interact with log4j in order to filter the console output, adding the library would fix the CNFE but is not going to emulate the expected behaviour.

[2017-07-08 23:47] sgdc3 commented on #500
What about that? https://logging.apache.org/log4j/2.0/log4j-to-slf4j/index.html

[2017-07-09 02:41] mastercoms commented on #514
Nothing, I prefer Maven, too. But a few people have been talking about Gradle for a while now.

Well the inline scripts feature is very useful. Also XML is redundant/verbose for many cases, less readable and sometimes cumbersome. I'm not sure how it would break anything, though. Isn't Polyglot handled through Maven?

[2017-07-09 02:43] mastercoms commented on #500
Glowstone uses jul.

Also this expected behavior is implementation specific, so I don't think we should worry about it. It restricts what we want for our logging system. Though, it is up to @momothereal to decide what logging system we should use.

Adding the library is sufficient I think, since it will allow the plugin to load.

[2017-07-09 02:44] sgdc3 commented on #514
It depends, services like versioneye relies on directly parsable pom. Now idk the services you're using.

[2017-07-09 02:46] sgdc3 commented on #514
Maven is complex but it is still more powerful, glowstone has a simple lifecycle, but a project with many modules with strange lifecycles would be very difficult to manage with gradle.

[2017-07-09 02:48] sgdc3 commented on #500
Uh, i thought slf4j was a standard nowadays xD

[2017-07-09 02:49] mastercoms commented on #514
pom.xml is deployed for Ruby and Scala polyglot. I'm not exactly sure how VersionEye works but if it access repositories to check for version info, then it would work. However, I don't believe we use VersionEye. We use CircleCI to build.

About Gradle, I agree that Maven is the superior choice, but still there are people who prefer Gradle. I feel like a lot of sentiments from the Gradle crowd woul

[2017-07-09 02:54] mastercoms commented on #500
Yeah but doesn't vanilla use slf4j-jdk14? So we would have to lose performance if we wanted to support it, and lose even more if we wanted to use logback and then still support vanilla's logging system.

[2017-07-11 22:05] puigru opened #525 "Crafting inventories don't support shift-clicking"
Hello,

While testing Glowstone on the test server, I noticed that if you attempt to retrieve an item from the result slot in a crafting inventory by shift-clicking, the item will disappear server-side.

Glowstone build: 983

[2017-07-11 22:13] puigru opened #526 "Result slot not being updated when crafting more than one of a specific item"
Hello,

While testing Glowstone on the test server, whenever I attempted to craft more than one of a specific item, the result slot on crafting inventories wouldn't update, leaving it empty.

![2017-07-12_00 11 47](https://user-images.githubusercontent.com/7153662/28093240-c06620f0-6696-11e7-97ed-af68d8049d6a.png)

Glowstone build: 983

[2017-07-11 22:56] aramperes commented on #525
Are there any relevant error logs for this?

[2017-07-11 23:03] puigru commented on #525
@momothereal I just tested the latest artifact (985) locally, as my tests were done on mc.glowstone.net, and there were no errors shown in the console.

[2017-07-15 01:21] #522 closed, assigned to nobody

[2017-07-23 00:14] #526 closed, assigned to nobody

[2017-07-23 00:15] aramperes commented on #525
Fixed in 0ca671017009c8822a99bb88b6feb3fe53b85341

[2017-07-23 00:15] #525 closed, assigned to nobody

[2017-07-25 09:07] gdude2002 commented on #500
I think this is tricky as there are definitely solid use-cases for manipulating the loggers in a cross-server way.

For example, there are Discord plugins that use log4j to send server console output to Discord. That's not going to work on Glowstone.

[2017-07-25 09:28] sgdc3 commented on #500
Also authme or other auth plugins need to hide user passwords from console.

[2017-07-25 09:42] Foorack commented on #500
@sgdc3 Why? If a server owner wanted to access people's passwords then they easily could even if they weren't visible in console. 🤔

[2017-07-25 09:46] gdude2002 commented on #500
Could they? Are you sure about that? :P

I suppose you could if you were intercepting commands manually, but aside from that, I'd hope they were hashed..

[2017-07-25 09:53] Scarsz commented on #500
@gdude2002 he's talking about the login command. When a player joins, they have to issue a command to authorize themselves- that command contains their password. `/login mysuperlongpassword`

[2017-07-25 09:59] Foorack commented on #500
@gdude2002 Any simple command logger plugin should do. ☺️

[2017-07-25 10:03] gdude2002 commented on #500
That would count as intercepting commands. :P

[2017-07-25 10:30] sgdc3 commented on #500
@Foorack a bad server owner ;)

[2017-08-09 02:34] yangm97 commented on #500
So I’m new to glowstone, searched for “authme” on the issue tracker then I saw this. Does that mean the most popular authentication plugin for spigot doesn’t work on glowstone simply because of a log driver issue?

[2017-08-09 06:14] gdude2002 commented on #500
I'm pretty sure you can still do that stuff with `jul`, you'd just have to support it explicitly.

Also if the issue was really actually simple then it would probably be fixed by now :P

[2017-08-09 06:47] yangm97 commented on #500
I was not clear enough ¯\\_(ツ)_/¯
I was asking as an user “if I drop this to the plugin folder will it work even without author changing stuff?” as in “damn, I need to ask every plugin author to fix something so small on their end”.
Sorry if it felt like I was calling the issue on the Glowstone end simple.

[2017-08-09 08:00] gdude2002 commented on #500
I have no idea - I don't see it on the [plugin compatibility table](https://airtable.com/shrJ8ValYIyktzbLn/tblRCjECISReNFUVt/viwMf9Bxt4NbItoaw). Why not try it and [report back](https://airtable.com/shrRF0w9ojlF8poEk)?

[2017-08-09 15:42] mastercoms commented on #500
The ClassNotFoundException should definitely be fixed, and it will be a simple fix on Glowstone's part.

[2017-08-10 13:08] Postremus opened #541 "EntityType.isSpawnable() not always suitable for SummonCommand"
Hello,

In Vanilla, I can spawn a `fireworks_rocket` entity using:
`/summon minecraft:fireworks_rocket ~ ~ ~ {Life:0,LifeTime:0}`
Without the nbt, vanilla still spawns a firework entity, which plays some particles, and dies immediately.

In Glowstone however, this will not be possible in the summon command.
https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glowstone/command/mi

[2017-08-11 04:47] yangm97 commented on #500
Tried running AuthMe with the latest commit from master (bf69637286e428c15955887c8683d661696f3050), got the same error as the OP:

[code]

[2017-08-11 18:28] aramperes commented on #500
@mastercoms The log says `Aborting initialization of AuthMe: [NoClassDefFoundError]: org/apache/logging/log4j/core/Filter` which is the reason the server shuts down in the first place.

E: comment was deleted

[2017-08-11 18:31] aramperes commented on #500
Perhaps we are including the wrong library?

[2017-08-11 18:32] mastercoms commented on #500
`log4j-core-2.8.1.jar` contains `org/apache/logging/log4j/core/Filter`.

[2017-08-11 18:36] mastercoms commented on #500
I could not reproduce this error on Glowstone version 2017.8.1-SNAPSHOT.3b7499a-MC1.12.1.
[code]

@yangm97 could you give the full log for server startup? and list files in the lib folder.

[2017-08-11 18:41] yangm97 commented on #500
[log-2017-08-11.txt](https://github.com/GlowstoneMC/Glowstone/files/1218789/log-2017-08-11.txt)

log4j-api-2.8.1.jar
log4j-core-2.8.1.jar
mysql-connector-java-5.1.42.jar
sqlite-jdbc-3.16.1.jar

[2017-08-11 18:42] mastercoms commented on #500
What are the file sizes for log4j-api-2.8.1.jar and log4j-core-2.8.1.jar?

[2017-08-11 18:43] yangm97 commented on #500
32KB and 25KB

[2017-08-11 18:48] yangm97 commented on #500
Huh, deleting the lib folder and letting it download the libraries again led to bigger, working files. Sorry for reopening this issue.

But I might suggest adding some checksum to these files, to make sure the server re-downloads them in case they get corrupt.

[2017-08-11 18:50] mastercoms commented on #500
I have quite a few library manager improvements in the works, but I'm awaiting the Java 9 release for that.

These improvements will make the library manager much more robust, improve modularity and allow for better mod/plugin support enhanced by Shine.

[2017-08-11 18:52] aramperes commented on #500
Closing this issue as the initial problem has been resolved -- other suggestions about the library manager, including checksums can be done in a new issue :)

[2017-08-11 18:52] #500 closed, assigned to nobody

[2017-08-11 19:03] yangm97 opened #543 "Add checksum to library manager"
Glowstone build: bf69637286e428c15955887c8683d661696f3050

Sometimes, library files might get corrupt (either because of an unfinished download, bit rot, god hating you, etc). Currently the library manager doesn’t check the validity of these files, which can lead to unexpected behaviour. I suggest adding checksum verification to these files, but there could be cheaper ways of achieving the same re

[2017-08-11 19:24] aramperes commented on #543
On a technical perspective, it is possible to obtain the original SHA1 and MD5 hashes of a JAR directly from the repository (for example, https://repo.glowstone.net/service/local/repositories/central/content/org/apache/logging/log4j/log4j-core/2.8.2/log4j-core-2.8.2.jar.sha1)

[2017-08-11 19:25] mastercoms commented on #543
But that requires downloading a file :)

[2017-08-11 19:28] aramperes commented on #543
I guess we're going to have to hard-code the checksum too then.

[2017-08-11 19:51] Postremus opened #545 "Regional difficulty needs to be implemented"
Currently, Glowstone has no concept of regional difficulty. RD and Clamped RD affects how some entities should behave.
There does not seem to be any api which needs to be implemented for this.

See:
https://minecraft.gamepedia.com/Difficulty#Regional_difficulty
https://minecraft.gamepedia.com/Difficulty#Other_effects

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](htt

[2017-08-11 23:05] aramperes commented on #465
Closing this as the original reporter deleted their account, and we've never been able to reproduce this.

[2017-08-11 23:05] #465 closed, assigned to nobody

[2017-08-11 23:07] aramperes commented on #305
Closing in favor of #501

[2017-08-11 23:07] #305 closed, assigned to mastercoms

[2017-08-13 06:56] yangm97 opened #547 "Issue with AuthMe and proxy-support"
Looking at the logs, both Bungeecord and Glowstone are receiving the correct player IP:

[code]

[code]

But looking at the AuthMe database, you can see that AuthMe has, somehow, received the Bungeecord IP from Glowstone and is using that instead of the player IP:

![screen shot 2017-08-13 at 03 55 16](https://user-images.githubusercontent.com/4412002/29246869-60ee637c-7fdb-11e7-9d87-807093f5de8e.

[2017-08-13 15:36] mastercoms commented on #547
It won't be able to censor commands unless it adds support for Glowstone. It uses a different logging interface than what Glowstone uses. The IP problem is strange, though. Also, you may want to censor your IP :).

[2017-08-13 17:09] yangm97 commented on #547
My IP is dynamic, so it has probably changed itself a number of times already but thanks :)

I will give a shout to AuthMe devs regarding the logging interface then.

[2017-08-14 21:17] Foorack commented on #543
I don't think it is necessary to hard-code the checksum. It is extremely unlikely for the SHA1 to match if either of the files is corrupted.

[2017-08-14 21:53] aramperes commented on #543
@Foorack Yes, but when it comes to file verification against threats like man-in-the-middle attacks, having the SHA downloaded from the internet defeats the purpose

[2017-08-14 21:56] Foorack commented on #543
@momothereal I was more thinking of file corruption. If you are worrying about MITM attack then it should rather enforce HTTPS at download.

[2017-08-18 01:29] aramperes opened #548 "Shift-clicking a stack from a container to the inventory shows wrong item count"
When shift-clicking a stack from a container (like a chest) into an inventory containing another (non-full) stack of the same type, the stacks will not combine: the clicked stack will use the default shift-click behavior (last available slot in hotbar), while the client expects the items to be merged into one.

This will temporarily make the inventory un-synced with the client because it expects v

[2017-08-18 01:36] aramperes opened #549 "Unleashed animals will spawn with broken lead item when loaded"
Animals that are not leashed will make a new lead item spawn once they are loaded from the world.
![2017-08-17_21 33 44](https://user-images.githubusercontent.com/6775216/29440552-fee84d0c-8393-11e7-8d4b-252a96a630b3.png)

Steps to reproduce:
1. Spawn an animal (e.g. a cow)
2. Restart the server
3. A lead item will be created next to the animal

I am using a build for commit ea2763e

[2017-08-18 15:43] Postremus opened #550 "/tp player toplayer does not work"
Hello,

I tried to teleport myself to an test account of mine using `/tp Postremus otheraccount`.
This did not work.
As output in the chat I got `Teleported Postremus to Postremus`, and was, presumably, teleported to myself.

Expected behavior is that I can teleport to another account using this syntax.

regards,
Postremus

[2017-08-18 16:11] Foorack commented on #550
@Postremus I find it weird that you were able to teleport a player to a player, as that does not seem to be implemented in the code. :thinking:

[2017-08-18 16:14] Postremus commented on #550
Ah, most likely the other account just got ignored, and something which resembles `/tp Postremus` got executed.

[2017-08-18 16:28] Postremus opened #551 "Players head rotation does not get sent"
Hello,

The change in head rotation of a player is not visible to another player.
1. Join with 2 accounts
2. Look at the second account with the first account
3. Move the head of the second account

You won't see a change in the rotation of the second players head.

Most likely cause is that the `headRotated` flag of a GlowLivingEntity is never set for Players.

regards
Postremus

[2017-08-18 17:25] #551 closed, assigned to Postremus

[2017-08-18 20:39] #549 closed, assigned to Postremus

[2017-08-19 15:44] Postremus commented on #547
I was not able to reproduce the problem that authme uses the bungeecord ip.
Have you set `proxy-support` to true?

[2017-08-19 17:45] yangm97 commented on #547
Yes. As you can see, the forwarded IP can be seen on GlowStone logs.

I’m afraid this might be somehow related to the way networking works in docker swarm. I’ve seen some issues on their side too, but as soon as I changed the port mapping mode to “host”, both bungee and glowstone started seeing the player IP (see  [this comment](https://github.com/moby/moby/issues/25526#issuecomment-274810667)).

[2017-08-19 18:09] mastercoms commented on #547
Relevant AuthMe code: https://github.com/AuthMe/AuthMeReloaded/blob/1f8307c8f6457741a130bccecc1d75977d99fe54/src/main/java/fr/xephi/authme/util/PlayerUtils.java#L39

[2017-08-19 19:24] yangm97 commented on #547
[temp.zip](https://github.com/GlowstoneMC/Glowstone/files/1236587/temp.zip)

This is my (stripped down) server. Removed most plugins and config so you can deploy only the relevant parts (lobby(glowstone), bungeecord and database).
Build with: `docker-compose build` and deploy with `docker stack deploy -c docker-compose.yml whateverstackname`. Bungeecord will be listening on the default minecraft p

[2017-08-24 17:32] Postremus opened #552 "Passenger are wrongly sent to other players"
The passengers do net appear to be correctly sent in every case.

To reproduce
1. Join with multiple accounts
2. Let account 1 enter a boat, and leave the boat again

Account 2 will see account 1 still sitting in the boat.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48608083-passenger-are-wrongly-sent-to-other-players?utm_campai

[2017-08-26 11:28] notourist commented on #550
Why are there two distinct teleport commands (/tp and /teleport)? Shouldn't they be the same?

[2017-08-26 11:41] mastercoms commented on #550
https://minecraft.gamepedia.com/Commands#teleport

https://minecraft.gamepedia.com/Commands#tp

[2017-08-26 21:11] aramperes commented on #499
I added some more commands to this list, that were not implemented in Bukkit either.

[2017-08-27 20:43] aramperes commented on #550
Fixed in #554

[2017-08-27 20:43] #550 closed, assigned to nobody

[2017-08-30 20:21] puigru opened #556 "When dropping an item, it gets applied way too much force"
Glowstone build: 2017.8.1

When you drop an item, instead of dropping it right in front of you, it gets sent flying away.

Noticed on the test server, no logs.

[2017-08-30 20:27] puigru commented on #556
Nevermind, just noticed this is mentioned in #501.

[2017-08-30 20:27] #556 closed, assigned to nobody

[2017-08-31 23:07] #548 closed, assigned to nobody

[2017-09-02 12:35] notourist opened #559 "Can't add Enchantment to ItemStack"
I'm currently trying to implement the enchant command.

Theoretically my [code](https://github.com/schweinefilet/Glowstone/blob/36420b6b77fb324db202e88d128a051b1abcdc8d/src/main/java/net/glowstone/command/minecraft/EnchantCommand.java#L78) *should* work but it doesn't. No errors or warnings are thrown but I can't seem to add an enchantment to the currently hold ItemStack. I checked the [GlowAnvilI

[2017-09-02 16:10] mastercoms commented on #559
Hm, that is strange. I'll test your branch soon and see what's going on.

[2017-09-04 13:52] mastercoms commented on #559
Wasn't able to test your branch yet due to time constraints, but try removing your filter statements to see if there's a bad filter. Then, try writing the logic to not use streams or lambdas. That's all I can really tell from just reading your code, sorry.

[2017-09-04 15:35] notourist commented on #559
I just checked it again - and immediately found the problem:
 https://github.com/GlowstoneMC/Glowstone/blob/2f45cfcaeb1cbefd0b508be4ddc8acb557fa3184/src/main/java/net/glowstone/inventory/GlowPlayerInventory.java#L326

The Stack just gets cloned >.>

[2017-09-04 15:35] #559 closed, assigned to nobody

[2017-09-12 12:07] euisuny opened #565 "Server Connection Timeout: OutOfMemory Error"
<img width="917" alt="screen shot 2017-09-05 at 11 33 08 am" src="https://user-images.githubusercontent.com/14916264/30324917-b793d0aa-9790-11e7-90d6-a09a6fc8a159.png">

I have been running a Glowstone server for about 2 weeks, and there hasn't been much use of the server during the time period.

However, when I tried to connect to the server, it gave me a time out error on the client side, and th

[2017-09-12 12:10] gdude2002 commented on #565
Out of memory error. Seems like there's either a memory leak, or you had enough activity to blow past all the RAM you had assigned to the process.

Depending on how much RAM your machine has, you can change how much is assigned using the `-Xms` and `-Xmx` command-line switches.

For example, the recommended way to run Glowstone is as follows:

[code]

This allocates 1GB of RAM for the process. If

[2017-09-12 12:11] euisuny commented on #565
I will try that. Thank you!

[2017-09-12 12:11] #565 closed, assigned to nobody

[2017-09-26 19:00] #541 closed, assigned to nobody

[2017-09-29 15:01] gdude2002 commented on #504
As @Postremus has done almost all of this ticket himself and the $20 bounty on it was placed by him originally, I've decided to double it.

Since it looks like you're gonna get the bounty when this ticket is closed, Postremus, grats and thanks for contributing!

[2017-09-29 16:44] aramperes opened #567 "Fishing isn't implemented"
Fishing is not currently implemented.

Required components:

 - [x] Fishing Hook entity & Fishing Rod implementation
 - [x] Fishing loot
 - [x] Fishing enchantments

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49884410-fishing-isn-t-implemented?utm_campaign=plugin&utm_content=tracker%2F14691067&utm_medium=issues&utm_source=github

[2017-09-29 16:45] aramperes commented on #504
Since all the tasks have been completed, the issue can be closed. The bounty will be awarded shortly to @Postremus.

*e: [bounty awarded](https://www.bountysource.com/issues/46548049-396-entities-implementation)*

[2017-09-29 16:45] #504 closed, assigned to Postremus

[2017-10-03 18:06] TheDiamondYT1 opened #570 "Clarify the edition"
I still think it was dumb of Microsoft to rename Minecraft, but since they did, i think you should clarify the edition of the game this server works with, or in the future you may be getting people who are very confused.

Minecraft: Java Edition is the official name.

[2017-10-04 01:26] #570 closed, assigned to nobody

[2017-10-13 02:33] aramperes opened #571 "Snapshot Inventories need to be implemented"
As of 1.12.2, Spigot has introduced Inventory Snapshots in their API. The use of this function and how to implement it has to be investigated.

Sources of interest:

https://github.com/GlowstoneMC/Glowstone/blob/47db4c461f2077620731692777c07e146af4d3f1/src/main/java/net/glowstone/block/state/GlowContainer.java#L126-L128 (which is re-implemented in some classes that have custom inventory types, lik

[2017-10-13 02:39] aramperes opened #572 "Player MapView sending API"
The API to send MapViews to a Player isn't implemented: https://github.com/GlowstoneMC/Glowstone/blob/12ed57cc436ee2b525d740bef2b855150fe0bd24/src/main/java/net/glowstone/entity/GlowPlayer.java#L2247-L2249

This should send a packet (`MapDataMessage`) that sends the data inside of the MapView.

To check:

- If the [codec](https://github.com/GlowstoneMC/Glowstone/blob/master/src/main/java/net/glows

[2017-10-15 00:21] smartboyathome commented on #338
One interesting tidbit I found out about when implementing the /testfor command: Apparently some commands give off a different redstone signal strength when executed by a command block. In /testfor's case, the signal strength changes depending on the number of targets it matched. Currently, the command API only supports a boolean success/failure, so this should probably be added to the list of tas

[2017-10-18 02:44] aramperes opened #574 "Using random target selector (@r) with 1 player causes exception"
Using the `@r` target selector when there is only 1 player online may cause this exception:
[code]

Glowstone build: 47db4c461f2077620731692777c07e146af4d3f1

Relevant:
https://github.com/GlowstoneMC/Glowstone/blob/47db4c461f2077620731692777c07e146af4d3f1/src/main/java/net/glowstone/command/CommandTarget.java#L239-L246

[2017-10-20 22:22] #574 closed, assigned to nobody

[2017-10-21 13:46] TuxCoding opened #576 "Java 9 support for downloaded libraries"
Title: Java 9 support for downloaded libraries
Glowstone build: 4534b4a5

Java 9 changed the system class loader and therefore we can no longer call addURL to dynamically load the library files. [Paperclip](https://github.com/PaperMC/Paperclip) had the same issue and they solved it [by using a Java agent](https://github.com/PaperMC/Paperclip/blob/d0395f6304db49e4472dab9dbf247e994a1122b8/java9/src/

[2017-10-21 14:09] gdude2002 commented on #576
Thanks for creating the ticket - we do actually know about this one. @mastercoms has some plans for it, I think.

[2017-10-22 20:16] masrourmouad opened #580 "List easily accessible builds of Glowstone on website"
Can you please setup a Jenkins server, it will make troubleshooting  Glowstone easy and make it move accessible to users; thanks ;)

[2017-10-22 20:17] mastercoms commented on #580
https://glowstone.net/#builds

It's a planned feature for our website, but I don't think we will use Jenkins, and rather just use CircleCI's API to list builds.

[2017-10-22 20:18] mastercoms commented on #580
Closing as it is a duplicate of https://github.com/GlowstoneMC/Site/issues/1

[2017-10-22 20:18] #580 closed, assigned to nobody

[2017-10-31 16:50] Microsamp opened #584 "ConcurrentModificationException, while spawning zombie"
java.util.ConcurrentModificationException
	at java.util.ArrayList.forEach(Unknown Source)
	at net.glowstone.entity.ai.TaskManager.pulse(TaskManager.java:66)
	at net.glowstone.entity.GlowEntity.pulse(GlowEntity.java:470)
	at net.glowstone.entity.GlowLivingEntity.pulse(GlowLivingEntity.java:184)
	at net.glowstone.entity.monster.GlowMonster.pulse(GlowMonster.java:54)
	at net.glowstone.GlowWorld.pulse

[2017-10-31 17:59] aramperes commented on #584
This is because the ArrayList in the task manager isn't concurrent, I'm not sure if fixing this would be much harder than changing the list to a Concurrent Set.

[2017-10-31 18:07] Microsamp commented on #584
Normal concurrent lists/sets don't support concurrent iterating in most cases.

So here we have to implement own synchronisation(e.g. synchronized-blocks or ReadWriteLock).

Alternative way(using Collections.synchronizedList()); Use .iterator() and call hasNext() and next() in a while loop

[2017-11-23 05:32] #584 closed, assigned to nobody

[2017-11-25 23:42] #435 closed, assigned to nobody

[2017-12-02 05:44] aramperes commented on #461
I have not been able to reproduce this at all, so I am closing it.

[2017-12-02 05:44] #461 closed, assigned to nobody

[2017-12-02 05:57] aramperes opened #591 "Items 'appear' to fall, but stay at the same location."
On the client's perspective, items fall down due to gravity. The falling motion looks a bit glitchy. However, the item doesn't actually fall down, and its location stays the same.

Build: 44f4218

Video example: https://momoperes.ca/videos/item_physics.mp4

[2017-12-02 05:58] aramperes commented on #510
@Mystiflow any updates on this issue?

[2017-12-02 06:10] #591 closed, assigned to nobody

[2017-12-03 17:37] mastercoms commented on #510
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/98aeb192d084e3768b86eb2d2a68020a4b1d9975

[2017-12-03 17:37] #510 closed, assigned to nobody

[2017-12-03 17:37] mastercoms commented on #199
Fixed in https://github.com/GlowstoneMC/Glowstone/commit/98aeb192d084e3768b86eb2d2a68020a4b1d9975

[2017-12-03 17:37] #199 closed, assigned to mastercoms

[2017-12-03 23:03] #458 closed, assigned to nobody

[2017-12-03 23:03] mastercoms commented on #458
Child issues fixed.

[2017-12-07 07:33] andylizi opened #592 "DeflaterOutputStream won't close its underlying deflater under certain circumstance"
Please excuse any grammar errors I may make, I'm not a native English speaker :)

From [DeflaterOutputStream.java](https://github.com/dmlloyd/openjdk/blob/jdk8u/jdk8u/jdk/src/share/classes/java/util/zip/DeflaterOutputStream.java#L231-L244):
[code]
The deflater will close only if `usesDefaultDeflater` is set to true, so when a custom deflater was passed to DeflaterOutputStream's constructor, **it'l

[2017-12-07 18:22] mastercoms commented on #592
The only solutions I've thought of is making the way to get chunk data streams much more complicated and less standardized or doing a costly reflection operation to set `usesDefaultDeflater` to true, so therefore, it's been like this for now.

The benefits of being able to set a larger buffer size and more optimal deflater outweigh the cost of that extra memory usage from the leak, in my opinion.

[2017-12-08 02:40] andylizi commented on #592
thanks for the explanation :)

[2017-12-08 15:56] kaenganxt opened #593 "Cancelling InventoryClickEvent doesn't update client correctly"
Cancelling the InventoryClickEvent in Glowstone doesn't behave correctly.

When cancelling the InventoryClickEvent an update packet for the cursor is sent to the client, so when picking up an item from a slot, the item disappears on the cursor. The slot where the item was taken from stays empty, as no update packet is sent for any other inventory slots. The slot stays empty until the inventory is

[2017-12-08 16:47] kaenganxt opened #594 "Inventory is not closed when teleporting"
When a player is teleported, the currently active non-player inventory should be closed to match Spigot behaviour.

As some plugins depend on this behaviour (clicking on a warp icon in an inventory) I think Glowstone should also close the inventory on teleport.

[2017-12-08 19:41] kaenganxt opened #595 "PlayerInteractEvent is never fired with Action.RIGHT_CLICK_AIR"
I tested some plugins with glowstone and realized that the PlayerInteractEvent is never fired with `Action.RIGHT_CLICK_AIR`.

The only place in the code where `RIGHT_CLICK_AIR` is used, is [when the right clicked blocked does not exist](https://github.com/GlowstoneMC/Glowstone/blob/dev/src/main/java/net/glowstone/net/handler/play/player/BlockPlacementHandler.java#L115), and even then the event is

[2017-12-11 16:11] #286 closed, assigned to mastercoms

[2017-12-17 01:08] #594 closed, assigned to nobody

[2017-12-23 16:03] #595 closed, assigned to nobody

[2018-01-03 14:59] #429 closed, assigned to aramperes

[2018-01-08 19:19] #543 closed, assigned to mastercoms

[2018-01-11 20:17] #576 closed, assigned to smartboyathome, mastercoms

[2018-01-18 19:33] #455 closed, assigned to nobody

[2018-01-22 03:15] #111 closed, assigned to nobody

[2018-01-23 22:51] #496 closed, assigned to nobody

[2018-02-04 20:00] #505 closed, assigned to nobody

[2018-02-06 23:52] #593 closed, assigned to Pr0methean

[2018-03-17 07:21] #592 closed, assigned to nobody

[2018-05-20 16:36] #506 closed, assigned to nobody

[2021-07-15 01:24] #545 closed, assigned to nobody

[2021-07-15 01:25] #514 closed, assigned to nobody

[2021-07-15 01:32] #457 closed, assigned to nobody

[2021-07-15 04:27] #567 closed, assigned to nobody